USE [master]
GO
/****** Object:  Database [ObstetricsClinicDB]    Script Date: 6/9/2026 5:13:14 PM ******/
CREATE DATABASE [ObstetricsClinicDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ObstetricsClinicDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ObstetricsClinicDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ObstetricsClinicDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ObstetricsClinicDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ObstetricsClinicDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ObstetricsClinicDB]
GO
/****** Object:  Table [dbo].[appointments]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NULL,
	[doctor_id] [int] NULL,
	[pregnancy_id] [int] NULL,
	[appointment_date] [date] NULL,
	[booking_source] [varchar](50) NULL,
	[symptoms] [varchar](max) NULL,
	[last_menstrual_period] [date] NULL,
	[is_emergency] [bit] NULL,
	[status] [varchar](30) NULL,
	[service_id] [int] NULL,
	[time_slot] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[audit_logs]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action] [varchar](255) NULL,
	[table_name] [varchar](100) NULL,
	[old_value] [varchar](max) NULL,
	[new_value] [varchar](max) NULL,
	[ip_address] [varchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_schedules]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_schedules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_id] [int] NULL,
	[work_date] [date] NULL,
	[start_time] [time](7) NULL,
	[end_time] [time](7) NULL,
	[is_approved] [bit] NULL,
	[max_slots] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctors]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[full_name] [varchar](100) NULL,
	[specialization] [varchar](100) NULL,
	[phone_number] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice_items]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NULL,
	[item_type] [varchar](50) NULL,
	[item_id] [int] NULL,
	[quantity] [int] NULL,
	[unit_price] [decimal](18, 2) NULL,
	[subtotal] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appointment_id] [int] NULL,
	[total_amount] [decimal](18, 2) NULL,
	[status] [varchar](30) NULL,
	[transaction_code] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lab_results]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lab_results](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test_order_id] [int] NULL,
	[service_id] [int] NULL,
	[result_details] [varchar](max) NULL,
	[image_url] [varchar](255) NULL,
	[lab_technician_id] [int] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medical_records]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medical_records](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appointment_id] [int] NULL,
	[clinical_notes] [varchar](max) NULL,
	[final_diagnosis] [varchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicines]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicines](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[price] [decimal](18, 2) NULL,
	[unit] [varchar](20) NULL,
	[medicine_code] [varchar](50) NULL,
	[dosage] [nvarchar](100) NULL,
	[stock_quantity] [int] NULL,
	[description] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[title] [varchar](255) NULL,
	[content] [nvarchar](max) NOT NULL,
	[channel] [varchar](50) NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token] [varchar](255) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[is_used] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patients]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[full_name] [varchar](100) NULL,
	[phone_number] [varchar](20) NULL,
	[date_of_birth] [date] NULL,
	[zalo_user_id] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[permission_key] [varchar](100) NOT NULL,
	[permission_name] [nvarchar](200) NOT NULL,
	[module] [varchar](50) NOT NULL,
	[description] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NULL,
 CONSTRAINT [PK_permissions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pregnancies]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pregnancies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NULL,
	[start_date] [date] NULL,
	[estimated_due_date] [date] NULL,
	[actual_delivery_date] [date] NULL,
	[pregnancy_status] [varchar](50) NULL,
	[fetus_count] [int] NULL,
	[notes] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescription_items]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescription_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medicine_id] [int] NULL,
	[prescription_id] [int] NULL,
	[quantity] [int] NULL,
	[dosage] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescriptions]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescriptions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medical_record_id] [int] NULL,
	[prescription_code] [varchar](50) NULL,
	[status] [varchar](30) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appointment_id] [int] NULL,
	[rating] [int] NULL,
	[comment] [varchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[role_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
 CONSTRAINT [PK_role_permissions] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_categories]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[duration_mins] [int] NULL,
	[requires_fasting] [bit] NULL,
	[requires_full_bladder] [bit] NULL,
	[required_room_type] [varchar](50) NULL,
	[allowed_specialties] [varchar](255) NULL,
	[service_name] [nvarchar](150) NOT NULL,
	[price] [decimal](18, 2) NULL,
	[service_code] [varchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sonographers]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sonographers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[experience_years] [int] NULL,
	[qualification] [varchar](100) NULL,
	[room_no] [varchar](20) NULL,
	[status] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test_orders]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medical_record_id] [int] NULL,
	[doctor_id] [int] NULL,
	[status] [varchar](30) NULL,
	[created_at] [datetime] NULL,
	[service_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ultrasound_results]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ultrasound_results](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medical_record_id] [int] NULL,
	[sonographer_id] [int] NULL,
	[raw_image_url] [varchar](255) NULL,
	[ai_processed_image_url] [varchar](255) NULL,
	[ai_suggested_label] [varchar](255) NULL,
	[ai_confidence_score] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/9/2026 5:13:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[email] [varbinary](256) NULL,
	[password_hash] [varchar](255) NULL,
	[phone] [varbinary](256) NULL,
	[role_id] [int] NULL,
	[status] [varchar](30) NULL,
	[verification_token] [varchar](255) NULL,
	[is_verified] [bit] NULL,
	[google_id] [varchar](255) NULL,
	[auth_provider] [varchar](20) NOT NULL,
	[username] [nvarchar](50) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[audit_logs] ON 

INSERT [dbo].[audit_logs] ([id], [user_id], [action], [table_name], [old_value], [new_value], [ip_address], [created_at]) VALUES (1, NULL, N'T?o m?i h? so b?nh nhân Hoàng Th? My', N'patients', N'-', N'4', N'Staff', CAST(N'2026-06-07T03:49:48.250' AS DateTime))
INSERT [dbo].[audit_logs] ([id], [user_id], [action], [table_name], [old_value], [new_value], [ip_address], [created_at]) VALUES (2, NULL, N'T?o l?ch h?n th? công cho s?n ph? Hoàng Th? My', N'appointments', N'-', N'7', N'Staff', CAST(N'2026-06-07T03:49:48.727' AS DateTime))
SET IDENTITY_INSERT [dbo].[audit_logs] OFF
GO
SET IDENTITY_INSERT [dbo].[medicines] ON 

INSERT [dbo].[medicines] ([id], [name], [price], [unit], [medicine_code], [dosage], [stock_quantity], [description], [is_active], [created_at], [updated_at]) VALUES (1, N'S?t Ferrovit', CAST(120000.00 AS Decimal(18, 2)), N'h?p', NULL, NULL, 0, NULL, 1, CAST(N'2026-06-07T22:15:40.3400000' AS DateTime2), CAST(N'2026-06-07T22:15:40.3400000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[medicines] OFF
GO
SET IDENTITY_INSERT [dbo].[notifications] ON 

INSERT [dbo].[notifications] ([id], [user_id], [title], [content], [channel], [is_read], [created_at]) VALUES (1, NULL, N'Hoàng Th? My', N'L?ch h?n khám s?n c?a b?n lúc 09:00 - 09:20 ngày 2026-06-07 dã du?c dang ký. Vui lòng d?n dúng gi? d? ti?n hành khám.', N'Zalo', 0, CAST(N'2026-06-07T03:49:48.980' AS DateTime))
SET IDENTITY_INSERT [dbo].[notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[password_reset_tokens] ON 

INSERT [dbo].[password_reset_tokens] ([id], [user_id], [token], [expires_at], [is_used], [created_at]) VALUES (1, 1, N'bf9faea2-1334-4925-8662-6309d51a78ce', CAST(N'2026-05-30T23:38:22.1031459' AS DateTime2), 1, CAST(N'2026-05-30T22:38:22.1300000' AS DateTime2))
INSERT [dbo].[password_reset_tokens] ([id], [user_id], [token], [expires_at], [is_used], [created_at]) VALUES (2, 1, N'398111b7-414f-4cf1-91bf-9b4ad95877fc', CAST(N'2026-05-30T23:45:02.4064302' AS DateTime2), 1, CAST(N'2026-05-30T22:45:02.4366667' AS DateTime2))
INSERT [dbo].[password_reset_tokens] ([id], [user_id], [token], [expires_at], [is_used], [created_at]) VALUES (3, 1, N'9159a85f-6934-4971-877c-95b5098f6864', CAST(N'2026-05-30T23:46:45.0206174' AS DateTime2), 1, CAST(N'2026-05-30T22:46:45.0500000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[password_reset_tokens] OFF
GO
SET IDENTITY_INSERT [dbo].[patients] ON 

INSERT [dbo].[patients] ([id], [user_id], [full_name], [phone_number], [date_of_birth], [zalo_user_id]) VALUES (1, 4, N'Nguy?n Th? Lan', N'0911111111', CAST(N'1996-05-12' AS Date), N'zalo_001')
INSERT [dbo].[patients] ([id], [user_id], [full_name], [phone_number], [date_of_birth], [zalo_user_id]) VALUES (2, 5, N'Tr?n Th? Mai', N'0922222222', CAST(N'1994-08-21' AS Date), N'zalo_002')
INSERT [dbo].[patients] ([id], [user_id], [full_name], [phone_number], [date_of_birth], [zalo_user_id]) VALUES (3, 6, N'Lê Th? Hoa', N'0933333333', CAST(N'1998-11-10' AS Date), N'zalo_003')
SET IDENTITY_INSERT [dbo].[patients] OFF
GO
SET IDENTITY_INSERT [dbo].[permissions] ON 

INSERT [dbo].[permissions] ([id], [permission_key], [permission_name], [module], [description], [created_at]) VALUES (1, N'user.view', N'Xem danh sách người dùng', N'users', N'Xem danh sách và thông tin chi tiết người dùng', CAST(N'2026-06-01T22:50:52.3133333' AS DateTime2))
INSERT [dbo].[permissions] ([id], [permission_key], [permission_name], [module], [description], [created_at]) VALUES (2, N'user.create', N'Tạo người dùng mới', N'users', N'Tạo tài khoản người dùng mới trong hệ thống', CAST(N'2026-06-01T22:50:52.3166667' AS DateTime2))
INSERT [dbo].[permissions] ([id], [permission_key], [permission_name], [module], [description], [created_at]) VALUES (3, N'user.edit', N'Chỉnh sửa thông tin người dùng', N'users', N'Cập nhật thông tin cá nhân và vai trò của người dùng', CAST(N'2026-06-01T22:50:52.3166667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[pregnancies] ON 

INSERT [dbo].[pregnancies] ([id], [patient_id], [start_date], [estimated_due_date], [actual_delivery_date], [pregnancy_status], [fetus_count], [notes]) VALUES (1, 1, CAST(N'2026-01-10' AS Date), CAST(N'2026-10-17' AS Date), NULL, N'ONGOING', 1, N'Thai k? bình thu?ng')
INSERT [dbo].[pregnancies] ([id], [patient_id], [start_date], [estimated_due_date], [actual_delivery_date], [pregnancy_status], [fetus_count], [notes]) VALUES (2, 2, CAST(N'2026-02-01' AS Date), CAST(N'2026-11-08' AS Date), NULL, N'ONGOING', 1, N'C?n theo dõi huy?t áp')
INSERT [dbo].[pregnancies] ([id], [patient_id], [start_date], [estimated_due_date], [actual_delivery_date], [pregnancy_status], [fetus_count], [notes]) VALUES (3, 3, CAST(N'2026-03-05' AS Date), CAST(N'2026-12-10' AS Date), NULL, N'ONGOING', 2, N'Thai dôi')
SET IDENTITY_INSERT [dbo].[pregnancies] OFF
GO
INSERT [dbo].[role_permissions] ([role_id], [permission_id], [created_at]) VALUES (1, 1, CAST(N'2026-06-01T22:50:52.3733333' AS DateTime2))
INSERT [dbo].[role_permissions] ([role_id], [permission_id], [created_at]) VALUES (1, 2, CAST(N'2026-06-01T22:50:52.3766667' AS DateTime2))
INSERT [dbo].[role_permissions] ([role_id], [permission_id], [created_at]) VALUES (1, 3, CAST(N'2026-06-01T22:50:52.3766667' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [role_name], [description]) VALUES (1, N'Admin', N'Quản trị viên hệ thống — có toàn quyền truy cập và quản lý tất cả chức năng.')
INSERT [dbo].[roles] ([id], [role_name], [description]) VALUES (2, N'Doctor', N'Bác sĩ — khám bệnh, xem và cập nhật bệnh án, kê đơn thuốc, xem kết quả siêu âm.')
INSERT [dbo].[roles] ([id], [role_name], [description]) VALUES (3, N'Manager', N'Quản lý phòng khám — giám sát hoạt động, xem báo cáo, quản lý thanh toán.')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[service_categories] ON 

INSERT [dbo].[service_categories] ([id], [category_name]) VALUES (1, N'Khám thai')
INSERT [dbo].[service_categories] ([id], [category_name]) VALUES (2, N'Siêu âm')
INSERT [dbo].[service_categories] ([id], [category_name]) VALUES (4, N'Tu v?n')
SET IDENTITY_INSERT [dbo].[service_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[services] ON 

INSERT [dbo].[services] ([id], [category_id], [duration_mins], [requires_fasting], [requires_full_bladder], [required_room_type], [allowed_specialties], [service_name], [price], [service_code], [description], [is_active], [created_at], [updated_at]) VALUES (1, 1, 20, 0, 0, N'EXAM_ROOM', N'S?n ph? khoa', N'Khám thai d?nh k?', CAST(200000.00 AS Decimal(18, 2)), NULL, NULL, 1, CAST(N'2026-06-07T22:15:40.5066667' AS DateTime2), CAST(N'2026-06-07T22:15:40.5066667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[services] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON

-- ============================================================
-- MA HOA: email & phone duoc ma hoa bang ENCRYPTBYPASSPHRASE
-- Passphrase: ClinicAppKey2026!
--
-- Giai ma khi SELECT:
--   SELECT id, full_name,
--     CONVERT(VARCHAR(100), DECRYPTBYPASSPHRASE('ClinicAppKey2026!', email)) AS email,
--     CONVERT(VARCHAR(20), DECRYPTBYPASSPHRASE('ClinicAppKey2026!', phone)) AS phone
--   FROM users;
--
-- Tim kiem theo email (can giai ma truoc):
--   SELECT * FROM users WHERE
--     CONVERT(VARCHAR(100), DECRYPTBYPASSPHRASE('ClinicAppKey2026!', email)) = 'email@example.com';
-- ============================================================

INSERT [dbo].[users] ([id], [full_name], [email], [password_hash], [phone], [role_id], [status], [verification_token], [is_verified], [google_id], [auth_provider], [username], [is_deleted], [updated_at]) VALUES (1, N'Hieu pham', ENCRYPTBYPASSPHRASE('ClinicAppKey2026!', N'duct7578@gmail.com'), N'$2a$12$hpPU0iUu3XUVr4OO8bZotOQvemB07CFZyWGdn1KDCMbT0ZAI8G5Ui', ENCRYPTBYPASSPHRASE('ClinicAppKey2026!', N'0921312587'), 5, N'Active', NULL, 1, NULL, N'local', N'duct7578@gmail.com', 0, NULL)
INSERT [dbo].[users] ([id], [full_name], [email], [password_hash], [phone], [role_id], [status], [verification_token], [is_verified], [google_id], [auth_provider], [username], [is_deleted], [updated_at]) VALUES (2, N'Hieu pham', ENCRYPTBYPASSPHRASE('ClinicAppKey2026!', N'duct4500@gmail.com'), N'$2a$12$PZ3jz4Mq6yOzdVX40snhxOPfzKLvtgIa8kYH09LkcbIaqckBQLYoS', ENCRYPTBYPASSPHRASE('ClinicAppKey2026!', N'0921312587'), 5, N'Pending Verification', N'0e4e9d72-7b2d-42f5-9a67-b88a77d8bb96', 0, NULL, N'local', N'duct4500@gmail.com', 0, NULL)
INSERT [dbo].[users] ([id], [full_name], [email], [password_hash], [phone], [role_id], [status], [verification_token], [is_verified], [google_id], [auth_provider], [username], [is_deleted], [updated_at]) VALUES (3, N'Hieu pham', ENCRYPTBYPASSPHRASE('ClinicAppKey2026!', N'duct4500@gmail.com'), N'$2a$12$NXZwpFqJjOKiNIwqAmcbIOyCbGwz9IWjuJpc.NMwDhwlLas2Ee4w6', ENCRYPTBYPASSPHRASE('ClinicAppKey2026!', N'0921312587'), 5, N'Pending Verification', N'df927683-d8d7-469c-bdc2-d1e90d56b429', 0, NULL, N'local', N'duct4500@gmail.com_2', 0, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [UQ__doctors__B9BE370E684C9714]    Script Date: 6/9/2026 5:13:14 PM ******/
ALTER TABLE [dbo].[doctors] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__medicine__72E12F1B74AE0075]    Script Date: 6/9/2026 5:13:14 PM ******/
ALTER TABLE [dbo].[medicines] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_medicines_code]    Script Date: 6/9/2026 5:13:14 PM ******/
ALTER TABLE [dbo].[medicines] ADD  CONSTRAINT [UQ_medicines_code] UNIQUE NONCLUSTERED 
(
	[medicine_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_password_reset_tokens_token]    Script Date: 6/9/2026 5:13:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_password_reset_tokens_token] ON [dbo].[password_reset_tokens]
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__patients__B9BE370EBBA3F801]    Script Date: 6/9/2026 5:13:14 PM ******/
ALTER TABLE [dbo].[patients] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_permissions_key]    Script Date: 6/9/2026 5:13:14 PM ******/
ALTER TABLE [dbo].[permissions] ADD  CONSTRAINT [UQ_permissions_key] UNIQUE NONCLUSTERED 
(
	[permission_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_roles_role_name]    Script Date: 6/9/2026 5:13:14 PM ******/
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [UQ_roles_role_name] UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__service___5189E2557E952F69]    Script Date: 6/9/2026 5:13:14 PM ******/
ALTER TABLE [dbo].[service_categories] ADD UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_services_code]    Script Date: 6/9/2026 5:13:14 PM ******/
ALTER TABLE [dbo].[services] ADD  CONSTRAINT [UQ_services_code] UNIQUE NONCLUSTERED 
(
	[service_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__sonograp__B9BE370E1417AC46]    Script Date: 6/9/2026 5:13:14 PM ******/
ALTER TABLE [dbo].[sonographers] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_username]    Script Date: 6/9/2026 5:13:14 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ_users_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_users_google_id]    Script Date: 6/9/2026 5:13:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_users_google_id] ON [dbo].[users]
(
	[google_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_google_id]    Script Date: 6/9/2026 5:13:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_users_google_id] ON [dbo].[users]
(
	[google_id] ASC
)
WHERE ([google_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[lab_results] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[medical_records] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[medicines] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[medicines] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[medicines] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[medicines] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  DEFAULT ((0)) FOR [is_used]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[prescriptions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[services] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[services] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[services] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[test_orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_verified]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('local') FOR [auth_provider]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[patients] ([id])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([pregnancy_id])
REFERENCES [dbo].[pregnancies] ([id])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_doctor]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[patients] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_patient]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_pregnancy] FOREIGN KEY([pregnancy_id])
REFERENCES [dbo].[pregnancies] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_pregnancy]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_service]
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD  CONSTRAINT [FK_audit_logs_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[audit_logs] CHECK CONSTRAINT [FK_audit_logs_users]
GO
ALTER TABLE [dbo].[doctor_schedules]  WITH CHECK ADD FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[doctor_schedules]  WITH CHECK ADD  CONSTRAINT [fk_doctor_schedules_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[doctor_schedules] CHECK CONSTRAINT [fk_doctor_schedules_doctor]
GO
ALTER TABLE [dbo].[doctors]  WITH CHECK ADD  CONSTRAINT [FK_doctors_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[doctors] CHECK CONSTRAINT [FK_doctors_users]
GO
ALTER TABLE [dbo].[invoice_items]  WITH CHECK ADD FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([id])
GO
ALTER TABLE [dbo].[invoice_items]  WITH CHECK ADD  CONSTRAINT [fk_invoice_items_invoice] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([id])
GO
ALTER TABLE [dbo].[invoice_items] CHECK CONSTRAINT [fk_invoice_items_invoice]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [fk_invoices_appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [fk_invoices_appointment]
GO
ALTER TABLE [dbo].[lab_results]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[lab_results]  WITH CHECK ADD FOREIGN KEY([test_order_id])
REFERENCES [dbo].[test_orders] ([id])
GO
ALTER TABLE [dbo].[lab_results]  WITH CHECK ADD  CONSTRAINT [fk_lab_results_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[lab_results] CHECK CONSTRAINT [fk_lab_results_service]
GO
ALTER TABLE [dbo].[lab_results]  WITH CHECK ADD  CONSTRAINT [fk_lab_results_test_order] FOREIGN KEY([test_order_id])
REFERENCES [dbo].[test_orders] ([id])
GO
ALTER TABLE [dbo].[lab_results] CHECK CONSTRAINT [fk_lab_results_test_order]
GO
ALTER TABLE [dbo].[medical_records]  WITH CHECK ADD FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[medical_records]  WITH CHECK ADD  CONSTRAINT [fk_medical_records_appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[medical_records] CHECK CONSTRAINT [fk_medical_records_appointment]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK_notifications_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK_notifications_users]
GO
ALTER TABLE [dbo].[password_reset_tokens]  WITH CHECK ADD  CONSTRAINT [FK_password_reset_tokens_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[password_reset_tokens] CHECK CONSTRAINT [FK_password_reset_tokens_users]
GO
ALTER TABLE [dbo].[patients]  WITH CHECK ADD  CONSTRAINT [FK_patients_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[patients] CHECK CONSTRAINT [FK_patients_users]
GO
ALTER TABLE [dbo].[pregnancies]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[patients] ([id])
GO
ALTER TABLE [dbo].[pregnancies]  WITH CHECK ADD  CONSTRAINT [fk_pregnancies_patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[patients] ([id])
GO
ALTER TABLE [dbo].[pregnancies] CHECK CONSTRAINT [fk_pregnancies_patient]
GO
ALTER TABLE [dbo].[prescription_items]  WITH CHECK ADD FOREIGN KEY([medicine_id])
REFERENCES [dbo].[medicines] ([id])
GO
ALTER TABLE [dbo].[prescription_items]  WITH CHECK ADD FOREIGN KEY([prescription_id])
REFERENCES [dbo].[prescriptions] ([id])
GO
ALTER TABLE [dbo].[prescription_items]  WITH CHECK ADD  CONSTRAINT [fk_prescription_items_medicine] FOREIGN KEY([medicine_id])
REFERENCES [dbo].[medicines] ([id])
GO
ALTER TABLE [dbo].[prescription_items] CHECK CONSTRAINT [fk_prescription_items_medicine]
GO
ALTER TABLE [dbo].[prescription_items]  WITH CHECK ADD  CONSTRAINT [fk_prescription_items_prescription] FOREIGN KEY([prescription_id])
REFERENCES [dbo].[prescriptions] ([id])
GO
ALTER TABLE [dbo].[prescription_items] CHECK CONSTRAINT [fk_prescription_items_prescription]
GO
ALTER TABLE [dbo].[prescriptions]  WITH CHECK ADD FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_records] ([id])
GO
ALTER TABLE [dbo].[prescriptions]  WITH CHECK ADD  CONSTRAINT [fk_prescriptions_medical_record] FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_records] ([id])
GO
ALTER TABLE [dbo].[prescriptions] CHECK CONSTRAINT [fk_prescriptions_medical_record]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [fk_reviews_appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [fk_reviews_appointment]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_perm] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_perm]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_role]
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[service_categories] ([id])
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD  CONSTRAINT [fk_services_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[service_categories] ([id])
GO
ALTER TABLE [dbo].[services] CHECK CONSTRAINT [fk_services_category]
GO
ALTER TABLE [dbo].[sonographers]  WITH CHECK ADD  CONSTRAINT [FK_sonographers_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[sonographers] CHECK CONSTRAINT [FK_sonographers_users]
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_records] ([id])
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD  CONSTRAINT [fk_test_orders_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[test_orders] CHECK CONSTRAINT [fk_test_orders_doctor]
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD  CONSTRAINT [fk_test_orders_medical_record] FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_records] ([id])
GO
ALTER TABLE [dbo].[test_orders] CHECK CONSTRAINT [fk_test_orders_medical_record]
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD  CONSTRAINT [fk_test_orders_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[test_orders] CHECK CONSTRAINT [fk_test_orders_service]
GO
ALTER TABLE [dbo].[ultrasound_results]  WITH CHECK ADD FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_records] ([id])
GO
ALTER TABLE [dbo].[ultrasound_results]  WITH CHECK ADD FOREIGN KEY([sonographer_id])
REFERENCES [dbo].[sonographers] ([id])
GO
ALTER TABLE [dbo].[ultrasound_results]  WITH CHECK ADD  CONSTRAINT [fk_ultrasound_results_medical_record] FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_records] ([id])
GO
ALTER TABLE [dbo].[ultrasound_results] CHECK CONSTRAINT [fk_ultrasound_results_medical_record]
GO
ALTER TABLE [dbo].[ultrasound_results]  WITH CHECK ADD  CONSTRAINT [fk_ultrasound_results_sonographer] FOREIGN KEY([sonographer_id])
REFERENCES [dbo].[sonographers] ([id])
GO
ALTER TABLE [dbo].[ultrasound_results] CHECK CONSTRAINT [fk_ultrasound_results_sonographer]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [fk_users_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [fk_users_role]
GO
USE [master]
GO
