USE [ObstetricsClinicDB]
GO
/****** Object:  Table [dbo].[appointments]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NULL,
	[doctor_id] [int] NULL,
	[pregnancy_id] [int] NULL,
	[appointment_date] [date] NULL,
	[booking_source] [nvarchar](50) NULL,
	[symptoms] [nvarchar](max) NULL,
	[last_menstrual_period] [date] NULL,
	[is_emergency] [bit] NULL,
	[status] [nvarchar](30) NULL,
	[service_id] [int] NULL,
	[time_slot] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[audit_logs]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action] [nvarchar](255) NULL,
	[table_name] [nvarchar](100) NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[ip_address] [varchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_schedules]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_schedules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_id] [int] NULL,
	[work_date] [date] NULL,
	[start_time] [time](7) NULL,
	[end_time] [time](7) NULL,
	[is_approved] [bit] NULL,
	[max_slots] [int] NULL,
	[rejection_reason] [nvarchar](max) NULL,
	[approved_by] [int] NULL,
	[approved_at] [datetime] NULL,
	[created_by] [int] NULL,
	[notes] [nvarchar](max) NULL,
	[status] [nvarchar](30) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctors]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[full_name] [nvarchar](100) NULL,
	[specialization] [nvarchar](100) NULL,
	[phone_number] [varchar](20) NULL,
	[degree] [nvarchar](100) NULL,
	[experience_years] [int] NULL,
	[bio] [nvarchar](max) NULL,
	[avatar_url] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice_items]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NULL,
	[item_type] [varchar](50) NULL,
	[item_id] [int] NULL,
	[quantity] [int] NULL,
	[unit_price] [decimal](18, 2) NULL,
	[subtotal] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appointment_id] [int] NULL,
	[total_amount] [decimal](18, 2) NULL,
	[status] [varchar](30) NULL,
	[transaction_code] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lab_results]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lab_results](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test_order_id] [int] NULL,
	[service_id] [int] NULL,
	[result_details] [nvarchar](max) NULL,
	[image_url] [varchar](255) NULL,
	[lab_technician_id] [int] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medical_records]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medical_records](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appointment_id] [int] NULL,
	[clinical_notes] [nvarchar](max) NULL,
	[final_diagnosis] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[weight_kg] [decimal](5, 1) NULL,
	[blood_pressure] [nvarchar](20) NULL,
	[pulse_bpm] [int] NULL,
	[temperature_c] [decimal](4, 1) NULL,
	[height_cm] [decimal](5, 1) NULL,
	[gestational_age_weeks] [int] NULL,
	[gestational_age_days] [int] NULL,
	[fundal_height_cm] [decimal](5, 1) NULL,
	[fetal_heart_rate] [int] NULL,
	[fetal_presentation] [nvarchar](50) NULL,
	[fetal_position] [nvarchar](50) NULL,
	[fetal_movement] [nvarchar](50) NULL,
	[cervical_dilation_cm] [decimal](4, 1) NULL,
	[cervical_effacement] [nvarchar](50) NULL,
	[amniotic_fluid] [nvarchar](50) NULL,
	[presentation_station] [nvarchar](50) NULL,
	[edema] [nvarchar](50) NULL,
	[proteinuria] [nvarchar](20) NULL,
	[vaginal_bleeding] [bit] NULL,
	[uterine_contractions] [bit] NULL,
	[risk_flags_json] [nvarchar](max) NULL,
	[treatment_plan] [nvarchar](max) NULL,
	[next_appointment_date] [date] NULL,
	[referred_to] [nvarchar](200) NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicine_categories]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicine_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[icon] [varchar](50) NULL,
	[sort_order] [int] NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicine_price_history]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicine_price_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medicine_id] [int] NOT NULL,
	[old_price] [decimal](18, 2) NULL,
	[new_price] [decimal](18, 2) NOT NULL,
	[change_reason] [nvarchar](500) NULL,
	[changed_by] [int] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicines]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicines](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NULL,
	[price] [decimal](18, 2) NULL,
	[unit] [nvarchar](50) NULL,
	[medicine_code] [varchar](50) NULL,
	[dosage] [nvarchar](100) NULL,
	[stock_quantity] [int] NULL,
	[description] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[category_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[title] [varchar](255) NULL,
	[content] [nvarchar](max) NOT NULL,
	[channel] [varchar](50) NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token] [varchar](255) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[is_used] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patients]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[full_name] [nvarchar](100) NULL,
	[phone_number] [varchar](20) NULL,
	[date_of_birth] [date] NULL,
	[zalo_user_id] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[permission_key] [varchar](100) NOT NULL,
	[permission_name] [nvarchar](200) NOT NULL,
	[module] [varchar](50) NOT NULL,
	[description] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NULL,
 CONSTRAINT [PK_permissions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pregnancies]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pregnancies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NULL,
	[start_date] [date] NULL,
	[estimated_due_date] [date] NULL,
	[actual_delivery_date] [date] NULL,
	[pregnancy_status] [nvarchar](50) NULL,
	[fetus_count] [int] NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescription_items]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescription_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medicine_id] [int] NULL,
	[prescription_id] [int] NULL,
	[quantity] [int] NULL,
	[dosage] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescriptions]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescriptions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medical_record_id] [int] NULL,
	[prescription_code] [varchar](50) NULL,
	[status] [varchar](30) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[price_history]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[price_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_id] [int] NOT NULL,
	[old_price] [decimal](18, 2) NULL,
	[new_price] [decimal](18, 2) NOT NULL,
	[change_reason] [nvarchar](500) NULL,
	[changed_by] [int] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appointment_id] [int] NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[role_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
 CONSTRAINT [PK_role_permissions] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_categories]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[icon] [varchar](50) NULL,
	[sort_order] [int] NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[duration_mins] [int] NULL,
	[requires_fasting] [bit] NULL,
	[requires_full_bladder] [bit] NULL,
	[required_room_type] [nvarchar](50) NULL,
	[allowed_specialties] [nvarchar](255) NULL,
	[service_name] [nvarchar](150) NOT NULL,
	[price] [decimal](18, 2) NULL,
	[service_code] [varchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sonographers]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sonographers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[experience_years] [int] NULL,
	[qualification] [varchar](100) NULL,
	[room_no] [varchar](20) NULL,
	[status] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test_orders]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medical_record_id] [int] NULL,
	[doctor_id] [int] NULL,
	[status] [varchar](30) NULL,
	[created_at] [datetime] NULL,
	[service_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ultrasound_results]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ultrasound_results](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medical_record_id] [int] NULL,
	[sonographer_id] [int] NULL,
	[raw_image_url] [varchar](255) NULL,
	[ai_processed_image_url] [varchar](255) NULL,
	[ai_suggested_label] [varchar](255) NULL,
	[ai_confidence_score] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/13/2026 10:02:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[email] [varbinary](256) NULL,
	[password_hash] [varchar](255) NULL,
	[phone] [varbinary](256) NULL,
	[role_id] [int] NULL,
	[status] [varchar](30) NULL,
	[verification_token] [varchar](255) NULL,
	[is_verified] [bit] NULL,
	[google_id] [varchar](255) NULL,
	[auth_provider] [varchar](20) NOT NULL,
	[username] [nvarchar](50) NULL,
	[is_deleted] [bit] NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[appointments] ON 

INSERT [dbo].[appointments] ([id], [patient_id], [doctor_id], [pregnancy_id], [appointment_date], [booking_source], [symptoms], [last_menstrual_period], [is_emergency], [status], [service_id], [time_slot]) VALUES (6, 1, 3, NULL, CAST(N'2026-06-17' AS Date), N'WEB', N'Khám thai định kỳ', NULL, 0, N'completed', 1, CAST(N'08:00:00' AS Time))
INSERT [dbo].[appointments] ([id], [patient_id], [doctor_id], [pregnancy_id], [appointment_date], [booking_source], [symptoms], [last_menstrual_period], [is_emergency], [status], [service_id], [time_slot]) VALUES (7, 2, 3, 4, CAST(N'2026-06-17' AS Date), N'WEB', N'Đau bụng dưới', NULL, 0, N'completed', 1, CAST(N'09:00:00' AS Time))
INSERT [dbo].[appointments] ([id], [patient_id], [doctor_id], [pregnancy_id], [appointment_date], [booking_source], [symptoms], [last_menstrual_period], [is_emergency], [status], [service_id], [time_slot]) VALUES (8, 3, 3, NULL, CAST(N'2026-06-17' AS Date), N'WEB', N'Buồn nôn kéo dài', NULL, 0, N'completed', 1, CAST(N'10:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[audit_logs] ON 

INSERT [dbo].[audit_logs] ([id], [user_id], [action], [table_name], [old_value], [new_value], [ip_address], [created_at]) VALUES (1, NULL, N'T?o m?i h? so b?nh nhân Hoàng Th? My', N'patients', N'-', N'4', N'Staff', CAST(N'2026-06-07T03:49:48.250' AS DateTime))
INSERT [dbo].[audit_logs] ([id], [user_id], [action], [table_name], [old_value], [new_value], [ip_address], [created_at]) VALUES (2, NULL, N'T?o l?ch h?n th? công cho s?n ph? Hoàng Th? My', N'appointments', N'-', N'7', N'Staff', CAST(N'2026-06-07T03:49:48.727' AS DateTime))
INSERT [dbo].[audit_logs] ([id], [user_id], [action], [table_name], [old_value], [new_value], [ip_address], [created_at]) VALUES (3, 22, N'Đăng nhập thành công', N'users', NULL, N'roleId=2', N'0:0:0:0:0:0:0:1', CAST(N'2026-07-13T10:00:59.017' AS DateTime))
SET IDENTITY_INSERT [dbo].[audit_logs] OFF
GO
SET IDENTITY_INSERT [dbo].[doctor_schedules] ON 

INSERT [dbo].[doctor_schedules] ([id], [doctor_id], [work_date], [start_time], [end_time], [is_approved], [max_slots], [rejection_reason], [approved_by], [approved_at], [created_by], [notes], [status], [created_at], [updated_at]) VALUES (1, 1, CAST(N'2026-06-17' AS Date), CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 1, 20, NULL, NULL, NULL, NULL, NULL, N'PENDING', NULL, NULL)
INSERT [dbo].[doctor_schedules] ([id], [doctor_id], [work_date], [start_time], [end_time], [is_approved], [max_slots], [rejection_reason], [approved_by], [approved_at], [created_by], [notes], [status], [created_at], [updated_at]) VALUES (2, 1, CAST(N'2026-06-18' AS Date), CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 1, 20, NULL, NULL, NULL, NULL, NULL, N'PENDING', NULL, NULL)
INSERT [dbo].[doctor_schedules] ([id], [doctor_id], [work_date], [start_time], [end_time], [is_approved], [max_slots], [rejection_reason], [approved_by], [approved_at], [created_by], [notes], [status], [created_at], [updated_at]) VALUES (3, 1, CAST(N'2026-06-19' AS Date), CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 1, 20, NULL, NULL, NULL, NULL, NULL, N'PENDING', NULL, NULL)
SET IDENTITY_INSERT [dbo].[doctor_schedules] OFF
GO
SET IDENTITY_INSERT [dbo].[doctors] ON 

INSERT [dbo].[doctors] ([id], [user_id], [full_name], [specialization], [phone_number], [degree], [experience_years], [bio], [avatar_url]) VALUES (1, 15, N'BS Trần Quang Đức', N'Obstetrics', N'0901111111', NULL, NULL, NULL, NULL)
INSERT [dbo].[doctors] ([id], [user_id], [full_name], [specialization], [phone_number], [degree], [experience_years], [bio], [avatar_url]) VALUES (2, 18, N'Đặng Ích Dũng', N'Sản phụ khoa', N'0967629020', N'Tiến sĩ', 5, N'', N'')
INSERT [dbo].[doctors] ([id], [user_id], [full_name], [specialization], [phone_number], [degree], [experience_years], [bio], [avatar_url]) VALUES (3, 22, N'HoÃ ng VÄƒn TÃ¢n', N'Sáº£n phá»¥ khoa', N'0912345678', NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[lab_results] ON 

INSERT [dbo].[lab_results] ([id], [test_order_id], [service_id], [result_details], [image_url], [lab_technician_id], [updated_at]) VALUES (1, 1, 23, N'Lab test has been completed', NULL, 1, CAST(N'2026-06-29T08:08:18.877' AS DateTime))
INSERT [dbo].[lab_results] ([id], [test_order_id], [service_id], [result_details], [image_url], [lab_technician_id], [updated_at]) VALUES (2, 2, 31, N'Lab test has been completed', NULL, 1, CAST(N'2026-06-29T08:08:18.877' AS DateTime))
INSERT [dbo].[lab_results] ([id], [test_order_id], [service_id], [result_details], [image_url], [lab_technician_id], [updated_at]) VALUES (3, 3, 23, N'Lab test has been completed', NULL, 1, CAST(N'2026-06-29T08:08:18.877' AS DateTime))
SET IDENTITY_INSERT [dbo].[lab_results] OFF
GO
SET IDENTITY_INSERT [dbo].[medical_records] ON 

SET IDENTITY_INSERT [dbo].[medical_records] OFF
GO
SET IDENTITY_INSERT [dbo].[medicine_categories] ON 

INSERT [dbo].[medicine_categories] ([id], [category_name], [description], [icon], [sort_order], [is_active], [created_at], [updated_at]) VALUES (1, N'Sắt & Acid Folic', N'Dung dịch vệ sinh phụ nữ, duy trì pH âm đạo', N'bi-droplet-fill', 1, 1, CAST(N'2026-06-14T21:09:58.0533333' AS DateTime2), CAST(N'2026-06-14T21:09:58.0533333' AS DateTime2))
INSERT [dbo].[medicine_categories] ([id], [category_name], [description], [icon], [sort_order], [is_active], [created_at], [updated_at]) VALUES (2, N'Canxi & Vitamin D', N'Dung dịch vệ sinh phụ nữ, duy trì pH âm đạo', N'bi-bounding-box', 2, 1, CAST(N'2026-06-14T21:09:58.0533333' AS DateTime2), CAST(N'2026-06-14T21:09:58.0533333' AS DateTime2))
INSERT [dbo].[medicine_categories] ([id], [category_name], [description], [icon], [sort_order], [is_active], [created_at], [updated_at]) VALUES (3, N'Vitamin tổng hợp', N'Dung dịch vệ sinh phụ nữ, duy trì pH âm đạo', N'bi-capsule', 3, 1, CAST(N'2026-06-14T21:09:58.0533333' AS DateTime2), CAST(N'2026-06-14T21:09:58.0533333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[medicine_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[medicines] ON 

INSERT [dbo].[medicines] ([id], [name], [price], [unit], [medicine_code], [dosage], [stock_quantity], [description], [is_active], [created_at], [updated_at], [category_id]) VALUES (1, N'Ferrovit', CAST(120000.00 AS Decimal(18, 2)), N'Hộp', N'DK-01', N'Sắt fumarat + Acid Folic', 50, N'Bổ sung sắt và acid folic, hỗ trợ phòng thiếu máu thiếu sắt thai kỳ', 1, CAST(N'2026-06-07T22:15:40.3400000' AS DateTime2), CAST(N'2026-06-14T22:12:30.2290710' AS DateTime2), NULL)
INSERT [dbo].[medicines] ([id], [name], [price], [unit], [medicine_code], [dosage], [stock_quantity], [description], [is_active], [created_at], [updated_at], [category_id]) VALUES (3, N'Ferrous Sulfate 200mg', CAST(2000.00 AS Decimal(18, 2)), N'Viên', N'THUOC-SAT-02', N'Sắt (II) sulfat 200mg', 150, N'Điều trị thiếu máu thiếu sắt', 1, CAST(N'2026-06-14T21:09:58.4166667' AS DateTime2), CAST(N'2026-06-14T22:12:30.2290710' AS DateTime2), 1)
INSERT [dbo].[medicines] ([id], [name], [price], [unit], [medicine_code], [dosage], [stock_quantity], [description], [is_active], [created_at], [updated_at], [category_id]) VALUES (4, N'Tardyferon B9', CAST(5500.00 AS Decimal(18, 2)), N'Viên', N'THUOC-SAT-03', N'Sắt (II) sulfat 256.3mg + Acid Folic 0.35mg', 180, N'Dự phòng và điều trị thiếu máu thai kỳ', 1, CAST(N'2026-06-14T21:09:58.4166667' AS DateTime2), CAST(N'2026-06-14T22:12:30.2290710' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[medicines] OFF
GO
SET IDENTITY_INSERT [dbo].[notifications] ON 

INSERT [dbo].[notifications] ([id], [user_id], [title], [content], [channel], [is_read], [created_at]) VALUES (1, NULL, N'Hoàng Th? My', N'L?ch h?n khám s?n c?a b?n lúc 09:00 - 09:20 ngày 2026-06-07 dã du?c dang ký. Vui lòng d?n dúng gi? d? ti?n hành khám.', N'Zalo', 0, CAST(N'2026-06-07T03:49:48.980' AS DateTime))
INSERT [dbo].[notifications] ([id], [user_id], [title], [content], [channel], [is_read], [created_at]) VALUES (2, 18, N'K?t qu? xét nghi?m dã có', N'Xét nghiệm "Nghiệm pháp dung nạp đường huyết" (hồ sơ #3) đã có kết quả. Vui lòng vào xem và hoàn tất hồ sơ bệnh án.', N'system', 1, CAST(N'2026-06-29T08:21:56.590' AS DateTime))
INSERT [dbo].[notifications] ([id], [user_id], [title], [content], [channel], [is_read], [created_at]) VALUES (3, 18, N'K?t qu? xét nghi?m dã có', N'Xét nghiệm "Nghiệm pháp dung nạp đường huyết" (hồ sơ #4) đã có kết quả. Vui lòng vào xem và hoàn tất hồ sơ bệnh án.', N'system', 1, CAST(N'2026-06-29T08:21:56.590' AS DateTime))
SET IDENTITY_INSERT [dbo].[notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[password_reset_tokens] ON 

INSERT [dbo].[password_reset_tokens] ([id], [user_id], [token], [expires_at], [is_used], [created_at]) VALUES (1, 1, N'bf9faea2-1334-4925-8662-6309d51a78ce', CAST(N'2026-05-30T23:38:22.1031459' AS DateTime2), 1, CAST(N'2026-05-30T22:38:22.1300000' AS DateTime2))
INSERT [dbo].[password_reset_tokens] ([id], [user_id], [token], [expires_at], [is_used], [created_at]) VALUES (2, 1, N'398111b7-414f-4cf1-91bf-9b4ad95877fc', CAST(N'2026-05-30T23:45:02.4064302' AS DateTime2), 1, CAST(N'2026-05-30T22:45:02.4366667' AS DateTime2))
INSERT [dbo].[password_reset_tokens] ([id], [user_id], [token], [expires_at], [is_used], [created_at]) VALUES (3, 1, N'9159a85f-6934-4971-877c-95b5098f6864', CAST(N'2026-05-30T23:46:45.0206174' AS DateTime2), 1, CAST(N'2026-05-30T22:46:45.0500000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[password_reset_tokens] OFF
GO
SET IDENTITY_INSERT [dbo].[patients] ON 

INSERT [dbo].[patients] ([id], [user_id], [full_name], [phone_number], [date_of_birth], [zalo_user_id]) VALUES (1, 4, N'Nguy?n Th? Lan', N'0911111111', CAST(N'1996-05-12' AS Date), N'zalo_001')
INSERT [dbo].[patients] ([id], [user_id], [full_name], [phone_number], [date_of_birth], [zalo_user_id]) VALUES (2, 5, N'Tr?n Th? Mai', N'0922222222', CAST(N'1994-08-21' AS Date), N'zalo_002')
INSERT [dbo].[patients] ([id], [user_id], [full_name], [phone_number], [date_of_birth], [zalo_user_id]) VALUES (3, 6, N'Lê Th? Hoa', N'0933333333', CAST(N'1998-11-10' AS Date), N'zalo_003')
SET IDENTITY_INSERT [dbo].[patients] OFF
GO
SET IDENTITY_INSERT [dbo].[permissions] ON 

INSERT [dbo].[permissions] ([id], [permission_key], [permission_name], [module], [description], [created_at]) VALUES (1, N'user.view', N'Xem danh sách người dùng', N'users', N'Xem danh sách và thông tin chi tiết người dùng', CAST(N'2026-06-01T22:50:52.3133333' AS DateTime2))
INSERT [dbo].[permissions] ([id], [permission_key], [permission_name], [module], [description], [created_at]) VALUES (2, N'user.create', N'Tạo người dùng mới', N'users', N'Tạo tài khoản người dùng mới trong hệ thống', CAST(N'2026-06-01T22:50:52.3166667' AS DateTime2))
INSERT [dbo].[permissions] ([id], [permission_key], [permission_name], [module], [description], [created_at]) VALUES (3, N'user.edit', N'Chỉnh sửa thông tin người dùng', N'users', N'Cập nhật thông tin cá nhân và vai trò của người dùng', CAST(N'2026-06-01T22:50:52.3166667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[pregnancies] ON 

INSERT [dbo].[pregnancies] ([id], [patient_id], [start_date], [estimated_due_date], [actual_delivery_date], [pregnancy_status], [fetus_count], [notes]) VALUES (1, 1, CAST(N'2026-01-10' AS Date), CAST(N'2026-10-17' AS Date), NULL, N'active', 1, N'Thai k? bình thu?ng')
INSERT [dbo].[pregnancies] ([id], [patient_id], [start_date], [estimated_due_date], [actual_delivery_date], [pregnancy_status], [fetus_count], [notes]) VALUES (2, 2, CAST(N'2026-02-01' AS Date), CAST(N'2026-11-08' AS Date), NULL, N'ONGOING', 1, N'C?n theo dõi huy?t áp')
INSERT [dbo].[pregnancies] ([id], [patient_id], [start_date], [estimated_due_date], [actual_delivery_date], [pregnancy_status], [fetus_count], [notes]) VALUES (3, 3, CAST(N'2026-03-05' AS Date), CAST(N'2026-12-10' AS Date), NULL, N'ONGOING', 2, N'Thai dôi')
SET IDENTITY_INSERT [dbo].[pregnancies] OFF
GO
SET IDENTITY_INSERT [dbo].[prescription_items] ON 

INSERT [dbo].[prescription_items] ([id], [medicine_id], [prescription_id], [quantity], [dosage]) VALUES (1, 1, 1, 1, N'2 viên/ ngày')
SET IDENTITY_INSERT [dbo].[prescription_items] OFF
GO
SET IDENTITY_INSERT [dbo].[prescriptions] ON 

INSERT [dbo].[prescriptions] ([id], [medical_record_id], [prescription_code], [status], [created_at]) VALUES (1, 1, N'RX-20260618-134932', N'issued', CAST(N'2026-06-18T13:49:32.170' AS DateTime))
SET IDENTITY_INSERT [dbo].[prescriptions] OFF
GO
SET IDENTITY_INSERT [dbo].[price_history] ON 

INSERT [dbo].[price_history] ([id], [service_id], [old_price], [new_price], [change_reason], [changed_by], [created_at]) VALUES (1, 2, NULL, CAST(500000.00 AS Decimal(18, 2)), N'Khởi tạo dịch vụ mới', 17, CAST(N'2026-06-14T13:23:47.7633333' AS DateTime2))
INSERT [dbo].[price_history] ([id], [service_id], [old_price], [new_price], [change_reason], [changed_by], [created_at]) VALUES (2, 3, NULL, CAST(400000.00 AS Decimal(18, 2)), N'Khởi tạo dịch vụ mới', 17, CAST(N'2026-06-14T13:24:56.9733333' AS DateTime2))
INSERT [dbo].[price_history] ([id], [service_id], [old_price], [new_price], [change_reason], [changed_by], [created_at]) VALUES (3, 4, NULL, CAST(200000.00 AS Decimal(18, 2)), N'Khởi tạo dịch vụ mới', 17, CAST(N'2026-06-14T13:26:26.4566667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[price_history] OFF
GO
INSERT [dbo].[role_permissions] ([role_id], [permission_id], [created_at]) VALUES (1, 1, CAST(N'2026-06-09T18:59:31.4866667' AS DateTime2))
INSERT [dbo].[role_permissions] ([role_id], [permission_id], [created_at]) VALUES (1, 2, CAST(N'2026-06-09T18:59:31.4866667' AS DateTime2))
INSERT [dbo].[role_permissions] ([role_id], [permission_id], [created_at]) VALUES (1, 3, CAST(N'2026-06-09T18:59:31.4866667' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [role_name], [description]) VALUES (1, N'Admin', N'Quản trị viên hệ thống — có toàn quyền truy cập và quản lý tất cả chức năng.')
INSERT [dbo].[roles] ([id], [role_name], [description]) VALUES (2, N'Doctor', N'Bác sĩ — khám bệnh, xem và cập nhật bệnh án, kê đơn thuốc, xem kết quả siêu âm.')
INSERT [dbo].[roles] ([id], [role_name], [description]) VALUES (3, N'Manager', N'Quản lý phòng khám — giám sát hoạt động, xem báo cáo, quản lý thanh toán.')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[service_categories] ON 

INSERT [dbo].[service_categories] ([id], [category_name], [description], [icon], [sort_order], [is_active], [created_at], [updated_at]) VALUES (1, N'Khám sản', N'Dịch vụ khám thai, khám sản phụ khoa định kỳ', N'bi-clipboard2-heart', 1, 1, NULL, NULL)
INSERT [dbo].[service_categories] ([id], [category_name], [description], [icon], [sort_order], [is_active], [created_at], [updated_at]) VALUES (2, N'Siêu âm', N'Siêu âm 2D, 4D, đầu dò chẩn đoán hình ảnh', N'bi-soundwave', 2, 1, NULL, NULL)
INSERT [dbo].[service_categories] ([id], [category_name], [description], [icon], [sort_order], [is_active], [created_at], [updated_at]) VALUES (3, N'Xét nghiệm', N'Xét nghiệm tiền sản, sàng lọc, máu, nước tiểu', N'bi-droplet', 3, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[service_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[services] ON 

INSERT [dbo].[services] ([id], [category_id], [duration_mins], [requires_fasting], [requires_full_bladder], [required_room_type], [allowed_specialties], [service_name], [price], [service_code], [description], [is_active], [created_at], [updated_at]) VALUES (2, 5, 45, 0, 0, NULL, NULL, N'Soi cổ tử cung', CAST(500000.00 AS Decimal(18, 2)), N'COLPO', N'Soi tươi cổ tử cung để phát hiện viêm nhiễm, tổn thương tiền ung thư', 1, CAST(N'2026-06-14T13:23:47.7266667' AS DateTime2), CAST(N'2026-06-14T13:23:47.7266667' AS DateTime2))
INSERT [dbo].[services] ([id], [category_id], [duration_mins], [requires_fasting], [requires_full_bladder], [required_room_type], [allowed_specialties], [service_name], [price], [service_code], [description], [is_active], [created_at], [updated_at]) VALUES (3, 5, 30, 0, 0, NULL, NULL, N'Đo tim thai (NST)', CAST(400000.00 AS Decimal(18, 2)), N'NST', N'Non-Stress Test — theo dõi nhịp tim thai nhi trong 20-30 phút', 1, CAST(N'2026-06-14T13:24:56.9400000' AS DateTime2), CAST(N'2026-06-14T13:24:56.9400000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[services] OFF
GO
SET IDENTITY_INSERT [dbo].[sonographers] ON 

INSERT [dbo].[sonographers] ([id], [user_id], [experience_years], [qualification], [room_no], [status]) VALUES (1, 23, 3, N'SiÃªu Ã¢m thai', N'P.102', N'ACTIVE')
SET IDENTITY_INSERT [dbo].[sonographers] OFF
GO
SET IDENTITY_INSERT [dbo].[test_orders] ON 

INSERT [dbo].[test_orders] ([id], [medical_record_id], [doctor_id], [status], [created_at], [service_id]) VALUES (1, 3, 3, N'completed', CAST(N'2026-06-22T09:16:46.947' AS DateTime), 23)
INSERT [dbo].[test_orders] ([id], [medical_record_id], [doctor_id], [status], [created_at], [service_id]) VALUES (2, 3, 3, N'completed', CAST(N'2026-06-22T09:16:46.950' AS DateTime), 31)
INSERT [dbo].[test_orders] ([id], [medical_record_id], [doctor_id], [status], [created_at], [service_id]) VALUES (3, 4, 3, N'completed', CAST(N'2026-06-29T07:57:56.657' AS DateTime), 23)
SET IDENTITY_INSERT [dbo].[test_orders] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [UQ__doctors__B9BE370EC3113232]    Script Date: 7/13/2026 10:02:47 AM ******/
ALTER TABLE [dbo].[doctors] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_medicines_code]    Script Date: 7/13/2026 10:02:47 AM ******/
ALTER TABLE [dbo].[medicines] ADD  CONSTRAINT [UQ_medicines_code] UNIQUE NONCLUSTERED 
(
	[medicine_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__patients__B9BE370E985AFBED]    Script Date: 7/13/2026 10:02:47 AM ******/
ALTER TABLE [dbo].[patients] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_permissions_key]    Script Date: 7/13/2026 10:02:47 AM ******/
ALTER TABLE [dbo].[permissions] ADD  CONSTRAINT [UQ_permissions_key] UNIQUE NONCLUSTERED 
(
	[permission_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_roles_role_name]    Script Date: 7/13/2026 10:02:47 AM ******/
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [UQ_roles_role_name] UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_service_categories_category_name]    Script Date: 7/13/2026 10:02:47 AM ******/
ALTER TABLE [dbo].[service_categories] ADD  CONSTRAINT [UQ_service_categories_category_name] UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_services_code]    Script Date: 7/13/2026 10:02:47 AM ******/
ALTER TABLE [dbo].[services] ADD  CONSTRAINT [UQ_services_code] UNIQUE NONCLUSTERED 
(
	[service_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__sonograp__B9BE370ED1ABBE83]    Script Date: 7/13/2026 10:02:47 AM ******/
ALTER TABLE [dbo].[sonographers] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_username]    Script Date: 7/13/2026 10:02:47 AM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ_users_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_schedules] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[doctor_schedules] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_schedules] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[doctors] ADD  DEFAULT ((0)) FOR [experience_years]
GO
ALTER TABLE [dbo].[lab_results] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[medical_records] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[medical_records] ADD  DEFAULT ('final') FOR [status]
GO
ALTER TABLE [dbo].[medicine_categories] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[medicine_categories] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[medicine_categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[medicine_categories] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[medicine_price_history] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[medicines] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[medicines] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[medicines] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[medicines] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  DEFAULT ((0)) FOR [is_used]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[prescriptions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[price_history] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[service_categories] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[service_categories] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[service_categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[service_categories] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[services] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[services] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[services] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[test_orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_verified]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('local') FOR [auth_provider]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[patients] ([id])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([pregnancy_id])
REFERENCES [dbo].[pregnancies] ([id])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_doctor]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[patients] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_patient]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_pregnancy] FOREIGN KEY([pregnancy_id])
REFERENCES [dbo].[pregnancies] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_pregnancy]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_service]
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD  CONSTRAINT [FK_audit_logs_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[audit_logs] CHECK CONSTRAINT [FK_audit_logs_users]
GO
ALTER TABLE [dbo].[doctor_schedules]  WITH CHECK ADD FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[doctor_schedules]  WITH CHECK ADD  CONSTRAINT [fk_doctor_schedules_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[doctor_schedules] CHECK CONSTRAINT [fk_doctor_schedules_doctor]
GO
ALTER TABLE [dbo].[doctors]  WITH CHECK ADD  CONSTRAINT [FK_doctors_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[doctors] CHECK CONSTRAINT [FK_doctors_users]
GO
ALTER TABLE [dbo].[invoice_items]  WITH CHECK ADD FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([id])
GO
ALTER TABLE [dbo].[invoice_items]  WITH CHECK ADD  CONSTRAINT [fk_invoice_items_invoice] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([id])
GO
ALTER TABLE [dbo].[invoice_items] CHECK CONSTRAINT [fk_invoice_items_invoice]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [fk_invoices_appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [fk_invoices_appointment]
GO
ALTER TABLE [dbo].[lab_results]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[lab_results]  WITH CHECK ADD FOREIGN KEY([test_order_id])
REFERENCES [dbo].[test_orders] ([id])
GO
ALTER TABLE [dbo].[lab_results]  WITH CHECK ADD  CONSTRAINT [fk_lab_results_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[lab_results] CHECK CONSTRAINT [fk_lab_results_service]
GO
ALTER TABLE [dbo].[lab_results]  WITH CHECK ADD  CONSTRAINT [fk_lab_results_test_order] FOREIGN KEY([test_order_id])
REFERENCES [dbo].[test_orders] ([id])
GO
ALTER TABLE [dbo].[lab_results] CHECK CONSTRAINT [fk_lab_results_test_order]
GO
ALTER TABLE [dbo].[medical_records]  WITH CHECK ADD FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[medical_records]  WITH CHECK ADD  CONSTRAINT [fk_medical_records_appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[medical_records] CHECK CONSTRAINT [fk_medical_records_appointment]
GO
ALTER TABLE [dbo].[medicine_price_history]  WITH CHECK ADD  CONSTRAINT [FK_medprice_history_medicine] FOREIGN KEY([medicine_id])
REFERENCES [dbo].[medicines] ([id])
GO
ALTER TABLE [dbo].[medicine_price_history] CHECK CONSTRAINT [FK_medprice_history_medicine]
GO
ALTER TABLE [dbo].[medicine_price_history]  WITH CHECK ADD  CONSTRAINT [FK_medprice_history_user] FOREIGN KEY([changed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[medicine_price_history] CHECK CONSTRAINT [FK_medprice_history_user]
GO
ALTER TABLE [dbo].[medicines]  WITH CHECK ADD  CONSTRAINT [FK_medicines_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[medicine_categories] ([id])
GO
ALTER TABLE [dbo].[medicines] CHECK CONSTRAINT [FK_medicines_category]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK_notifications_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK_notifications_users]
GO
ALTER TABLE [dbo].[password_reset_tokens]  WITH CHECK ADD  CONSTRAINT [FK_password_reset_tokens_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[password_reset_tokens] CHECK CONSTRAINT [FK_password_reset_tokens_users]
GO
ALTER TABLE [dbo].[patients]  WITH CHECK ADD  CONSTRAINT [FK_patients_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[patients] CHECK CONSTRAINT [FK_patients_users]
GO
ALTER TABLE [dbo].[pregnancies]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[patients] ([id])
GO
ALTER TABLE [dbo].[pregnancies]  WITH CHECK ADD  CONSTRAINT [fk_pregnancies_patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[patients] ([id])
GO
ALTER TABLE [dbo].[pregnancies] CHECK CONSTRAINT [fk_pregnancies_patient]
GO
ALTER TABLE [dbo].[prescription_items]  WITH CHECK ADD FOREIGN KEY([medicine_id])
REFERENCES [dbo].[medicines] ([id])
GO
ALTER TABLE [dbo].[prescription_items]  WITH CHECK ADD FOREIGN KEY([prescription_id])
REFERENCES [dbo].[prescriptions] ([id])
GO
ALTER TABLE [dbo].[prescription_items]  WITH CHECK ADD  CONSTRAINT [fk_prescription_items_medicine] FOREIGN KEY([medicine_id])
REFERENCES [dbo].[medicines] ([id])
GO
ALTER TABLE [dbo].[prescription_items] CHECK CONSTRAINT [fk_prescription_items_medicine]
GO
ALTER TABLE [dbo].[prescription_items]  WITH CHECK ADD  CONSTRAINT [fk_prescription_items_prescription] FOREIGN KEY([prescription_id])
REFERENCES [dbo].[prescriptions] ([id])
GO
ALTER TABLE [dbo].[prescription_items] CHECK CONSTRAINT [fk_prescription_items_prescription]
GO
ALTER TABLE [dbo].[prescriptions]  WITH CHECK ADD FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_records] ([id])
GO
ALTER TABLE [dbo].[prescriptions]  WITH CHECK ADD  CONSTRAINT [fk_prescriptions_medical_record] FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_records] ([id])
GO
ALTER TABLE [dbo].[prescriptions] CHECK CONSTRAINT [fk_prescriptions_medical_record]
GO
ALTER TABLE [dbo].[price_history]  WITH CHECK ADD  CONSTRAINT [FK_price_history_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[price_history] CHECK CONSTRAINT [FK_price_history_service]
GO
ALTER TABLE [dbo].[price_history]  WITH CHECK ADD  CONSTRAINT [FK_price_history_user] FOREIGN KEY([changed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[price_history] CHECK CONSTRAINT [FK_price_history_user]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [fk_reviews_appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [fk_reviews_appointment]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_perm] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_perm]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_role]
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[service_categories] ([id])
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD  CONSTRAINT [fk_services_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[service_categories] ([id])
GO
ALTER TABLE [dbo].[services] CHECK CONSTRAINT [fk_services_category]
GO
ALTER TABLE [dbo].[sonographers]  WITH CHECK ADD  CONSTRAINT [FK_sonographers_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[sonographers] CHECK CONSTRAINT [FK_sonographers_users]
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_records] ([id])
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD  CONSTRAINT [fk_test_orders_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[test_orders] CHECK CONSTRAINT [fk_test_orders_doctor]
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD  CONSTRAINT [fk_test_orders_medical_record] FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_records] ([id])
GO
ALTER TABLE [dbo].[test_orders] CHECK CONSTRAINT [fk_test_orders_medical_record]
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD  CONSTRAINT [fk_test_orders_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[test_orders] CHECK CONSTRAINT [fk_test_orders_service]
GO
ALTER TABLE [dbo].[ultrasound_results]  WITH CHECK ADD FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_records] ([id])
GO
ALTER TABLE [dbo].[ultrasound_results]  WITH CHECK ADD FOREIGN KEY([sonographer_id])
REFERENCES [dbo].[sonographers] ([id])
GO
ALTER TABLE [dbo].[ultrasound_results]  WITH CHECK ADD  CONSTRAINT [fk_ultrasound_results_medical_record] FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_records] ([id])
GO
ALTER TABLE [dbo].[ultrasound_results] CHECK CONSTRAINT [fk_ultrasound_results_medical_record]
GO
ALTER TABLE [dbo].[ultrasound_results]  WITH CHECK ADD  CONSTRAINT [fk_ultrasound_results_sonographer] FOREIGN KEY([sonographer_id])
REFERENCES [dbo].[sonographers] ([id])
GO
ALTER TABLE [dbo].[ultrasound_results] CHECK CONSTRAINT [fk_ultrasound_results_sonographer]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [fk_users_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [fk_users_role]
GO
