USE [ObstetricsClinicDB]
GO
/****** Object:  Table [dbo].[ai_analysis_results]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ai_analysis_results](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test_order_id] [int] NOT NULL,
	[status] [nvarchar](30) NULL,
	[detected] [bit] NULL,
	[confidence] [decimal](5, 2) NULL,
	[message] [nvarchar](max) NULL,
	[input_image] [nvarchar](255) NULL,
	[result_image] [nvarchar](255) NULL,
	[mask_image] [nvarchar](255) NULL,
	[raw_mask_image] [nvarchar](255) NULL,
	[xmin] [int] NULL,
	[ymin] [int] NULL,
	[xmax] [int] NULL,
	[ymax] [int] NULL,
	[analyzed_at] [datetime] NULL,
	[error_message] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[appointment_services]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointment_services](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appointment_id] [int] NOT NULL,
	[service_id] [int] NOT NULL,
	[price] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[appointments]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NULL,
	[doctor_id] [int] NULL,
	[pregnancy_id] [int] NULL,
	[appointment_date] [date] NULL,
	[booking_source] [nvarchar](50) NULL,
	[symptoms] [nvarchar](max) NULL,
	[last_menstrual_period] [date] NULL,
	[is_emergency] [bit] NULL,
	[status] [nvarchar](30) NULL,
	[service_id] [int] NULL,
	[time_slot] [time](7) NULL,
	[queue_number] [nvarchar](20) NULL,
	[base_fee] [decimal](12, 2) NULL,
	[priority_reason] [nvarchar](500) NULL,
	[prioritized_at] [datetime2](7) NULL,
	[prioritized_by] [int] NULL,
	[is_priority] [bit] NOT NULL,
	[schedule_id] [int] NULL,
	[held_by] [int] NULL,
	[held_until] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[audit_logs]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action] [nvarchar](255) NULL,
	[table_name] [nvarchar](100) NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[ip_address] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_schedules]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_schedules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_id] [int] NULL,
	[work_date] [date] NULL,
	[is_approved] [bit] NULL,
	[max_slots] [int] NULL,
	[status] [nvarchar](30) NOT NULL,
	[rejection_reason] [nvarchar](500) NULL,
	[approved_by] [int] NULL,
	[approved_at] [datetime2](7) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[notes] [nvarchar](max) NULL,
	[version] [timestamp] NULL,
	[cancelled_by] [int] NULL,
	[cancelled_at] [datetime2](7) NULL,
	[cancellation_reason] [nvarchar](500) NULL,
	[shift_id] [int] NOT NULL,
	[booked_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctors]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[full_name] [nvarchar](100) NULL,
	[specialization] [nvarchar](100) NULL,
	[phone_number] [nvarchar](20) NULL,
	[degree] [nvarchar](100) NULL,
	[experience_years] [int] NULL,
	[avatar_url] [nvarchar](500) NULL,
	[bio] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice_items]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NULL,
	[item_type] [nvarchar](50) NULL,
	[item_id] [int] NULL,
	[quantity] [int] NULL,
	[unit_price] [decimal](18, 2) NULL,
	[subtotal] [decimal](18, 2) NULL,
	[amount]  AS (CONVERT([decimal](18,2),isnull([subtotal],isnull([quantity],(0))*isnull([unit_price],(0))))),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appointment_id] [int] NULL,
	[total_amount] [decimal](18, 2) NULL,
	[status] [nvarchar](30) NULL,
	[transaction_code] [nvarchar](100) NULL,
	[invoice_type] [varchar](30) NULL,
	[payment_method] [nvarchar](30) NULL,
	[confirmed_by] [int] NULL,
	[confirmed_at] [datetime] NULL,
	[payment_note] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
	[proof_image_path] [nvarchar](1000) NULL,
	[paid_at] [datetime] NULL,
	[paid_by_user_id] [int] NULL,
	[refunded_at] [datetime] NULL,
	[refunded_by_user_id] [int] NULL,
	[refund_reason] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medical_records]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medical_records](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appointment_id] [int] NULL,
	[clinical_notes] [nvarchar](max) NULL,
	[final_diagnosis] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[weight_kg] [decimal](6, 2) NULL,
	[blood_pressure] [nvarchar](30) NULL,
	[pulse_bpm] [int] NULL,
	[temperature_c] [decimal](4, 1) NULL,
	[height_cm] [decimal](6, 2) NULL,
	[gestational_age_weeks] [int] NULL,
	[gestational_age_days] [int] NULL,
	[fundal_height_cm] [decimal](6, 2) NULL,
	[fetal_heart_rate] [int] NULL,
	[fetal_presentation] [nvarchar](100) NULL,
	[fetal_position] [nvarchar](100) NULL,
	[fetal_movement] [nvarchar](100) NULL,
	[cervical_dilation_cm] [decimal](5, 2) NULL,
	[cervical_effacement] [nvarchar](100) NULL,
	[amniotic_fluid] [nvarchar](100) NULL,
	[presentation_station] [nvarchar](50) NULL,
	[edema] [nvarchar](50) NULL,
	[proteinuria] [nvarchar](50) NULL,
	[vaginal_bleeding] [bit] NULL,
	[uterine_contractions] [bit] NULL,
	[risk_flags_json] [nvarchar](max) NULL,
	[treatment_plan] [nvarchar](max) NULL,
	[next_appointment_date] [date] NULL,
	[referred_to] [nvarchar](255) NULL,
	[status] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicine_categories]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicine_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[icon] [nvarchar](50) NULL,
	[sort_order] [int] NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicine_price_history]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicine_price_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medicine_id] [int] NOT NULL,
	[old_price] [decimal](18, 2) NULL,
	[new_price] [decimal](18, 2) NOT NULL,
	[change_reason] [nvarchar](500) NULL,
	[changed_by] [int] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicines]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicines](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NULL,
	[price] [decimal](18, 2) NULL,
	[unit] [nvarchar](50) NULL,
	[medicine_code] [varchar](50) NULL,
	[dosage] [nvarchar](100) NULL,
	[stock_quantity] [int] NULL,
	[description] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[category_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[title] [nvarchar](255) NULL,
	[content] [nvarchar](max) NOT NULL,
	[channel] [nvarchar](50) NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[is_used] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patients]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[full_name] [nvarchar](100) NULL,
	[phone_number] [nvarchar](20) NULL,
	[date_of_birth] [date] NULL,
	[zalo_user_id] [nvarchar](100) NULL,
	[address] [nvarchar](255) NULL,
	[cccd] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[permission_key] [varchar](100) NOT NULL,
	[permission_name] [nvarchar](200) NOT NULL,
	[module] [nvarchar](50) NOT NULL,
	[description] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NULL,
 CONSTRAINT [PK_permissions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pregnancies]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pregnancies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NULL,
	[start_date] [date] NULL,
	[estimated_due_date] [date] NULL,
	[actual_delivery_date] [date] NULL,
	[pregnancy_status] [nvarchar](50) NULL,
	[fetus_count] [int] NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescription_items]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescription_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medicine_id] [int] NULL,
	[prescription_id] [int] NULL,
	[quantity] [int] NULL,
	[dosage] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescriptions]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescriptions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medical_record_id] [int] NULL,
	[prescription_code] [nvarchar](50) NULL,
	[status] [nvarchar](30) NULL,
	[created_at] [datetime] NULL,
	[purchase_decision] [varchar](20) NOT NULL,
	[purchase_decided_at] [datetime2](7) NULL,
	[purchase_decided_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[price_history]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[price_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_id] [int] NOT NULL,
	[old_price] [decimal](18, 2) NULL,
	[new_price] [decimal](18, 2) NOT NULL,
	[change_reason] [nvarchar](500) NULL,
	[changed_by] [int] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appointment_id] [int] NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[role_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
 CONSTRAINT [PK_role_permissions] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_categories]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[icon] [nvarchar](50) NULL,
	[sort_order] [int] NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_price_history]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_price_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_id] [int] NOT NULL,
	[old_price] [decimal](18, 2) NULL,
	[new_price] [decimal](18, 2) NOT NULL,
	[changed_by] [int] NOT NULL,
	[changed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[duration_mins] [int] NULL,
	[requires_fasting] [bit] NULL,
	[requires_full_bladder] [bit] NULL,
	[required_room_type] [nvarchar](50) NULL,
	[allowed_specialties] [nvarchar](255) NULL,
	[service_name] [nvarchar](150) NOT NULL,
	[price] [decimal](18, 2) NULL,
	[service_code] [varchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shifts]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shifts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[description] [nvarchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_shifts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sonographers]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sonographers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[experience_years] [int] NULL,
	[qualification] [nvarchar](100) NULL,
	[room_no] [nvarchar](20) NULL,
	[status] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test_orders]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medical_record_id] [int] NULL,
	[doctor_id] [int] NULL,
	[status] [nvarchar](30) NULL,
	[created_at] [datetime] NULL,
	[service_id] [int] NULL,
	[reorder_reason] [nvarchar](1000) NULL,
	[sonographer_user_id] [int] NULL,
	[accepted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ultrasound_annotations]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ultrasound_annotations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[image_id] [int] NOT NULL,
	[annotation_source] [nvarchar](30) NOT NULL,
	[annotation_type] [nvarchar](30) NOT NULL,
	[annotation_data] [nvarchar](max) NULL,
	[image_width] [int] NOT NULL,
	[image_height] [int] NOT NULL,
	[review_status] [nvarchar](30) NOT NULL,
	[rejection_reason] [nvarchar](500) NULL,
	[version] [int] NOT NULL,
	[is_current] [bit] NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
	[reviewed_by] [int] NULL,
	[reviewed_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ultrasound_images]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ultrasound_images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test_order_id] [int] NOT NULL,
	[original_filename] [nvarchar](255) NULL,
	[stored_filename] [nvarchar](255) NULL,
	[file_path] [nvarchar](500) NULL,
	[file_size] [bigint] NULL,
	[content_type] [nvarchar](100) NULL,
	[uploaded_by] [int] NULL,
	[uploaded_at] [datetime] NULL,
	[image_width] [int] NULL,
	[image_height] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ultrasound_reports]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ultrasound_reports](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[test_order_id] [int] NOT NULL,
	[version] [int] NOT NULL,
	[image_description] [nvarchar](max) NOT NULL,
	[professional_findings] [nvarchar](max) NOT NULL,
	[conclusion] [nvarchar](max) NOT NULL,
	[report_status] [nvarchar](20) NOT NULL,
	[is_current] [bit] NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[signed_by_user_id] [int] NULL,
	[signed_name] [nvarchar](200) NULL,
	[signed_at] [datetime2](0) NULL,
	[doctor_confirmed_by] [int] NULL,
	[doctor_confirmed_at] [datetime2](0) NULL,
	[doctor_review_notes] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[email] [varbinary](256) NULL,
	[password_hash] [nvarchar](255) NULL,
	[phone] [varbinary](256) NULL,
	[role_id] [int] NULL,
	[status] [nvarchar](30) NULL,
	[verification_token] [nvarchar](255) NULL,
	[is_verified] [bit] NULL,
	[google_id] [nvarchar](255) NULL,
	[auth_provider] [varchar](20) NOT NULL,
	[username] [nvarchar](50) NULL,
	[is_deleted] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ai_analysis_results] ON 

INSERT [dbo].[ai_analysis_results] ([id], [test_order_id], [status], [detected], [confidence], [message], [input_image], [result_image], [mask_image], [raw_mask_image], [xmin], [ymin], [xmax], [ymax], [analyzed_at], [error_message]) VALUES (1, 1, N'Success', 1, CAST(41.71 AS Decimal(5, 2)), N'U xơ có dấu hiệu đang phát triển', N'uploads/ultrasound/9b93752a-069d-40b9-b726-37e374499b5d.jpg', N'uploads/ai-results/1/result.png', N'uploads/ai-results/1/mask.png', N'uploads/ai-results/1/raw_mask.png', 382, 317, 508, 414, CAST(N'2026-07-21T07:05:35.177' AS DateTime), NULL)
INSERT [dbo].[ai_analysis_results] ([id], [test_order_id], [status], [detected], [confidence], [message], [input_image], [result_image], [mask_image], [raw_mask_image], [xmin], [ymin], [xmax], [ymax], [analyzed_at], [error_message]) VALUES (3, 4, N'Success', 0, CAST(0.00 AS Decimal(5, 2)), N'Thai sản bình thường', N'uploads/ultrasound/dd8ce178-e491-4266-8250-69bbbe780beb.jpg', N'uploads/ai-results/4/result.png', N'uploads/ai-results/4/mask.png', N'uploads/ai-results/4/raw_mask.png', 0, 0, 0, 0, CAST(N'2026-07-21T23:44:00.540' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ai_analysis_results] OFF
GO
SET IDENTITY_INSERT [dbo].[appointment_services] ON 

INSERT [dbo].[appointment_services] ([id], [appointment_id], [service_id], [price]) VALUES (1, 1, 15, CAST(400000.00 AS Decimal(12, 2)))
INSERT [dbo].[appointment_services] ([id], [appointment_id], [service_id], [price]) VALUES (2, 2, 15, CAST(400000.00 AS Decimal(12, 2)))
INSERT [dbo].[appointment_services] ([id], [appointment_id], [service_id], [price]) VALUES (6, 6, 15, CAST(400000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[appointment_services] OFF
GO
SET IDENTITY_INSERT [dbo].[appointments] ON 

SET IDENTITY_INSERT [dbo].[appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[audit_logs] ON 

INSERT [dbo].[audit_logs] ([id], [user_id], [action], [table_name], [old_value], [new_value], [ip_address], [created_at]) VALUES (212, 26, N'Đăng nhập thành công', N'users', NULL, N'roleId=5', N'0:0:0:0:0:0:0:1', CAST(N'2026-07-20T09:20:33.420' AS DateTime))
INSERT [dbo].[audit_logs] ([id], [user_id], [action], [table_name], [old_value], [new_value], [ip_address], [created_at]) VALUES (213, 26, N'Đăng nhập thành công', N'users', NULL, N'roleId=5', N'0:0:0:0:0:0:0:1', CAST(N'2026-07-20T09:22:55.830' AS DateTime))
INSERT [dbo].[audit_logs] ([id], [user_id], [action], [table_name], [old_value], [new_value], [ip_address], [created_at]) VALUES (214, 26, N'Đăng nhập thành công', N'users', NULL, N'roleId=5', N'0:0:0:0:0:0:0:1', CAST(N'2026-07-20T09:33:22.790' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[audit_logs] OFF
GO
SET IDENTITY_INSERT [dbo].[doctor_schedules] ON 

INSERT [dbo].[doctor_schedules] ([id], [doctor_id], [work_date], [is_approved], [max_slots], [status], [rejection_reason], [approved_by], [approved_at], [created_by], [created_at], [updated_at], [notes], [cancelled_by], [cancelled_at], [cancellation_reason], [shift_id], [booked_count]) VALUES (1, 6, CAST(N'2026-07-20' AS Date), 1, 12, N'CANCELED', NULL, 45, CAST(N'2026-07-20T11:13:53.2433333' AS DateTime2), 45, CAST(N'2026-07-20T11:13:53.2433333' AS DateTime2), CAST(N'2026-07-20T11:13:53.2433333' AS DateTime2), N'Lịch trực ca chiều được Manager tạo và duyệt.', NULL, NULL, NULL, 2, 0)
INSERT [dbo].[doctor_schedules] ([id], [doctor_id], [work_date], [is_approved], [max_slots], [status], [rejection_reason], [approved_by], [approved_at], [created_by], [created_at], [updated_at], [notes], [cancelled_by], [cancelled_at], [cancellation_reason], [shift_id], [booked_count]) VALUES (2, 13, CAST(N'2026-07-20' AS Date), 1, 12, N'CANCELED', NULL, 45, CAST(N'2026-07-20T11:13:53.2433333' AS DateTime2), 45, CAST(N'2026-07-20T11:13:53.2433333' AS DateTime2), CAST(N'2026-07-20T11:13:53.2433333' AS DateTime2), N'Lịch trực ca chiều được Manager tạo và duyệt.', NULL, NULL, NULL, 2, 0)
INSERT [dbo].[doctor_schedules] ([id], [doctor_id], [work_date], [is_approved], [max_slots], [status], [rejection_reason], [approved_by], [approved_at], [created_by], [created_at], [updated_at], [notes], [cancelled_by], [cancelled_at], [cancellation_reason], [shift_id], [booked_count]) VALUES (3, 14, CAST(N'2026-07-20' AS Date), 1, 12, N'CANCELED', NULL, 45, CAST(N'2026-07-20T11:13:53.2433333' AS DateTime2), 45, CAST(N'2026-07-20T11:13:53.2433333' AS DateTime2), CAST(N'2026-07-20T11:13:53.2433333' AS DateTime2), N'Lịch trực ca chiều được Manager tạo và duyệt.', NULL, NULL, NULL, 2, 0)
GO
SET IDENTITY_INSERT [dbo].[doctor_schedules] OFF
GO
SET IDENTITY_INSERT [dbo].[doctors] ON 

INSERT [dbo].[doctors] ([id], [user_id], [full_name], [specialization], [phone_number], [degree], [experience_years], [avatar_url], [bio]) VALUES (6, 24, N'Hoàng Tânn', N'Sản phụ khoa', N'0927231231', N'Thạc sĩ', 7, N'/ClinicAppointmentManagementSystem/uploads/avatars/doctor-6-8434b383-4663-4b1b-86e3-af8e373d69d2.jpg', N'')
INSERT [dbo].[doctors] ([id], [user_id], [full_name], [specialization], [phone_number], [degree], [experience_years], [avatar_url], [bio]) VALUES (13, 78, N'Nguyễn Công Chính', N'Sản phụ khoa', N'0937612332', N'Bác sĩ CKI', 8, NULL, NULL)
INSERT [dbo].[doctors] ([id], [user_id], [full_name], [specialization], [phone_number], [degree], [experience_years], [avatar_url], [bio]) VALUES (14, 79, N'Phan Thị Châu', N'Thai sản & Y học bào thai', N'0927213612', N'Thạc sĩ', 10, NULL, NULL)
SET IDENTITY_INSERT [dbo].[doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[invoice_items] ON 

INSERT [dbo].[invoice_items] ([id], [invoice_id], [item_type], [item_id], [quantity], [unit_price], [subtotal]) VALUES (2, 8, N'service', 15, 1, CAST(400000.00 AS Decimal(18, 2)), CAST(400000.00 AS Decimal(18, 2)))
INSERT [dbo].[invoice_items] ([id], [invoice_id], [item_type], [item_id], [quantity], [unit_price], [subtotal]) VALUES (3, 9, N'service', 12, 1, CAST(200000.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)))
INSERT [dbo].[invoice_items] ([id], [invoice_id], [item_type], [item_id], [quantity], [unit_price], [subtotal]) VALUES (7, 93, N'service', 15, 1, CAST(400000.00 AS Decimal(18, 2)), CAST(400000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[invoice_items] OFF
GO
SET IDENTITY_INSERT [dbo].[invoices] ON 

INSERT [dbo].[invoices] ([id], [appointment_id], [total_amount], [status], [transaction_code], [invoice_type], [payment_method], [confirmed_by], [confirmed_at], [payment_note], [created_at], [proof_image_path], [paid_at], [paid_by_user_id], [refunded_at], [refunded_by_user_id], [refund_reason]) VALUES (1, 1, CAST(600000.00 AS Decimal(18, 2)), N'Paid', N'CASH_1_1784523737', N'PRE_EXAM', N'Cash', 25, CAST(N'2026-07-20T12:02:17.673' AS DateTime), NULL, CAST(N'2026-07-20T11:30:28.317' AS DateTime), NULL, CAST(N'2026-07-20T12:02:17.673' AS DateTime), 25, NULL, NULL, NULL)
INSERT [dbo].[invoices] ([id], [appointment_id], [total_amount], [status], [transaction_code], [invoice_type], [payment_method], [confirmed_by], [confirmed_at], [payment_note], [created_at], [proof_image_path], [paid_at], [paid_by_user_id], [refunded_at], [refunded_by_user_id], [refund_reason]) VALUES (3, 2, CAST(200000.00 AS Decimal(18, 2)), N'Unpaid', NULL, N'POST_EXAM', NULL, NULL, NULL, NULL, CAST(N'2026-07-21T07:04:40.143' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[medical_records] ON 

SET IDENTITY_INSERT [dbo].[medical_records] OFF
GO
SET IDENTITY_INSERT [dbo].[medicine_categories] ON 

INSERT [dbo].[medicine_categories] ([id], [category_name], [description], [icon], [sort_order], [is_active], [created_at], [updated_at]) VALUES (3, N'Vitamin tổng hợp', N'Dung dịch vệ sinh phụ nữ, duy trì pH âm đạo', N'bi-capsule', 3, 1, CAST(N'2026-06-14T21:09:58.0533333' AS DateTime2), CAST(N'2026-06-14T21:09:58.0533333' AS DateTime2))
INSERT [dbo].[medicine_categories] ([id], [category_name], [description], [icon], [sort_order], [is_active], [created_at], [updated_at]) VALUES (4, N'Nội tiết tố nữ', N'Dung dịch vệ sinh phụ nữ, duy trì pH âm đạo', N'bi-gender-female', 4, 1, CAST(N'2026-06-14T21:09:58.0533333' AS DateTime2), CAST(N'2026-06-14T21:09:58.0533333' AS DateTime2))
INSERT [dbo].[medicine_categories] ([id], [category_name], [description], [icon], [sort_order], [is_active], [created_at], [updated_at]) VALUES (9, N'Thuốc chống nôn', N'Dung dịch vệ sinh phụ nữ, duy trì pH âm đạo', N'bi-cup-hot', 9, 1, CAST(N'2026-06-14T21:09:58.0533333' AS DateTime2), CAST(N'2026-06-14T21:09:58.0533333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[medicine_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[medicines] ON 

INSERT [dbo].[medicines] ([id], [name], [price], [unit], [medicine_code], [dosage], [stock_quantity], [description], [is_active], [created_at], [updated_at], [category_id]) VALUES (12, N'Elevit Pronatal', CAST(12500.00 AS Decimal(18, 2)), N'Viên', N'THUOC-VIT-01', N'12 vitamin + 7 khoáng chất + Acid Folic 0.8mg', 100, N'Vitamin tổng hợp toàn diện cho thai kỳ', 1, CAST(N'2026-06-14T21:09:58.4200000' AS DateTime2), CAST(N'2026-07-20T10:20:54.2833333' AS DateTime2), 3)
INSERT [dbo].[medicines] ([id], [name], [price], [unit], [medicine_code], [dosage], [stock_quantity], [description], [is_active], [created_at], [updated_at], [category_id]) VALUES (16, N'DHA 200mg', CAST(3500.00 AS Decimal(18, 2)), N'Viên nang', N'THUOC-VIT-05', N'DHA từ dầu cá 200mg', 180, N'Hỗ trợ phát triển não bộ và thị giác thai nhi', 1, CAST(N'2026-06-14T21:09:58.4200000' AS DateTime2), CAST(N'2026-07-20T10:20:54.2833333' AS DateTime2), 3)
INSERT [dbo].[medicines] ([id], [name], [price], [unit], [medicine_code], [dosage], [stock_quantity], [description], [is_active], [created_at], [updated_at], [category_id]) VALUES (19, N'Utrogestan 200mg', CAST(20000.00 AS Decimal(18, 2)), N'Viên đặt', N'THUOC-NT-02', N'Progesterone vi hạt 200mg', 60, N'Điều trị dọa sảy thai, hỗ trợ pha hoàng thể IVF', 1, CAST(N'2026-06-14T21:09:58.4233333' AS DateTime2), CAST(N'2026-07-20T10:20:54.2833333' AS DateTime2), 4)
SET IDENTITY_INSERT [dbo].[medicines] OFF
GO
SET IDENTITY_INSERT [dbo].[notifications] ON 

INSERT [dbo].[notifications] ([id], [user_id], [title], [content], [channel], [is_read], [created_at]) VALUES (10, 81, N'Nguy?n Kim Chi', N'Thanh toán hóa đơn trước khám (phí khám) (HĐ-1) trị giá 600,000đ đã được xác nhận. Lịch hẹn của bạn đã được xác nhận thành công.', N'Zalo', 0, CAST(N'2026-07-20T12:02:18.423' AS DateTime))
INSERT [dbo].[notifications] ([id], [user_id], [title], [content], [channel], [is_read], [created_at]) VALUES (11, 81, N'?? Xác nh?n thanh toán thành công', N'Thanh toán hóa đơn trước khám (phí khám) (HĐ-1) trị giá 600,000đ đã được xác nhận. Lịch hẹn của bạn đã được xác nhận thành công.', N'system', 0, CAST(N'2026-07-20T12:02:18.660' AS DateTime))
INSERT [dbo].[notifications] ([id], [user_id], [title], [content], [channel], [is_read], [created_at]) VALUES (12, 26, N'Vu Thùy Linh', N'Thanh toán hóa đơn trước khám (phí khám) (HĐ-2) trị giá 650,000đ đã được xác nhận. Lịch hẹn của bạn đã được xác nhận thành công.', N'Zalo', 1, CAST(N'2026-07-21T07:01:53.540' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[password_reset_tokens] ON 

INSERT [dbo].[password_reset_tokens] ([id], [user_id], [token], [expires_at], [is_used], [created_at]) VALUES (1, 16, N'd5e6f841-3e9e-4f59-8ddf-b2e09c513824', CAST(N'2026-07-24T01:15:40.6485079' AS DateTime2), 0, CAST(N'2026-07-24T00:15:40.6866667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[password_reset_tokens] OFF
GO
SET IDENTITY_INSERT [dbo].[patients] ON 

INSERT [dbo].[patients] ([id], [user_id], [full_name], [phone_number], [date_of_birth], [zalo_user_id], [address], [cccd]) VALUES (8, 26, N'Vũ Thùy Linh', N'0927213123', CAST(N'2003-11-01' AS Date), N'', N'HaNoi, Vietnam', N'062812932193')
INSERT [dbo].[patients] ([id], [user_id], [full_name], [phone_number], [date_of_birth], [zalo_user_id], [address], [cccd]) VALUES (34, 81, N'Nguyễn Kim Chi', N'0917234123', CAST(N'2004-05-24' AS Date), NULL, N'Hanoi, Vietnam', NULL)
INSERT [dbo].[patients] ([id], [user_id], [full_name], [phone_number], [date_of_birth], [zalo_user_id], [address], [cccd]) VALUES (35, 82, N'Phan Châu Trinh', N'0918162334', CAST(N'2005-07-03' AS Date), NULL, N'Hanoi, Vietnam', N'098128391232')
SET IDENTITY_INSERT [dbo].[patients] OFF
GO
SET IDENTITY_INSERT [dbo].[permissions] ON 

INSERT [dbo].[permissions] ([id], [permission_key], [permission_name], [module], [description], [created_at]) VALUES (1, N'user.view', N'Xem danh sách người dùng', N'users', N'Xem danh sách và thông tin chi tiết người dùng', CAST(N'2026-06-01T22:50:52.3133333' AS DateTime2))
INSERT [dbo].[permissions] ([id], [permission_key], [permission_name], [module], [description], [created_at]) VALUES (2, N'user.create', N'Tạo người dùng mới', N'users', N'Tạo tài khoản người dùng mới trong hệ thống', CAST(N'2026-06-01T22:50:52.3166667' AS DateTime2))
INSERT [dbo].[permissions] ([id], [permission_key], [permission_name], [module], [description], [created_at]) VALUES (3, N'user.edit', N'Chỉnh sửa thông tin người dùng', N'users', N'Cập nhật thông tin cá nhân và vai trò của người dùng', CAST(N'2026-06-01T22:50:52.3166667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[pregnancies] ON 

INSERT [dbo].[pregnancies] ([id], [patient_id], [start_date], [estimated_due_date], [actual_delivery_date], [pregnancy_status], [fetus_count], [notes], [created_at]) VALUES (4, 8, CAST(N'2026-02-11' AS Date), CAST(N'2026-11-21' AS Date), NULL, N'active', 1, N'', CAST(N'2026-07-20T08:04:55.010' AS DateTime))
SET IDENTITY_INSERT [dbo].[pregnancies] OFF
GO
SET IDENTITY_INSERT [dbo].[prescription_items] ON 

INSERT [dbo].[prescription_items] ([id], [medicine_id], [prescription_id], [quantity], [dosage]) VALUES (2, 53, 1, 11, N'2 viên/ ngày sáng tối (sau ăn)')
INSERT [dbo].[prescription_items] ([id], [medicine_id], [prescription_id], [quantity], [dosage]) VALUES (3, 51, 2, 5, N'1 viên sáng tối sau ăn')
INSERT [dbo].[prescription_items] ([id], [medicine_id], [prescription_id], [quantity], [dosage]) VALUES (4, 16, 3, 10, N'2 viên/ngày sáng tối')
SET IDENTITY_INSERT [dbo].[prescription_items] OFF
GO
SET IDENTITY_INSERT [dbo].[prescriptions] ON 

INSERT [dbo].[prescriptions] ([id], [medical_record_id], [prescription_code], [status], [created_at], [purchase_decision], [purchase_decided_at], [purchase_decided_by]) VALUES (1, 1, N'RX-20260721-093109', N'issued', CAST(N'2026-07-21T09:31:09.423' AS DateTime), N'Declined', CAST(N'2026-07-21T23:39:43.3800000' AS DateTime2), NULL)
INSERT [dbo].[prescriptions] ([id], [medical_record_id], [prescription_code], [status], [created_at], [purchase_decision], [purchase_decided_at], [purchase_decided_by]) VALUES (2, 3, N'RX-20260721-234739', N'issued', CAST(N'2026-07-21T23:47:39.743' AS DateTime), N'Declined', CAST(N'2026-07-22T12:12:33.8100000' AS DateTime2), NULL)
INSERT [dbo].[prescriptions] ([id], [medical_record_id], [prescription_code], [status], [created_at], [purchase_decision], [purchase_decided_at], [purchase_decided_by]) VALUES (3, 8, N'RX-20260722-170525', N'issued', CAST(N'2026-07-22T17:05:25.297' AS DateTime), N'Accepted', CAST(N'2026-07-22T17:08:11.5566667' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[prescriptions] OFF
GO
SET IDENTITY_INSERT [dbo].[price_history] ON 

INSERT [dbo].[price_history] ([id], [service_id], [old_price], [new_price], [change_reason], [changed_by], [created_at]) VALUES (12, 12, NULL, CAST(200000.00 AS Decimal(18, 2)), N'Khởi tạo dịch vụ mới', 17, CAST(N'2026-06-14T19:48:00.0533333' AS DateTime2))
INSERT [dbo].[price_history] ([id], [service_id], [old_price], [new_price], [change_reason], [changed_by], [created_at]) VALUES (15, 15, NULL, CAST(400000.00 AS Decimal(18, 2)), N'Khởi tạo dịch vụ mới', 17, CAST(N'2026-06-14T19:52:43.2166667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[price_history] OFF
GO
SET IDENTITY_INSERT [dbo].[reviews] ON 

INSERT [dbo].[reviews] ([id], [appointment_id], [rating], [comment], [created_at]) VALUES (1, 2, 5, N'', CAST(N'2026-07-22T15:41:01.133' AS DateTime))
INSERT [dbo].[reviews] ([id], [appointment_id], [rating], [comment], [created_at]) VALUES (2, 14, 5, N'', CAST(N'2026-07-22T22:14:05.240' AS DateTime))
INSERT [dbo].[reviews] ([id], [appointment_id], [rating], [comment], [created_at]) VALUES (3, 7, 5, N'', CAST(N'2026-07-22T22:14:14.880' AS DateTime))
SET IDENTITY_INSERT [dbo].[reviews] OFF
GO
INSERT [dbo].[role_permissions] ([role_id], [permission_id], [created_at]) VALUES (1, 1, CAST(N'2026-06-09T18:59:31.4866667' AS DateTime2))
INSERT [dbo].[role_permissions] ([role_id], [permission_id], [created_at]) VALUES (1, 2, CAST(N'2026-06-09T18:59:31.4866667' AS DateTime2))
INSERT [dbo].[role_permissions] ([role_id], [permission_id], [created_at]) VALUES (1, 3, CAST(N'2026-06-09T18:59:31.4866667' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [role_name], [description]) VALUES (1, N'Admin', N'Quản trị viên hệ thống — có toàn quyền truy cập và quản lý tất cả chức năng.')
INSERT [dbo].[roles] ([id], [role_name], [description]) VALUES (2, N'Doctor', N'Bác sĩ — khám bệnh, xem và cập nhật bệnh án, kê đơn thuốc, xem kết quả siêu âm.')
INSERT [dbo].[roles] ([id], [role_name], [description]) VALUES (3, N'Manager', N'Quản lý phòng khám — giám sát hoạt động, xem báo cáo, quản lý thanh toán.')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[service_categories] ON 

INSERT [dbo].[service_categories] ([id], [category_name], [description], [icon], [sort_order], [is_active], [created_at], [updated_at]) VALUES (2, N'Siêu âm', N'Siêu âm 2D, 4D, đầu dò chẩn đoán hình ảnh', N'bi-soundwave', 2, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[service_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[services] ON 

INSERT [dbo].[services] ([id], [category_id], [duration_mins], [requires_fasting], [requires_full_bladder], [required_room_type], [allowed_specialties], [service_name], [price], [service_code], [description], [is_active], [created_at], [updated_at]) VALUES (16, NULL, 20, NULL, NULL, NULL, NULL, N'Khám lâm sàng', CAST(0.00 AS Decimal(18, 2)), N'KLS', N'Khám tổng quát với bác sĩ chuyên khoa', 1, CAST(N'2026-07-24T15:54:46.0000000' AS DateTime2), CAST(N'2026-07-24T15:54:46.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[services] OFF
GO
SET IDENTITY_INSERT [dbo].[shifts] ON 

INSERT [dbo].[shifts] ([id], [name], [start_time], [end_time], [description], [is_active], [created_at], [updated_at]) VALUES (1, N'Ca sáng', CAST(N'07:00:00' AS Time), CAST(N'11:00:00' AS Time), N'Ca làm việc buổi sáng', 1, CAST(N'2026-07-26T03:21:05.1333333' AS DateTime2), CAST(N'2026-07-26T03:21:05.1333333' AS DateTime2))
INSERT [dbo].[shifts] ([id], [name], [start_time], [end_time], [description], [is_active], [created_at], [updated_at]) VALUES (2, N'Ca 2', CAST(N'13:00:00' AS Time), CAST(N'17:00:00' AS Time), N'Ca làm việc buổi chiều', 0, CAST(N'2026-07-26T03:21:05.1333333' AS DateTime2), CAST(N'2026-07-26T03:21:05.1333333' AS DateTime2))
INSERT [dbo].[shifts] ([id], [name], [start_time], [end_time], [description], [is_active], [created_at], [updated_at]) VALUES (3, N'Ca tối', CAST(N'19:00:00' AS Time), CAST(N'23:00:00' AS Time), N'Ca làm việc buổi tối', 1, CAST(N'2026-07-26T03:21:05.1333333' AS DateTime2), CAST(N'2026-07-26T03:21:05.1333333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[shifts] OFF
GO
SET IDENTITY_INSERT [dbo].[sonographers] ON 

INSERT [dbo].[sonographers] ([id], [user_id], [experience_years], [qualification], [room_no], [status]) VALUES (4, 23, NULL, NULL, NULL, N'Active')
SET IDENTITY_INSERT [dbo].[sonographers] OFF
GO
SET IDENTITY_INSERT [dbo].[test_orders] ON 

INSERT [dbo].[test_orders] ([id], [medical_record_id], [doctor_id], [status], [created_at], [service_id], [reorder_reason], [sonographer_user_id], [accepted_at]) VALUES (1, 1, 6, N'confirmed', CAST(N'2026-07-21T07:04:31.090' AS DateTime), 15, NULL, NULL, NULL)
INSERT [dbo].[test_orders] ([id], [medical_record_id], [doctor_id], [status], [created_at], [service_id], [reorder_reason], [sonographer_user_id], [accepted_at]) VALUES (2, 1, 6, N'Pending', CAST(N'2026-07-21T07:04:39.883' AS DateTime), 12, NULL, NULL, NULL)
INSERT [dbo].[test_orders] ([id], [medical_record_id], [doctor_id], [status], [created_at], [service_id], [reorder_reason], [sonographer_user_id], [accepted_at]) VALUES (3, 2, 6, N'Completed', CAST(N'2026-07-21T12:12:14.913' AS DateTime), 15, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[test_orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ultrasound_annotations] ON 

INSERT [dbo].[ultrasound_annotations] ([id], [order_id], [image_id], [annotation_source], [annotation_type], [annotation_data], [image_width], [image_height], [review_status], [rejection_reason], [version], [is_current], [created_by], [created_at], [updated_at], [reviewed_by], [reviewed_at]) VALUES (1, 11, 9, N'AI', N'BoundingBox', N'{"xMin":0.444336,"yMin":0.419271,"xMax":0.571289,"yMax":0.553385}', 1024, 768, N'Accepted', NULL, 1, 1, 23, CAST(N'2026-07-22T15:36:23.0000000' AS DateTime2), CAST(N'2026-07-22T15:36:23.0000000' AS DateTime2), 23, CAST(N'2026-07-22T15:36:23.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ultrasound_annotations] OFF
GO
SET IDENTITY_INSERT [dbo].[ultrasound_images] ON 

INSERT [dbo].[ultrasound_images] ([id], [test_order_id], [original_filename], [stored_filename], [file_path], [file_size], [content_type], [uploaded_by], [uploaded_at], [image_width], [image_height]) VALUES (1, 1, N'1.2.826.0.1.3680043.2.461.12161652.141376156.jpg', N'9b93752a-069d-40b9-b726-37e374499b5d.jpg', N'uploads/ultrasound/9b93752a-069d-40b9-b726-37e374499b5d.jpg', 147935, N'image/jpeg', 23, CAST(N'2026-07-21T07:05:19.960' AS DateTime), 1024, 768)
INSERT [dbo].[ultrasound_images] ([id], [test_order_id], [original_filename], [stored_filename], [file_path], [file_size], [content_type], [uploaded_by], [uploaded_at], [image_width], [image_height]) VALUES (2, 3, N'1.2.826.0.1.3680043.2.461.12175853.2759362603.jpg', N'f6701f29-b777-445b-8730-1110733c05cc.jpg', N'uploads/ultrasound/f6701f29-b777-445b-8730-1110733c05cc.jpg', 172913, N'image/jpeg', 23, CAST(N'2026-07-21T12:12:52.427' AS DateTime), 1024, 768)
INSERT [dbo].[ultrasound_images] ([id], [test_order_id], [original_filename], [stored_filename], [file_path], [file_size], [content_type], [uploaded_by], [uploaded_at], [image_width], [image_height]) VALUES (3, 4, N'1.2.826.0.1.3680043.2.461.12362330.3413090149.jpg', N'dd8ce178-e491-4266-8250-69bbbe780beb.jpg', N'uploads/ultrasound/dd8ce178-e491-4266-8250-69bbbe780beb.jpg', 127753, N'image/jpeg', 23, CAST(N'2026-07-21T23:43:43.873' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ultrasound_images] OFF
GO
SET IDENTITY_INSERT [dbo].[ultrasound_reports] ON 

SET IDENTITY_INSERT [dbo].[ultrasound_reports] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [UQ_doctor_schedules_doc_date_shift]    Script Date: 7/28/2026 1:20:58 AM ******/
ALTER TABLE [dbo].[doctor_schedules] ADD  CONSTRAINT [UQ_doctor_schedules_doc_date_shift] UNIQUE NONCLUSTERED 
(
	[doctor_id] ASC,
	[work_date] ASC,
	[shift_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__doctors__B9BE370EA83D8565]    Script Date: 7/28/2026 1:20:58 AM ******/
ALTER TABLE [dbo].[doctors] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_medicines_code]    Script Date: 7/28/2026 1:20:58 AM ******/
ALTER TABLE [dbo].[medicines] ADD  CONSTRAINT [UQ_medicines_code] UNIQUE NONCLUSTERED 
(
	[medicine_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_permissions_key]    Script Date: 7/28/2026 1:20:58 AM ******/
ALTER TABLE [dbo].[permissions] ADD  CONSTRAINT [UQ_permissions_key] UNIQUE NONCLUSTERED 
(
	[permission_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_roles_role_name]    Script Date: 7/28/2026 1:20:58 AM ******/
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [UQ_roles_role_name] UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_service_categories_category_name]    Script Date: 7/28/2026 1:20:58 AM ******/
ALTER TABLE [dbo].[service_categories] ADD  CONSTRAINT [UQ_service_categories_category_name] UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_services_code]    Script Date: 7/28/2026 1:20:58 AM ******/
ALTER TABLE [dbo].[services] ADD  CONSTRAINT [UQ_services_code] UNIQUE NONCLUSTERED 
(
	[service_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__sonograp__B9BE370E2048E35F]    Script Date: 7/28/2026 1:20:58 AM ******/
ALTER TABLE [dbo].[sonographers] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_username]    Script Date: 7/28/2026 1:20:58 AM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ_users_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ai_analysis_results] ADD  DEFAULT (getdate()) FOR [analyzed_at]
GO
ALTER TABLE [dbo].[appointments] ADD  DEFAULT ((0)) FOR [is_priority]
GO
ALTER TABLE [dbo].[appointments] ADD  CONSTRAINT [DF_appointments_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[audit_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_schedules] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[doctor_schedules] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_schedules] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[doctor_schedules] ADD  CONSTRAINT [DF_doctor_schedules_booked_count]  DEFAULT ((0)) FOR [booked_count]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT ('PRE_EXAM') FOR [invoice_type]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[medical_records] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[medical_records] ADD  CONSTRAINT [DF_medical_records_status]  DEFAULT ('final') FOR [status]
GO
ALTER TABLE [dbo].[medicine_categories] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[medicine_categories] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[medicine_categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[medicine_categories] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[medicine_price_history] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[medicines] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[medicines] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[medicines] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[medicines] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  DEFAULT ((0)) FOR [is_used]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[pregnancies] ADD  CONSTRAINT [DF_pregnancies_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[prescriptions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[prescriptions] ADD  CONSTRAINT [DF_prescriptions_purchase_decision]  DEFAULT ('Pending') FOR [purchase_decision]
GO
ALTER TABLE [dbo].[price_history] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[service_categories] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[service_categories] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[service_categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[service_categories] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[service_price_history] ADD  DEFAULT (getdate()) FOR [changed_at]
GO
ALTER TABLE [dbo].[services] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[services] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[services] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[shifts] ADD  CONSTRAINT [DF_shifts_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[shifts] ADD  CONSTRAINT [DF_shifts_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[shifts] ADD  CONSTRAINT [DF_shifts_updated_at]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[test_orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ultrasound_annotations] ADD  CONSTRAINT [DF_ultrasound_annotations_is_current]  DEFAULT ((1)) FOR [is_current]
GO
ALTER TABLE [dbo].[ultrasound_annotations] ADD  CONSTRAINT [DF_ultrasound_annotations_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[ultrasound_annotations] ADD  CONSTRAINT [DF_ultrasound_annotations_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[ultrasound_images] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[ultrasound_reports] ADD  CONSTRAINT [DF_ultrasound_reports_is_current]  DEFAULT ((1)) FOR [is_current]
GO
ALTER TABLE [dbo].[ultrasound_reports] ADD  CONSTRAINT [DF_ultrasound_reports_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_verified]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('local') FOR [auth_provider]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[ai_analysis_results]  WITH CHECK ADD FOREIGN KEY([test_order_id])
REFERENCES [dbo].[test_orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[appointment_services]  WITH CHECK ADD  CONSTRAINT [FK_appointment_services_appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[appointment_services] CHECK CONSTRAINT [FK_appointment_services_appointment]
GO
ALTER TABLE [dbo].[appointment_services]  WITH CHECK ADD  CONSTRAINT [FK_appointment_services_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[appointment_services] CHECK CONSTRAINT [FK_appointment_services_service]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[patients] ([id])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([pregnancy_id])
REFERENCES [dbo].[pregnancies] ([id])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_doctor]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[patients] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_patient]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_pregnancy] FOREIGN KEY([pregnancy_id])
REFERENCES [dbo].[pregnancies] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_pregnancy]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [FK_appointments_schedule] FOREIGN KEY([schedule_id])
REFERENCES [dbo].[doctor_schedules] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [FK_appointments_schedule]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_service]
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD  CONSTRAINT [FK_audit_logs_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[audit_logs] CHECK CONSTRAINT [FK_audit_logs_users]
GO
ALTER TABLE [dbo].[doctor_schedules]  WITH CHECK ADD FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[doctor_schedules]  WITH CHECK ADD  CONSTRAINT [FK_doctor_schedules_approved_by] FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[doctor_schedules] CHECK CONSTRAINT [FK_doctor_schedules_approved_by]
GO
ALTER TABLE [dbo].[doctor_schedules]  WITH CHECK ADD  CONSTRAINT [FK_doctor_schedules_cancelled_by] FOREIGN KEY([cancelled_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[doctor_schedules] CHECK CONSTRAINT [FK_doctor_schedules_cancelled_by]
GO
ALTER TABLE [dbo].[doctor_schedules]  WITH CHECK ADD  CONSTRAINT [FK_doctor_schedules_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[doctor_schedules] CHECK CONSTRAINT [FK_doctor_schedules_created_by]
GO
ALTER TABLE [dbo].[doctor_schedules]  WITH CHECK ADD  CONSTRAINT [fk_doctor_schedules_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[doctor_schedules] CHECK CONSTRAINT [fk_doctor_schedules_doctor]
GO
ALTER TABLE [dbo].[doctor_schedules]  WITH CHECK ADD  CONSTRAINT [FK_doctor_schedules_shift] FOREIGN KEY([shift_id])
REFERENCES [dbo].[shifts] ([id])
GO
ALTER TABLE [dbo].[doctor_schedules] CHECK CONSTRAINT [FK_doctor_schedules_shift]
GO
ALTER TABLE [dbo].[doctors]  WITH CHECK ADD  CONSTRAINT [FK_doctors_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[doctors] CHECK CONSTRAINT [FK_doctors_users]
GO
ALTER TABLE [dbo].[invoice_items]  WITH CHECK ADD FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([id])
GO
ALTER TABLE [dbo].[invoice_items]  WITH CHECK ADD  CONSTRAINT [fk_invoice_items_invoice] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([id])
GO
ALTER TABLE [dbo].[invoice_items] CHECK CONSTRAINT [fk_invoice_items_invoice]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [fk_invoices_appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [fk_invoices_appointment]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FK_invoices_confirmed_by] FOREIGN KEY([confirmed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FK_invoices_confirmed_by]
GO
ALTER TABLE [dbo].[medical_records]  WITH CHECK ADD FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[medical_records]  WITH CHECK ADD  CONSTRAINT [fk_medical_records_appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[medical_records] CHECK CONSTRAINT [fk_medical_records_appointment]
GO
ALTER TABLE [dbo].[medicine_price_history]  WITH CHECK ADD  CONSTRAINT [FK_medprice_history_medicine] FOREIGN KEY([medicine_id])
REFERENCES [dbo].[medicines] ([id])
GO
ALTER TABLE [dbo].[medicine_price_history] CHECK CONSTRAINT [FK_medprice_history_medicine]
GO
ALTER TABLE [dbo].[medicine_price_history]  WITH CHECK ADD  CONSTRAINT [FK_medprice_history_user] FOREIGN KEY([changed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[medicine_price_history] CHECK CONSTRAINT [FK_medprice_history_user]
GO
ALTER TABLE [dbo].[medicines]  WITH CHECK ADD  CONSTRAINT [FK_medicines_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[medicine_categories] ([id])
GO
ALTER TABLE [dbo].[medicines] CHECK CONSTRAINT [FK_medicines_category]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK_notifications_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK_notifications_users]
GO
ALTER TABLE [dbo].[password_reset_tokens]  WITH CHECK ADD  CONSTRAINT [FK_password_reset_tokens_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[password_reset_tokens] CHECK CONSTRAINT [FK_password_reset_tokens_users]
GO
ALTER TABLE [dbo].[patients]  WITH CHECK ADD  CONSTRAINT [FK_patients_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[patients] CHECK CONSTRAINT [FK_patients_users]
GO
ALTER TABLE [dbo].[pregnancies]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[patients] ([id])
GO
ALTER TABLE [dbo].[pregnancies]  WITH CHECK ADD  CONSTRAINT [fk_pregnancies_patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[patients] ([id])
GO
ALTER TABLE [dbo].[pregnancies] CHECK CONSTRAINT [fk_pregnancies_patient]
GO
ALTER TABLE [dbo].[prescription_items]  WITH CHECK ADD FOREIGN KEY([medicine_id])
REFERENCES [dbo].[medicines] ([id])
GO
ALTER TABLE [dbo].[prescription_items]  WITH CHECK ADD FOREIGN KEY([prescription_id])
REFERENCES [dbo].[prescriptions] ([id])
GO
ALTER TABLE [dbo].[prescription_items]  WITH CHECK ADD  CONSTRAINT [fk_prescription_items_medicine] FOREIGN KEY([medicine_id])
REFERENCES [dbo].[medicines] ([id])
GO
ALTER TABLE [dbo].[prescription_items] CHECK CONSTRAINT [fk_prescription_items_medicine]
GO
ALTER TABLE [dbo].[prescription_items]  WITH CHECK ADD  CONSTRAINT [fk_prescription_items_prescription] FOREIGN KEY([prescription_id])
REFERENCES [dbo].[prescriptions] ([id])
GO
ALTER TABLE [dbo].[prescription_items] CHECK CONSTRAINT [fk_prescription_items_prescription]
GO
ALTER TABLE [dbo].[prescriptions]  WITH CHECK ADD FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_records] ([id])
GO
ALTER TABLE [dbo].[prescriptions]  WITH CHECK ADD  CONSTRAINT [fk_prescriptions_medical_record] FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_records] ([id])
GO
ALTER TABLE [dbo].[prescriptions] CHECK CONSTRAINT [fk_prescriptions_medical_record]
GO
ALTER TABLE [dbo].[price_history]  WITH CHECK ADD  CONSTRAINT [FK_price_history_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[price_history] CHECK CONSTRAINT [FK_price_history_service]
GO
ALTER TABLE [dbo].[price_history]  WITH CHECK ADD  CONSTRAINT [FK_price_history_user] FOREIGN KEY([changed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[price_history] CHECK CONSTRAINT [FK_price_history_user]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [fk_reviews_appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [fk_reviews_appointment]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_perm] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_perm]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_role]
GO
ALTER TABLE [dbo].[service_price_history]  WITH CHECK ADD FOREIGN KEY([changed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[service_price_history]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[service_categories] ([id])
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD  CONSTRAINT [fk_services_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[service_categories] ([id])
GO
ALTER TABLE [dbo].[services] CHECK CONSTRAINT [fk_services_category]
GO
ALTER TABLE [dbo].[sonographers]  WITH CHECK ADD  CONSTRAINT [FK_sonographers_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[sonographers] CHECK CONSTRAINT [FK_sonographers_users]
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_records] ([id])
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD  CONSTRAINT [fk_test_orders_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[test_orders] CHECK CONSTRAINT [fk_test_orders_doctor]
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD  CONSTRAINT [fk_test_orders_medical_record] FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_records] ([id])
GO
ALTER TABLE [dbo].[test_orders] CHECK CONSTRAINT [fk_test_orders_medical_record]
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD  CONSTRAINT [fk_test_orders_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[test_orders] CHECK CONSTRAINT [fk_test_orders_service]
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD  CONSTRAINT [FK_test_orders_sonographer] FOREIGN KEY([sonographer_user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[test_orders] CHECK CONSTRAINT [FK_test_orders_sonographer]
GO
ALTER TABLE [dbo].[ultrasound_annotations]  WITH CHECK ADD  CONSTRAINT [FK_ultrasound_annotations_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[ultrasound_annotations] CHECK CONSTRAINT [FK_ultrasound_annotations_created_by]
GO
ALTER TABLE [dbo].[ultrasound_annotations]  WITH CHECK ADD  CONSTRAINT [FK_ultrasound_annotations_image] FOREIGN KEY([image_id])
REFERENCES [dbo].[ultrasound_images] ([id])
GO
ALTER TABLE [dbo].[ultrasound_annotations] CHECK CONSTRAINT [FK_ultrasound_annotations_image]
GO
ALTER TABLE [dbo].[ultrasound_annotations]  WITH CHECK ADD  CONSTRAINT [FK_ultrasound_annotations_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[test_orders] ([id])
GO
ALTER TABLE [dbo].[ultrasound_annotations] CHECK CONSTRAINT [FK_ultrasound_annotations_order]
GO
ALTER TABLE [dbo].[ultrasound_annotations]  WITH CHECK ADD  CONSTRAINT [FK_ultrasound_annotations_reviewed_by] FOREIGN KEY([reviewed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[ultrasound_annotations] CHECK CONSTRAINT [FK_ultrasound_annotations_reviewed_by]
GO
ALTER TABLE [dbo].[ultrasound_images]  WITH CHECK ADD FOREIGN KEY([test_order_id])
REFERENCES [dbo].[test_orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ultrasound_images]  WITH CHECK ADD FOREIGN KEY([uploaded_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[ultrasound_reports]  WITH CHECK ADD  CONSTRAINT [FK_ultrasound_reports_confirmed_by] FOREIGN KEY([doctor_confirmed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[ultrasound_reports] CHECK CONSTRAINT [FK_ultrasound_reports_confirmed_by]
GO
ALTER TABLE [dbo].[ultrasound_reports]  WITH CHECK ADD  CONSTRAINT [FK_ultrasound_reports_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[ultrasound_reports] CHECK CONSTRAINT [FK_ultrasound_reports_created_by]
GO
ALTER TABLE [dbo].[ultrasound_reports]  WITH CHECK ADD  CONSTRAINT [FK_ultrasound_reports_order] FOREIGN KEY([test_order_id])
REFERENCES [dbo].[test_orders] ([id])
GO
ALTER TABLE [dbo].[ultrasound_reports] CHECK CONSTRAINT [FK_ultrasound_reports_order]
GO
ALTER TABLE [dbo].[ultrasound_reports]  WITH CHECK ADD  CONSTRAINT [FK_ultrasound_reports_signed_by] FOREIGN KEY([signed_by_user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[ultrasound_reports] CHECK CONSTRAINT [FK_ultrasound_reports_signed_by]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [fk_users_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [fk_users_role]
GO
ALTER TABLE [dbo].[prescriptions]  WITH CHECK ADD  CONSTRAINT [CK_prescriptions_purchase_decision] CHECK  (([purchase_decision]='Declined' OR [purchase_decision]='Accepted' OR [purchase_decision]='Pending'))
GO
ALTER TABLE [dbo].[prescriptions] CHECK CONSTRAINT [CK_prescriptions_purchase_decision]
GO
ALTER TABLE [dbo].[ultrasound_annotations]  WITH CHECK ADD  CONSTRAINT [CK_ultrasound_annotations_dimensions] CHECK  (([image_width]>(0) AND [image_height]>(0)))
GO
ALTER TABLE [dbo].[ultrasound_annotations] CHECK CONSTRAINT [CK_ultrasound_annotations_dimensions]
GO
ALTER TABLE [dbo].[ultrasound_annotations]  WITH CHECK ADD  CONSTRAINT [CK_ultrasound_annotations_json] CHECK  (([annotation_data] IS NULL OR isjson([annotation_data])=(1)))
GO
ALTER TABLE [dbo].[ultrasound_annotations] CHECK CONSTRAINT [CK_ultrasound_annotations_json]
GO
ALTER TABLE [dbo].[ultrasound_annotations]  WITH CHECK ADD  CONSTRAINT [CK_ultrasound_annotations_review] CHECK  (([review_status]=N'Rejected' OR [review_status]=N'Corrected' OR [review_status]=N'Accepted' OR [review_status]=N'PendingReview'))
GO
ALTER TABLE [dbo].[ultrasound_annotations] CHECK CONSTRAINT [CK_ultrasound_annotations_review]
GO
ALTER TABLE [dbo].[ultrasound_annotations]  WITH CHECK ADD  CONSTRAINT [CK_ultrasound_annotations_source] CHECK  (([annotation_source]=N'Sonographer' OR [annotation_source]=N'AI'))
GO
ALTER TABLE [dbo].[ultrasound_annotations] CHECK CONSTRAINT [CK_ultrasound_annotations_source]
GO
ALTER TABLE [dbo].[ultrasound_annotations]  WITH CHECK ADD  CONSTRAINT [CK_ultrasound_annotations_type] CHECK  (([annotation_type]=N'None' OR [annotation_type]=N'Polygon' OR [annotation_type]=N'BoundingBox'))
GO
ALTER TABLE [dbo].[ultrasound_annotations] CHECK CONSTRAINT [CK_ultrasound_annotations_type]
GO
ALTER TABLE [dbo].[ultrasound_images]  WITH CHECK ADD  CONSTRAINT [CK_ultrasound_images_dimensions] CHECK  (([image_width] IS NULL AND [image_height] IS NULL OR [image_width]>(0) AND [image_height]>(0)))
GO
ALTER TABLE [dbo].[ultrasound_images] CHECK CONSTRAINT [CK_ultrasound_images_dimensions]
GO
ALTER TABLE [dbo].[ultrasound_reports]  WITH CHECK ADD  CONSTRAINT [CK_ultrasound_reports_status] CHECK  (([report_status]=N'Amended' OR [report_status]=N'Signed' OR [report_status]=N'Draft'))
GO
ALTER TABLE [dbo].[ultrasound_reports] CHECK CONSTRAINT [CK_ultrasound_reports_status]
GO
/****** Object:  StoredProcedure [dbo].[usp_ApproveSchedule]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ApproveSchedule]
    @schedule_id INT,
    @approved_by INT,
    @result_code INT OUTPUT,
    @slot_count  INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        UPDATE [dbo].[doctor_schedules]
        SET [status]      = 'APPROVED',
            [is_approved] = 1,
            [approved_by] = @approved_by,
            [approved_at] = GETDATE(),
            [updated_at]  = GETDATE()
        WHERE [id] = @schedule_id
          AND [status] = 'PENDING';
        IF @@ROWCOUNT = 0
        BEGIN
            IF EXISTS (SELECT 1 FROM [dbo].[doctor_schedules] WHERE [id] = @schedule_id)
                SET @result_code = 2;
            ELSE
                SET @result_code = 1;
            SET @slot_count = 0;
            ROLLBACK TRANSACTION;
            RETURN;
        END
        DECLARE @doctor_id INT, @work_date DATE, @start_time TIME(7), @end_time TIME(7);
        SELECT @doctor_id  = [doctor_id], @work_date  = [work_date], @start_time = [start_time], @end_time   = [end_time]
        FROM [dbo].[doctor_schedules]
        WHERE [id] = @schedule_id;
        DECLARE @total_minutes INT, @slot_count_local INT, @i INT;
        DECLARE @current_minutes INT, @slot_start TIME(7), @slot_end TIME(7);
        SET @total_minutes = DATEDIFF(MINUTE, @start_time, @end_time);
        SET @slot_count_local = @total_minutes / 20;
        SET @i = 0;
        WHILE @i < @slot_count_local
        BEGIN
            SET @slot_start = DATEADD(MINUTE, @i * 20, @start_time);
            SET @slot_end   = DATEADD(MINUTE, (@i + 1) * 20, @start_time);
            INSERT INTO [dbo].[time_slots] ([schedule_id], [doctor_id], [work_date], [start_time], [end_time], [status], [created_at], [updated_at])
            VALUES (@schedule_id, @doctor_id, @work_date, @slot_start, @slot_end, 'AVAILABLE', GETDATE(), GETDATE());
            SET @i = @i + 1;
        END
        COMMIT TRANSACTION;
        SET @result_code = 0;
        SET @slot_count  = @slot_count_local;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        SET @result_code = 3;
        SET @slot_count  = 0;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_BookTimeSlot]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_BookTimeSlot]
    @slot_id    INT,
    @patient_id INT,
    @result_code INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        DECLARE @current_status NVARCHAR(30);
        SELECT @current_status = [status]
        FROM [dbo].[time_slots] WITH (UPDLOCK, ROWLOCK, HOLDLOCK)
        WHERE [id] = @slot_id;
        IF @current_status IS NULL
        BEGIN
            SET @result_code = 1;
            ROLLBACK TRANSACTION;
            RETURN;
        END
        IF @current_status != 'AVAILABLE'
        BEGIN
            SET @result_code = 2;
            ROLLBACK TRANSACTION;
            RETURN;
        END
        UPDATE [dbo].[time_slots]
        SET [status]    = 'BOOKED',
            [booked_by] = @patient_id,
            [booked_at] = GETDATE(),
            [updated_at] = GETDATE()
        WHERE [id] = @slot_id
          AND [status] = 'AVAILABLE';
        COMMIT TRANSACTION;
        SET @result_code = 0;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        SET @result_code = 3;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_CancelTimeSlot]    Script Date: 7/28/2026 1:20:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_CancelTimeSlot]
    @slot_id     INT,
    @cancelled_by INT,
    @reason      NVARCHAR(500),
    @result_code INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        DECLARE @current_status NVARCHAR(30);
        SELECT @current_status = [status]
        FROM [dbo].[time_slots] WITH (UPDLOCK, ROWLOCK, HOLDLOCK)
        WHERE [id] = @slot_id;
        IF @current_status IS NULL
        BEGIN
            SET @result_code = 1;
            ROLLBACK TRANSACTION;
            RETURN;
        END
        IF @current_status != 'BOOKED'
        BEGIN
            SET @result_code = 2;
            ROLLBACK TRANSACTION;
            RETURN;
        END
        UPDATE [dbo].[time_slots]
        SET [status]     = 'CANCELLED',
            [notes]      = ISNULL(@reason, N'Bệnh nhân hủy lịch'),
            [booked_by]  = NULL,
            [booked_at]  = NULL,
            [updated_at] = GETDATE()
        WHERE [id] = @slot_id
          AND [status] = 'BOOKED';
        COMMIT TRANSACTION;
        SET @result_code = 0;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        SET @result_code = 3;
    END CATCH
END

GO
