/* Fresh-install database bootstrap. Existing databases are never dropped or overwritten. */
USE [master];
GO
IF DB_ID(N'ObstetricsClinicDB') IS NULL
    CREATE DATABASE [ObstetricsClinicDB];
GO
USE [ObstetricsClinicDB];
GO
USE [ObstetricsClinicDB]
GO
/****** Object:  Table [dbo].[ai_analysis_results]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ai_analysis_results](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test_order_id] [int] NOT NULL,
	[status] [varchar](30) NULL,
	[detected] [bit] NULL,
	[confidence] [decimal](5, 2) NULL,
	[message] [nvarchar](max) NULL,
	[input_image] [varchar](255) NULL,
	[result_image] [varchar](255) NULL,
	[mask_image] [varchar](255) NULL,
	[raw_mask_image] [varchar](255) NULL,
	[xmin] [int] NULL,
	[ymin] [int] NULL,
	[xmax] [int] NULL,
	[ymax] [int] NULL,
	[analyzed_at] [datetime] NULL,
	[error_message] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[appointments]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NULL,
	[doctor_id] [int] NULL,
	[pregnancy_id] [int] NULL,
	[appointment_date] [date] NULL,
	[booking_source] [nvarchar](50) NULL,
	[symptoms] [nvarchar](max) NULL,
	[last_menstrual_period] [date] NULL,
	[is_emergency] [bit] NULL,
	[status] [nvarchar](30) NULL,
	[service_id] [int] NULL,
	[time_slot] [time](7) NULL,
	[queue_number] [nvarchar](20) NULL,
	[slot_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[audit_logs]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action] [nvarchar](255) NULL,
	[table_name] [nvarchar](100) NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[ip_address] [varchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_schedules]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_schedules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_id] [int] NULL,
	[work_date] [date] NULL,
	[start_time] [time](7) NULL,
	[end_time] [time](7) NULL,
	[is_approved] [bit] NULL,
	[max_slots] [int] NULL,
	[status] [nvarchar](30) NOT NULL,
	[rejection_reason] [nvarchar](500) NULL,
	[approved_by] [int] NULL,
	[approved_at] [datetime2](7) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[notes] [nvarchar](max) NULL,
	[version] [timestamp] NULL,
	[cancelled_by] [int] NULL,
	[cancelled_at] [datetime2](7) NULL,
	[cancellation_reason] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctors]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[full_name] [nvarchar](100) NULL,
	[specialization] [nvarchar](100) NULL,
	[phone_number] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice_items]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NULL,
	[item_type] [varchar](50) NULL,
	[item_id] [int] NULL,
	[quantity] [int] NULL,
	[unit_price] [decimal](18, 2) NULL,
	[subtotal] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appointment_id] [int] NULL,
	[total_amount] [decimal](18, 2) NULL,
	[status] [varchar](30) NULL,
	[transaction_code] [varchar](100) NULL,
	[invoice_type] [varchar](30) NULL,
	[payment_method] [varchar](30) NULL,
	[confirmed_by] [int] NULL,
	[confirmed_at] [datetime] NULL,
	[payment_note] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lab_results]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lab_results](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test_order_id] [int] NULL,
	[service_id] [int] NULL,
	[result_details] [nvarchar](max) NULL,
	[image_url] [varchar](255) NULL,
	[lab_technician_id] [int] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medical_records]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medical_records](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appointment_id] [int] NULL,
	[clinical_notes] [nvarchar](max) NULL,
	[final_diagnosis] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicine_categories]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicine_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[icon] [varchar](50) NULL,
	[sort_order] [int] NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicine_price_history]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicine_price_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medicine_id] [int] NOT NULL,
	[old_price] [decimal](18, 2) NULL,
	[new_price] [decimal](18, 2) NOT NULL,
	[change_reason] [nvarchar](500) NULL,
	[changed_by] [int] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicines]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicines](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NULL,
	[price] [decimal](18, 2) NULL,
	[unit] [nvarchar](50) NULL,
	[medicine_code] [varchar](50) NULL,
	[dosage] [nvarchar](100) NULL,
	[stock_quantity] [int] NULL,
	[description] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[category_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[title] [varchar](255) NULL,
	[content] [nvarchar](max) NOT NULL,
	[channel] [varchar](50) NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token] [varchar](255) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[is_used] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patients]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[full_name] [nvarchar](100) NULL,
	[phone_number] [varchar](20) NULL,
	[date_of_birth] [date] NULL,
	[zalo_user_id] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[permission_key] [varchar](100) NOT NULL,
	[permission_name] [nvarchar](200) NOT NULL,
	[module] [varchar](50) NOT NULL,
	[description] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NULL,
 CONSTRAINT [PK_permissions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pregnancies]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pregnancies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NULL,
	[start_date] [date] NULL,
	[estimated_due_date] [date] NULL,
	[actual_delivery_date] [date] NULL,
	[pregnancy_status] [nvarchar](50) NULL,
	[fetus_count] [int] NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescription_items]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescription_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medicine_id] [int] NULL,
	[prescription_id] [int] NULL,
	[quantity] [int] NULL,
	[dosage] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescriptions]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescriptions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medical_record_id] [int] NULL,
	[prescription_code] [varchar](50) NULL,
	[status] [varchar](30) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[price_history]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[price_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_id] [int] NOT NULL,
	[old_price] [decimal](18, 2) NULL,
	[new_price] [decimal](18, 2) NOT NULL,
	[change_reason] [nvarchar](500) NULL,
	[changed_by] [int] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appointment_id] [int] NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[role_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
 CONSTRAINT [PK_role_permissions] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_categories]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[icon] [varchar](50) NULL,
	[sort_order] [int] NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[duration_mins] [int] NULL,
	[requires_fasting] [bit] NULL,
	[requires_full_bladder] [bit] NULL,
	[required_room_type] [nvarchar](50) NULL,
	[allowed_specialties] [nvarchar](255) NULL,
	[service_name] [nvarchar](150) NOT NULL,
	[price] [decimal](18, 2) NULL,
	[service_code] [varchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sonographers]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sonographers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[experience_years] [int] NULL,
	[qualification] [varchar](100) NULL,
	[room_no] [varchar](20) NULL,
	[status] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test_orders]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medical_record_id] [int] NULL,
	[doctor_id] [int] NULL,
	[status] [varchar](30) NULL,
	[created_at] [datetime] NULL,
	[service_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[time_slots]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[time_slots](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[schedule_id] [int] NOT NULL,
	[doctor_id] [int] NOT NULL,
	[work_date] [date] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[notes] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[booked_by] [int] NULL,
	[booked_at] [datetime2](7) NULL,
	[version] [timestamp] NOT NULL,
 CONSTRAINT [PK_time_slots] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ultrasound_images]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ultrasound_images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test_order_id] [int] NOT NULL,
	[original_filename] [nvarchar](255) NULL,
	[stored_filename] [nvarchar](255) NULL,
	[file_path] [nvarchar](500) NULL,
	[file_size] [bigint] NULL,
	[content_type] [varchar](100) NULL,
	[uploaded_by] [int] NULL,
	[uploaded_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ultrasound_results]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ultrasound_results](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medical_record_id] [int] NULL,
	[sonographer_id] [int] NULL,
	[raw_image_url] [varchar](255) NULL,
	[ai_processed_image_url] [varchar](255) NULL,
	[ai_suggested_label] [varchar](255) NULL,
	[ai_confidence_score] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[email] [varbinary](256) NULL,
	[password_hash] [varchar](255) NULL,
	[phone] [varbinary](256) NULL,
	[role_id] [int] NULL,
	[status] [varchar](30) NULL,
	[verification_token] [varchar](255) NULL,
	[is_verified] [bit] NULL,
	[google_id] [varchar](255) NULL,
	[auth_provider] [varchar](20) NOT NULL,
	[username] [nvarchar](50) NULL,
	[is_deleted] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[audit_logs] ON 

INSERT [dbo].[audit_logs] ([id], [user_id], [action], [table_name], [old_value], [new_value], [ip_address], [created_at]) VALUES (1, NULL, N'T?o m?i h? so b?nh nhân Hoàng Th? My', N'patients', N'-', N'4', N'Staff', CAST(N'2026-06-07T03:49:48.250' AS DateTime))
INSERT [dbo].[audit_logs] ([id], [user_id], [action], [table_name], [old_value], [new_value], [ip_address], [created_at]) VALUES (2, NULL, N'T?o l?ch h?n th? công cho s?n ph? Hoàng Th? My', N'appointments', N'-', N'7', N'Staff', CAST(N'2026-06-07T03:49:48.727' AS DateTime))
INSERT [dbo].[audit_logs] ([id], [user_id], [action], [table_name], [old_value], [new_value], [ip_address], [created_at]) VALUES (3, NULL, N'Đăng nhập thất bại: linhvuthuy@gmail.com', N'users', NULL, NULL, N'0:0:0:0:0:0:0:1', CAST(N'2026-07-18T00:59:50.067' AS DateTime))
SET IDENTITY_INSERT [dbo].[audit_logs] OFF
GO
SET IDENTITY_INSERT [dbo].[doctor_schedules] ON 

INSERT [dbo].[doctor_schedules] ([id], [doctor_id], [work_date], [start_time], [end_time], [is_approved], [max_slots], [status], [rejection_reason], [approved_by], [approved_at], [created_by], [created_at], [updated_at], [notes], [cancelled_by], [cancelled_at], [cancellation_reason]) VALUES (1, 3, CAST(N'2026-06-14' AS Date), CAST(N'07:00:00' AS Time), CAST(N'12:00:00' AS Time), 1, 4, N'APPROVED', NULL, 17, CAST(N'2026-07-15T00:51:18.1800000' AS DateTime2), 3, CAST(N'2026-07-13T00:51:18.1800000' AS DateTime2), CAST(N'2026-07-15T00:51:18.1800000' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[doctor_schedules] ([id], [doctor_id], [work_date], [start_time], [end_time], [is_approved], [max_slots], [status], [rejection_reason], [approved_by], [approved_at], [created_by], [created_at], [updated_at], [notes], [cancelled_by], [cancelled_at], [cancellation_reason]) VALUES (2, 5, CAST(N'2026-06-14' AS Date), CAST(N'13:00:00' AS Time), CAST(N'17:00:00' AS Time), 1, 3, N'APPROVED', NULL, 17, CAST(N'2026-07-14T00:51:18.1800000' AS DateTime2), 5, CAST(N'2026-07-12T00:51:18.1800000' AS DateTime2), CAST(N'2026-07-14T00:51:18.1800000' AS DateTime2), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[doctor_schedules] OFF
GO
SET IDENTITY_INSERT [dbo].[doctors] ON 

INSERT [dbo].[doctors] ([id], [user_id], [full_name], [specialization], [phone_number]) VALUES (1, 18, N'Nguyễn Thị Mai Hương', N'Sản khoa — Trưởng khoa', N'0903-111-001')
INSERT [dbo].[doctors] ([id], [user_id], [full_name], [specialization], [phone_number]) VALUES (2, 19, N'Trần Văn Hoàng', N'Siêu âm thai — Chẩn đoán hình ảnh', N'0903-111-002')
INSERT [dbo].[doctors] ([id], [user_id], [full_name], [specialization], [phone_number]) VALUES (3, 20, N'Lê Thị Thanh Tâm', N'Sản phụ khoa tổng quát', N'0903-111-003')
SET IDENTITY_INSERT [dbo].[doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[medicine_categories] ON 

INSERT [dbo].[medicine_categories] ([id], [category_name], [description], [icon], [sort_order], [is_active], [created_at], [updated_at]) VALUES (1, N'Sắt & Acid Folic', N'Dung dịch vệ sinh phụ nữ, duy trì pH âm đạo', N'bi-droplet-fill', 1, 1, CAST(N'2026-06-14T21:09:58.0533333' AS DateTime2), CAST(N'2026-06-14T21:09:58.0533333' AS DateTime2))
INSERT [dbo].[medicine_categories] ([id], [category_name], [description], [icon], [sort_order], [is_active], [created_at], [updated_at]) VALUES (2, N'Canxi & Vitamin D', N'Dung dịch vệ sinh phụ nữ, duy trì pH âm đạo', N'bi-bounding-box', 2, 1, CAST(N'2026-06-14T21:09:58.0533333' AS DateTime2), CAST(N'2026-06-14T21:09:58.0533333' AS DateTime2))
INSERT [dbo].[medicine_categories] ([id], [category_name], [description], [icon], [sort_order], [is_active], [created_at], [updated_at]) VALUES (3, N'Vitamin tổng hợp', N'Dung dịch vệ sinh phụ nữ, duy trì pH âm đạo', N'bi-capsule', 3, 1, CAST(N'2026-06-14T21:09:58.0533333' AS DateTime2), CAST(N'2026-06-14T21:09:58.0533333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[medicine_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[medicines] ON 

INSERT [dbo].[medicines] ([id], [name], [price], [unit], [medicine_code], [dosage], [stock_quantity], [description], [is_active], [created_at], [updated_at], [category_id]) VALUES (1, N'Ferrovit', CAST(120000.00 AS Decimal(18, 2)), N'Hộp', N'DK-01', N'Sắt fumarat + Acid Folic', 50, N'Bổ sung sắt và acid folic, hỗ trợ phòng thiếu máu thiếu sắt thai kỳ', 1, CAST(N'2026-06-07T22:15:40.3400000' AS DateTime2), CAST(N'2026-06-14T22:12:30.2290710' AS DateTime2), NULL)
INSERT [dbo].[medicines] ([id], [name], [price], [unit], [medicine_code], [dosage], [stock_quantity], [description], [is_active], [created_at], [updated_at], [category_id]) VALUES (3, N'Ferrous Sulfate 200mg', CAST(2000.00 AS Decimal(18, 2)), N'Viên', N'THUOC-SAT-02', N'Sắt (II) sulfat 200mg', 150, N'Điều trị thiếu máu thiếu sắt', 1, CAST(N'2026-06-14T21:09:58.4166667' AS DateTime2), CAST(N'2026-06-14T22:12:30.2290710' AS DateTime2), 1)
INSERT [dbo].[medicines] ([id], [name], [price], [unit], [medicine_code], [dosage], [stock_quantity], [description], [is_active], [created_at], [updated_at], [category_id]) VALUES (4, N'Tardyferon B9', CAST(5500.00 AS Decimal(18, 2)), N'Viên', N'THUOC-SAT-03', N'Sắt (II) sulfat 256.3mg + Acid Folic 0.35mg', 180, N'Dự phòng và điều trị thiếu máu thai kỳ', 1, CAST(N'2026-06-14T21:09:58.4166667' AS DateTime2), CAST(N'2026-06-14T22:12:30.2290710' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[medicines] OFF
GO
SET IDENTITY_INSERT [dbo].[notifications] ON 

INSERT [dbo].[notifications] ([id], [user_id], [title], [content], [channel], [is_read], [created_at]) VALUES (1, NULL, N'Hoàng Th? My', N'L?ch h?n khám s?n c?a b?n lúc 09:00 - 09:20 ngày 2026-06-07 dã du?c dang ký. Vui lòng d?n dúng gi? d? ti?n hành khám.', N'Zalo', 0, CAST(N'2026-06-07T03:49:48.980' AS DateTime))
SET IDENTITY_INSERT [dbo].[notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[password_reset_tokens] ON 

INSERT [dbo].[password_reset_tokens] ([id], [user_id], [token], [expires_at], [is_used], [created_at]) VALUES (1, 1, N'bf9faea2-1334-4925-8662-6309d51a78ce', CAST(N'2026-05-30T23:38:22.1031459' AS DateTime2), 1, CAST(N'2026-05-30T22:38:22.1300000' AS DateTime2))
INSERT [dbo].[password_reset_tokens] ([id], [user_id], [token], [expires_at], [is_used], [created_at]) VALUES (2, 1, N'398111b7-414f-4cf1-91bf-9b4ad95877fc', CAST(N'2026-05-30T23:45:02.4064302' AS DateTime2), 1, CAST(N'2026-05-30T22:45:02.4366667' AS DateTime2))
INSERT [dbo].[password_reset_tokens] ([id], [user_id], [token], [expires_at], [is_used], [created_at]) VALUES (3, 1, N'9159a85f-6934-4971-877c-95b5098f6864', CAST(N'2026-05-30T23:46:45.0206174' AS DateTime2), 1, CAST(N'2026-05-30T22:46:45.0500000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[password_reset_tokens] OFF
GO
SET IDENTITY_INSERT [dbo].[patients] ON 

INSERT [dbo].[patients] ([id], [user_id], [full_name], [phone_number], [date_of_birth], [zalo_user_id]) VALUES (1, 4, N'Nguy?n Th? Lan', N'0911111111', CAST(N'1996-05-12' AS Date), N'zalo_001')
INSERT [dbo].[patients] ([id], [user_id], [full_name], [phone_number], [date_of_birth], [zalo_user_id]) VALUES (2, 5, N'Tr?n Th? Mai', N'0922222222', CAST(N'1994-08-21' AS Date), N'zalo_002')
INSERT [dbo].[patients] ([id], [user_id], [full_name], [phone_number], [date_of_birth], [zalo_user_id]) VALUES (3, 6, N'Lê Th? Hoa', N'0933333333', CAST(N'1998-11-10' AS Date), N'zalo_003')
SET IDENTITY_INSERT [dbo].[patients] OFF
GO
SET IDENTITY_INSERT [dbo].[permissions] ON 

INSERT [dbo].[permissions] ([id], [permission_key], [permission_name], [module], [description], [created_at]) VALUES (1, N'user.view', N'Xem danh sách người dùng', N'users', N'Xem danh sách và thông tin chi tiết người dùng', CAST(N'2026-06-01T22:50:52.3133333' AS DateTime2))
INSERT [dbo].[permissions] ([id], [permission_key], [permission_name], [module], [description], [created_at]) VALUES (2, N'user.create', N'Tạo người dùng mới', N'users', N'Tạo tài khoản người dùng mới trong hệ thống', CAST(N'2026-06-01T22:50:52.3166667' AS DateTime2))
INSERT [dbo].[permissions] ([id], [permission_key], [permission_name], [module], [description], [created_at]) VALUES (3, N'user.edit', N'Chỉnh sửa thông tin người dùng', N'users', N'Cập nhật thông tin cá nhân và vai trò của người dùng', CAST(N'2026-06-01T22:50:52.3166667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[pregnancies] ON 

INSERT [dbo].[pregnancies] ([id], [patient_id], [start_date], [estimated_due_date], [actual_delivery_date], [pregnancy_status], [fetus_count], [notes], [created_at]) VALUES (1, 1, CAST(N'2026-01-10' AS Date), CAST(N'2026-10-17' AS Date), NULL, N'ONGOING', 1, N'Thai k? bình thu?ng', CAST(N'2026-07-18T12:31:41.367' AS DateTime))
INSERT [dbo].[pregnancies] ([id], [patient_id], [start_date], [estimated_due_date], [actual_delivery_date], [pregnancy_status], [fetus_count], [notes], [created_at]) VALUES (2, 2, CAST(N'2026-02-01' AS Date), CAST(N'2026-11-08' AS Date), NULL, N'ONGOING', 1, N'C?n theo dõi huy?t áp', CAST(N'2026-07-18T12:31:41.367' AS DateTime))
INSERT [dbo].[pregnancies] ([id], [patient_id], [start_date], [estimated_due_date], [actual_delivery_date], [pregnancy_status], [fetus_count], [notes], [created_at]) VALUES (3, 3, CAST(N'2026-03-05' AS Date), CAST(N'2026-12-10' AS Date), NULL, N'ONGOING', 2, N'Thai dôi', CAST(N'2026-07-18T12:31:41.367' AS DateTime))
SET IDENTITY_INSERT [dbo].[pregnancies] OFF
GO
SET IDENTITY_INSERT [dbo].[price_history] ON 

INSERT [dbo].[price_history] ([id], [service_id], [old_price], [new_price], [change_reason], [changed_by], [created_at]) VALUES (1, 2, NULL, CAST(500000.00 AS Decimal(18, 2)), N'Khởi tạo dịch vụ mới', 17, CAST(N'2026-06-14T13:23:47.7633333' AS DateTime2))
INSERT [dbo].[price_history] ([id], [service_id], [old_price], [new_price], [change_reason], [changed_by], [created_at]) VALUES (2, 3, NULL, CAST(400000.00 AS Decimal(18, 2)), N'Khởi tạo dịch vụ mới', 17, CAST(N'2026-06-14T13:24:56.9733333' AS DateTime2))
INSERT [dbo].[price_history] ([id], [service_id], [old_price], [new_price], [change_reason], [changed_by], [created_at]) VALUES (3, 4, NULL, CAST(200000.00 AS Decimal(18, 2)), N'Khởi tạo dịch vụ mới', 17, CAST(N'2026-06-14T13:26:26.4566667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[price_history] OFF
GO
INSERT [dbo].[role_permissions] ([role_id], [permission_id], [created_at]) VALUES (1, 1, CAST(N'2026-06-09T18:59:31.4866667' AS DateTime2))
INSERT [dbo].[role_permissions] ([role_id], [permission_id], [created_at]) VALUES (1, 2, CAST(N'2026-06-09T18:59:31.4866667' AS DateTime2))
INSERT [dbo].[role_permissions] ([role_id], [permission_id], [created_at]) VALUES (1, 3, CAST(N'2026-06-09T18:59:31.4866667' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [role_name], [description]) VALUES (1, N'Admin', N'Quản trị viên hệ thống — có toàn quyền truy cập và quản lý tất cả chức năng.')
INSERT [dbo].[roles] ([id], [role_name], [description]) VALUES (2, N'Doctor', N'Bác sĩ — khám bệnh, xem và cập nhật bệnh án, kê đơn thuốc, xem kết quả siêu âm.')
INSERT [dbo].[roles] ([id], [role_name], [description]) VALUES (3, N'Manager', N'Quản lý phòng khám — giám sát hoạt động, xem báo cáo, quản lý thanh toán.')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[service_categories] ON 

INSERT [dbo].[service_categories] ([id], [category_name], [description], [icon], [sort_order], [is_active], [created_at], [updated_at]) VALUES (1, N'Khám sản', N'Dịch vụ khám thai, khám sản phụ khoa định kỳ', N'bi-clipboard2-heart', 1, 1, NULL, NULL)
INSERT [dbo].[service_categories] ([id], [category_name], [description], [icon], [sort_order], [is_active], [created_at], [updated_at]) VALUES (2, N'Siêu âm', N'Siêu âm 2D, 4D, đầu dò chẩn đoán hình ảnh', N'bi-soundwave', 2, 1, NULL, NULL)
INSERT [dbo].[service_categories] ([id], [category_name], [description], [icon], [sort_order], [is_active], [created_at], [updated_at]) VALUES (3, N'Xét nghiệm', N'Xét nghiệm tiền sản, sàng lọc, máu, nước tiểu', N'bi-droplet', 3, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[service_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[services] ON 

INSERT [dbo].[services] ([id], [category_id], [duration_mins], [requires_fasting], [requires_full_bladder], [required_room_type], [allowed_specialties], [service_name], [price], [service_code], [description], [is_active], [created_at], [updated_at]) VALUES (2, 5, 45, 0, 0, NULL, NULL, N'Soi cổ tử cung', CAST(500000.00 AS Decimal(18, 2)), N'COLPO', N'Soi tươi cổ tử cung để phát hiện viêm nhiễm, tổn thương tiền ung thư', 1, CAST(N'2026-06-14T13:23:47.7266667' AS DateTime2), CAST(N'2026-06-14T13:23:47.7266667' AS DateTime2))
INSERT [dbo].[services] ([id], [category_id], [duration_mins], [requires_fasting], [requires_full_bladder], [required_room_type], [allowed_specialties], [service_name], [price], [service_code], [description], [is_active], [created_at], [updated_at]) VALUES (3, 5, 30, 0, 0, NULL, NULL, N'Đo tim thai (NST)', CAST(400000.00 AS Decimal(18, 2)), N'NST', N'Non-Stress Test — theo dõi nhịp tim thai nhi trong 20-30 phút', 1, CAST(N'2026-06-14T13:24:56.9400000' AS DateTime2), CAST(N'2026-06-14T13:24:56.9400000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[services] OFF
GO
SET IDENTITY_INSERT [dbo].[time_slots] ON 

INSERT [dbo].[time_slots] ([id], [schedule_id], [doctor_id], [work_date], [start_time], [end_time], [status], [notes], [created_at], [updated_at], [booked_by], [booked_at]) VALUES (1, 1, 3, CAST(N'2026-06-14' AS Date), CAST(N'07:00:00' AS Time), CAST(N'07:20:00' AS Time), N'AVAILABLE', NULL, CAST(N'2026-07-18T00:58:05.9066667' AS DateTime2), CAST(N'2026-07-18T00:58:05.9066667' AS DateTime2), NULL, NULL)
INSERT [dbo].[time_slots] ([id], [schedule_id], [doctor_id], [work_date], [start_time], [end_time], [status], [notes], [created_at], [updated_at], [booked_by], [booked_at]) VALUES (2, 1, 3, CAST(N'2026-06-14' AS Date), CAST(N'07:20:00' AS Time), CAST(N'07:40:00' AS Time), N'AVAILABLE', NULL, CAST(N'2026-07-18T00:58:05.9066667' AS DateTime2), CAST(N'2026-07-18T00:58:05.9066667' AS DateTime2), NULL, NULL)
INSERT [dbo].[time_slots] ([id], [schedule_id], [doctor_id], [work_date], [start_time], [end_time], [status], [notes], [created_at], [updated_at], [booked_by], [booked_at]) VALUES (3, 1, 3, CAST(N'2026-06-14' AS Date), CAST(N'07:40:00' AS Time), CAST(N'08:00:00' AS Time), N'AVAILABLE', NULL, CAST(N'2026-07-18T00:58:05.9066667' AS DateTime2), CAST(N'2026-07-18T00:58:05.9066667' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[time_slots] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [UQ__doctors__B9BE370E7F4A2F23]    Script Date: 7/18/2026 12:41:02 PM ******/
ALTER TABLE [dbo].[doctors] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_medicines_code]    Script Date: 7/18/2026 12:41:02 PM ******/
ALTER TABLE [dbo].[medicines] ADD  CONSTRAINT [UQ_medicines_code] UNIQUE NONCLUSTERED 
(
	[medicine_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__patients__B9BE370E0DA41051]    Script Date: 7/18/2026 12:41:02 PM ******/
ALTER TABLE [dbo].[patients] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_permissions_key]    Script Date: 7/18/2026 12:41:02 PM ******/
ALTER TABLE [dbo].[permissions] ADD  CONSTRAINT [UQ_permissions_key] UNIQUE NONCLUSTERED 
(
	[permission_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_roles_role_name]    Script Date: 7/18/2026 12:41:02 PM ******/
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [UQ_roles_role_name] UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_service_categories_category_name]    Script Date: 7/18/2026 12:41:02 PM ******/
ALTER TABLE [dbo].[service_categories] ADD  CONSTRAINT [UQ_service_categories_category_name] UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_services_code]    Script Date: 7/18/2026 12:41:02 PM ******/
ALTER TABLE [dbo].[services] ADD  CONSTRAINT [UQ_services_code] UNIQUE NONCLUSTERED 
(
	[service_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__sonograp__B9BE370E3F865D96]    Script Date: 7/18/2026 12:41:02 PM ******/
ALTER TABLE [dbo].[sonographers] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_username]    Script Date: 7/18/2026 12:41:02 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ_users_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ai_analysis_results] ADD  DEFAULT (getdate()) FOR [analyzed_at]
GO
ALTER TABLE [dbo].[audit_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_schedules] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[doctor_schedules] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_schedules] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT ('PRE_EXAM') FOR [invoice_type]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[lab_results] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[medical_records] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[medicine_categories] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[medicine_categories] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[medicine_categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[medicine_categories] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[medicine_price_history] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[medicines] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[medicines] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[medicines] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[medicines] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  DEFAULT ((0)) FOR [is_used]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[pregnancies] ADD  CONSTRAINT [DF_pregnancies_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[prescriptions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[price_history] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[service_categories] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[service_categories] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[service_categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[service_categories] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[services] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[services] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[services] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[test_orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[time_slots] ADD  DEFAULT ('AVAILABLE') FOR [status]
GO
ALTER TABLE [dbo].[time_slots] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[time_slots] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[ultrasound_images] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_verified]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('local') FOR [auth_provider]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[ai_analysis_results]  WITH CHECK ADD FOREIGN KEY([test_order_id])
REFERENCES [dbo].[test_orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[patients] ([id])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([pregnancy_id])
REFERENCES [dbo].[pregnancies] ([id])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_doctor]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[patients] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_patient]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_pregnancy] FOREIGN KEY([pregnancy_id])
REFERENCES [dbo].[pregnancies] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_pregnancy]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_service]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [FK_appointments_slot] FOREIGN KEY([slot_id])
REFERENCES [dbo].[time_slots] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [FK_appointments_slot]
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD  CONSTRAINT [FK_audit_logs_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[audit_logs] CHECK CONSTRAINT [FK_audit_logs_users]
GO
ALTER TABLE [dbo].[doctor_schedules]  WITH CHECK ADD FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[doctor_schedules]  WITH CHECK ADD  CONSTRAINT [FK_doctor_schedules_approved_by] FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[doctor_schedules] CHECK CONSTRAINT [FK_doctor_schedules_approved_by]
GO
ALTER TABLE [dbo].[doctor_schedules]  WITH CHECK ADD  CONSTRAINT [FK_doctor_schedules_cancelled_by] FOREIGN KEY([cancelled_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[doctor_schedules] CHECK CONSTRAINT [FK_doctor_schedules_cancelled_by]
GO
ALTER TABLE [dbo].[doctor_schedules]  WITH CHECK ADD  CONSTRAINT [FK_doctor_schedules_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[doctor_schedules] CHECK CONSTRAINT [FK_doctor_schedules_created_by]
GO
ALTER TABLE [dbo].[doctor_schedules]  WITH CHECK ADD  CONSTRAINT [fk_doctor_schedules_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[doctor_schedules] CHECK CONSTRAINT [fk_doctor_schedules_doctor]
GO
ALTER TABLE [dbo].[doctors]  WITH CHECK ADD  CONSTRAINT [FK_doctors_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[doctors] CHECK CONSTRAINT [FK_doctors_users]
GO
ALTER TABLE [dbo].[invoice_items]  WITH CHECK ADD FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([id])
GO
ALTER TABLE [dbo].[invoice_items]  WITH CHECK ADD  CONSTRAINT [fk_invoice_items_invoice] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([id])
GO
ALTER TABLE [dbo].[invoice_items] CHECK CONSTRAINT [fk_invoice_items_invoice]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [fk_invoices_appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [fk_invoices_appointment]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FK_invoices_confirmed_by] FOREIGN KEY([confirmed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FK_invoices_confirmed_by]
GO
ALTER TABLE [dbo].[lab_results]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[lab_results]  WITH CHECK ADD FOREIGN KEY([test_order_id])
REFERENCES [dbo].[test_orders] ([id])
GO
ALTER TABLE [dbo].[lab_results]  WITH CHECK ADD  CONSTRAINT [fk_lab_results_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[lab_results] CHECK CONSTRAINT [fk_lab_results_service]
GO
ALTER TABLE [dbo].[lab_results]  WITH CHECK ADD  CONSTRAINT [fk_lab_results_test_order] FOREIGN KEY([test_order_id])
REFERENCES [dbo].[test_orders] ([id])
GO
ALTER TABLE [dbo].[lab_results] CHECK CONSTRAINT [fk_lab_results_test_order]
GO
ALTER TABLE [dbo].[medical_records]  WITH CHECK ADD FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[medical_records]  WITH CHECK ADD  CONSTRAINT [fk_medical_records_appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[medical_records] CHECK CONSTRAINT [fk_medical_records_appointment]
GO
ALTER TABLE [dbo].[medicine_price_history]  WITH CHECK ADD  CONSTRAINT [FK_medprice_history_medicine] FOREIGN KEY([medicine_id])
REFERENCES [dbo].[medicines] ([id])
GO
ALTER TABLE [dbo].[medicine_price_history] CHECK CONSTRAINT [FK_medprice_history_medicine]
GO
ALTER TABLE [dbo].[medicine_price_history]  WITH CHECK ADD  CONSTRAINT [FK_medprice_history_user] FOREIGN KEY([changed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[medicine_price_history] CHECK CONSTRAINT [FK_medprice_history_user]
GO
ALTER TABLE [dbo].[medicines]  WITH CHECK ADD  CONSTRAINT [FK_medicines_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[medicine_categories] ([id])
GO
ALTER TABLE [dbo].[medicines] CHECK CONSTRAINT [FK_medicines_category]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK_notifications_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK_notifications_users]
GO
ALTER TABLE [dbo].[password_reset_tokens]  WITH CHECK ADD  CONSTRAINT [FK_password_reset_tokens_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[password_reset_tokens] CHECK CONSTRAINT [FK_password_reset_tokens_users]
GO
ALTER TABLE [dbo].[patients]  WITH CHECK ADD  CONSTRAINT [FK_patients_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[patients] CHECK CONSTRAINT [FK_patients_users]
GO
ALTER TABLE [dbo].[pregnancies]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[patients] ([id])
GO
ALTER TABLE [dbo].[pregnancies]  WITH CHECK ADD  CONSTRAINT [fk_pregnancies_patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[patients] ([id])
GO
ALTER TABLE [dbo].[pregnancies] CHECK CONSTRAINT [fk_pregnancies_patient]
GO
ALTER TABLE [dbo].[prescription_items]  WITH CHECK ADD FOREIGN KEY([medicine_id])
REFERENCES [dbo].[medicines] ([id])
GO
ALTER TABLE [dbo].[prescription_items]  WITH CHECK ADD FOREIGN KEY([prescription_id])
REFERENCES [dbo].[prescriptions] ([id])
GO
ALTER TABLE [dbo].[prescription_items]  WITH CHECK ADD  CONSTRAINT [fk_prescription_items_medicine] FOREIGN KEY([medicine_id])
REFERENCES [dbo].[medicines] ([id])
GO
ALTER TABLE [dbo].[prescription_items] CHECK CONSTRAINT [fk_prescription_items_medicine]
GO
ALTER TABLE [dbo].[prescription_items]  WITH CHECK ADD  CONSTRAINT [fk_prescription_items_prescription] FOREIGN KEY([prescription_id])
REFERENCES [dbo].[prescriptions] ([id])
GO
ALTER TABLE [dbo].[prescription_items] CHECK CONSTRAINT [fk_prescription_items_prescription]
GO
ALTER TABLE [dbo].[prescriptions]  WITH CHECK ADD FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_records] ([id])
GO
ALTER TABLE [dbo].[prescriptions]  WITH CHECK ADD  CONSTRAINT [fk_prescriptions_medical_record] FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_records] ([id])
GO
ALTER TABLE [dbo].[prescriptions] CHECK CONSTRAINT [fk_prescriptions_medical_record]
GO
ALTER TABLE [dbo].[price_history]  WITH CHECK ADD  CONSTRAINT [FK_price_history_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[price_history] CHECK CONSTRAINT [FK_price_history_service]
GO
ALTER TABLE [dbo].[price_history]  WITH CHECK ADD  CONSTRAINT [FK_price_history_user] FOREIGN KEY([changed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[price_history] CHECK CONSTRAINT [FK_price_history_user]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [fk_reviews_appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [fk_reviews_appointment]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_perm] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_perm]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_role]
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[service_categories] ([id])
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD  CONSTRAINT [fk_services_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[service_categories] ([id])
GO
ALTER TABLE [dbo].[services] CHECK CONSTRAINT [fk_services_category]
GO
ALTER TABLE [dbo].[sonographers]  WITH CHECK ADD  CONSTRAINT [FK_sonographers_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[sonographers] CHECK CONSTRAINT [FK_sonographers_users]
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_records] ([id])
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD  CONSTRAINT [fk_test_orders_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[test_orders] CHECK CONSTRAINT [fk_test_orders_doctor]
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD  CONSTRAINT [fk_test_orders_medical_record] FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_records] ([id])
GO
ALTER TABLE [dbo].[test_orders] CHECK CONSTRAINT [fk_test_orders_medical_record]
GO
ALTER TABLE [dbo].[test_orders]  WITH CHECK ADD  CONSTRAINT [fk_test_orders_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[test_orders] CHECK CONSTRAINT [fk_test_orders_service]
GO
ALTER TABLE [dbo].[time_slots]  WITH CHECK ADD  CONSTRAINT [FK_time_slots_booked_by] FOREIGN KEY([booked_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[time_slots] CHECK CONSTRAINT [FK_time_slots_booked_by]
GO
ALTER TABLE [dbo].[time_slots]  WITH CHECK ADD  CONSTRAINT [FK_time_slots_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[time_slots] CHECK CONSTRAINT [FK_time_slots_doctor]
GO
ALTER TABLE [dbo].[time_slots]  WITH CHECK ADD  CONSTRAINT [FK_time_slots_schedule] FOREIGN KEY([schedule_id])
REFERENCES [dbo].[doctor_schedules] ([id])
GO
ALTER TABLE [dbo].[time_slots] CHECK CONSTRAINT [FK_time_slots_schedule]
GO
ALTER TABLE [dbo].[ultrasound_images]  WITH CHECK ADD FOREIGN KEY([test_order_id])
REFERENCES [dbo].[test_orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ultrasound_images]  WITH CHECK ADD FOREIGN KEY([uploaded_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[ultrasound_results]  WITH CHECK ADD FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_records] ([id])
GO
ALTER TABLE [dbo].[ultrasound_results]  WITH CHECK ADD FOREIGN KEY([sonographer_id])
REFERENCES [dbo].[sonographers] ([id])
GO
ALTER TABLE [dbo].[ultrasound_results]  WITH CHECK ADD  CONSTRAINT [fk_ultrasound_results_medical_record] FOREIGN KEY([medical_record_id])
REFERENCES [dbo].[medical_records] ([id])
GO
ALTER TABLE [dbo].[ultrasound_results] CHECK CONSTRAINT [fk_ultrasound_results_medical_record]
GO
ALTER TABLE [dbo].[ultrasound_results]  WITH CHECK ADD  CONSTRAINT [fk_ultrasound_results_sonographer] FOREIGN KEY([sonographer_id])
REFERENCES [dbo].[sonographers] ([id])
GO
ALTER TABLE [dbo].[ultrasound_results] CHECK CONSTRAINT [fk_ultrasound_results_sonographer]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [fk_users_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [fk_users_role]
GO
/****** Object:  StoredProcedure [dbo].[usp_ApproveSchedule]    Script Date: 7/18/2026 12:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ApproveSchedule]
    @schedule_id INT,
    @approved_by INT,
    @result_code INT OUTPUT,
    @slot_count  INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        UPDATE [dbo].[doctor_schedules]
        SET [status]      = 'APPROVED',
            [is_approved] = 1,
            [approved_by] = @approved_by,
            [approved_at] = GETDATE(),
            [updated_at]  = GETDATE()
        WHERE [id] = @schedule_id
          AND [status] = 'PENDING';
        IF @@ROWCOUNT = 0
        BEGIN
            IF EXISTS (SELECT 1 FROM [dbo].[doctor_schedules] WHERE [id] = @schedule_id)
                SET @result_code = 2;
            ELSE
                SET @result_code = 1;
            SET @slot_count = 0;
            ROLLBACK TRANSACTION;
            RETURN;
        END
        DECLARE @doctor_id INT, @work_date DATE, @start_time TIME(7), @end_time TIME(7);
        SELECT @doctor_id  = [doctor_id], @work_date  = [work_date], @start_time = [start_time], @end_time   = [end_time]
        FROM [dbo].[doctor_schedules]
        WHERE [id] = @schedule_id;
        DECLARE @total_minutes INT, @slot_count_local INT, @i INT;
        DECLARE @current_minutes INT, @slot_start TIME(7), @slot_end TIME(7);
        SET @total_minutes = DATEDIFF(MINUTE, @start_time, @end_time);
        SET @slot_count_local = @total_minutes / 20;
        SET @i = 0;
        WHILE @i < @slot_count_local
        BEGIN
            SET @slot_start = DATEADD(MINUTE, @i * 20, @start_time);
            SET @slot_end   = DATEADD(MINUTE, (@i + 1) * 20, @start_time);
            INSERT INTO [dbo].[time_slots] ([schedule_id], [doctor_id], [work_date], [start_time], [end_time], [status], [created_at], [updated_at])
            VALUES (@schedule_id, @doctor_id, @work_date, @slot_start, @slot_end, 'AVAILABLE', GETDATE(), GETDATE());
            SET @i = @i + 1;
        END
        COMMIT TRANSACTION;
        SET @result_code = 0;
        SET @slot_count  = @slot_count_local;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        SET @result_code = 3;
        SET @slot_count  = 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_BookTimeSlot]    Script Date: 7/18/2026 12:41:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_BookTimeSlot]
    @slot_id    INT,
    @patient_id INT,
    @result_code INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        DECLARE @current_status NVARCHAR(30);
        SELECT @current_status = [status]
        FROM [dbo].[time_slots] WITH (UPDLOCK, ROWLOCK, HOLDLOCK)
        WHERE [id] = @slot_id;
        IF @current_status IS NULL
        BEGIN
            SET @result_code = 1;
            ROLLBACK TRANSACTION;
            RETURN;
        END
        IF @current_status != 'AVAILABLE'
        BEGIN
            SET @result_code = 2;
            ROLLBACK TRANSACTION;
            RETURN;
        END
        UPDATE [dbo].[time_slots]
        SET [status]    = 'BOOKED',
            [booked_by] = @patient_id,
            [booked_at] = GETDATE(),
            [updated_at] = GETDATE()
        WHERE [id] = @slot_id
          AND [status] = 'AVAILABLE';
        COMMIT TRANSACTION;
        SET @result_code = 0;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        SET @result_code = 3;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CancelTimeSlot]    Script Date: 7/18/2026 12:41:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_CancelTimeSlot]
    @slot_id     INT,
    @cancelled_by INT,
    @reason      NVARCHAR(500),
    @result_code INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        DECLARE @current_status NVARCHAR(30);
        SELECT @current_status = [status]
        FROM [dbo].[time_slots] WITH (UPDLOCK, ROWLOCK, HOLDLOCK)
        WHERE [id] = @slot_id;
        IF @current_status IS NULL
        BEGIN
            SET @result_code = 1;
            ROLLBACK TRANSACTION;
            RETURN;
        END
        IF @current_status != 'BOOKED'
        BEGIN
            SET @result_code = 2;
            ROLLBACK TRANSACTION;
            RETURN;
        END
        UPDATE [dbo].[time_slots]
        SET [status]     = 'CANCELLED',
            [notes]      = ISNULL(@reason, N'Bệnh nhân hủy lịch'),
            [booked_by]  = NULL,
            [booked_at]  = NULL,
            [updated_at] = GETDATE()
        WHERE [id] = @slot_id
          AND [status] = 'BOOKED';
        COMMIT TRANSACTION;
        SET @result_code = 0;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        SET @result_code = 3;
    END CATCH
END
GO


/* Integrated remap migration and retired laboratory cleanup. */
/* OCDB canonical migration plus staged script.sql data remap. Do not run on production without backup. */
SET NOCOUNT ON;
SET XACT_ABORT ON;
GO
BEGIN TRY
 BEGIN TRANSACTION;
 IF OBJECT_ID(N'dbo.ocdb_merge_id_map',N'U') IS NULL CREATE TABLE dbo.ocdb_merge_id_map(source_name sysname NOT NULL,table_name sysname NOT NULL,source_old_id int NOT NULL,final_new_id int NULL,business_key nvarchar(600) NULL,merge_action varchar(30) NOT NULL,conflict_reason nvarchar(1000) NULL,created_at datetime2 NOT NULL CONSTRAINT DF_ocdb_map_created DEFAULT SYSUTCDATETIME(),CONSTRAINT PK_ocdb_merge_id_map PRIMARY KEY(source_name,table_name,source_old_id));
 IF OBJECT_ID(N'dbo.ocdb_merge_unresolved',N'U') IS NULL CREATE TABLE dbo.ocdb_merge_unresolved(source_name sysname NOT NULL,table_name sysname NOT NULL,source_old_id int NOT NULL,business_key nvarchar(600) NULL,missing_relation nvarchar(1000) NOT NULL,candidate_mappings nvarchar(max) NULL,created_at datetime2 NOT NULL CONSTRAINT DF_ocdb_unresolved_created DEFAULT SYSUTCDATETIME(),CONSTRAINT PK_ocdb_merge_unresolved PRIMARY KEY(source_name,table_name,source_old_id));
 /* Schema compatibility used by live DAOs. */
 IF COL_LENGTH(N'dbo.doctors',N'degree') IS NULL ALTER TABLE dbo.doctors ADD degree nvarchar(100) NULL;
 IF COL_LENGTH(N'dbo.doctors',N'experience_years') IS NULL ALTER TABLE dbo.doctors ADD experience_years int NULL;
 IF COL_LENGTH(N'dbo.doctors',N'avatar_url') IS NULL ALTER TABLE dbo.doctors ADD avatar_url nvarchar(500) NULL;
 IF COL_LENGTH(N'dbo.doctors',N'bio') IS NULL ALTER TABLE dbo.doctors ADD bio nvarchar(max) NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'updated_at') IS NULL ALTER TABLE dbo.medical_records ADD updated_at datetime NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'updated_by') IS NULL ALTER TABLE dbo.medical_records ADD updated_by int NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'weight_kg') IS NULL ALTER TABLE dbo.medical_records ADD weight_kg decimal(6,2) NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'blood_pressure') IS NULL ALTER TABLE dbo.medical_records ADD blood_pressure nvarchar(30) NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'pulse_bpm') IS NULL ALTER TABLE dbo.medical_records ADD pulse_bpm int NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'temperature_c') IS NULL ALTER TABLE dbo.medical_records ADD temperature_c decimal(4,1) NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'height_cm') IS NULL ALTER TABLE dbo.medical_records ADD height_cm decimal(6,2) NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'gestational_age_weeks') IS NULL ALTER TABLE dbo.medical_records ADD gestational_age_weeks int NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'gestational_age_days') IS NULL ALTER TABLE dbo.medical_records ADD gestational_age_days int NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'fundal_height_cm') IS NULL ALTER TABLE dbo.medical_records ADD fundal_height_cm decimal(6,2) NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'fetal_heart_rate') IS NULL ALTER TABLE dbo.medical_records ADD fetal_heart_rate int NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'fetal_presentation') IS NULL ALTER TABLE dbo.medical_records ADD fetal_presentation nvarchar(100) NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'fetal_position') IS NULL ALTER TABLE dbo.medical_records ADD fetal_position nvarchar(100) NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'fetal_movement') IS NULL ALTER TABLE dbo.medical_records ADD fetal_movement nvarchar(100) NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'cervical_dilation_cm') IS NULL ALTER TABLE dbo.medical_records ADD cervical_dilation_cm decimal(5,2) NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'cervical_effacement') IS NULL ALTER TABLE dbo.medical_records ADD cervical_effacement nvarchar(100) NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'amniotic_fluid') IS NULL ALTER TABLE dbo.medical_records ADD amniotic_fluid nvarchar(100) NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'presentation_station') IS NULL ALTER TABLE dbo.medical_records ADD presentation_station nvarchar(50) NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'edema') IS NULL ALTER TABLE dbo.medical_records ADD edema nvarchar(50) NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'proteinuria') IS NULL ALTER TABLE dbo.medical_records ADD proteinuria nvarchar(50) NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'vaginal_bleeding') IS NULL ALTER TABLE dbo.medical_records ADD vaginal_bleeding bit NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'uterine_contractions') IS NULL ALTER TABLE dbo.medical_records ADD uterine_contractions bit NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'risk_flags_json') IS NULL ALTER TABLE dbo.medical_records ADD risk_flags_json nvarchar(max) NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'treatment_plan') IS NULL ALTER TABLE dbo.medical_records ADD treatment_plan nvarchar(max) NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'next_appointment_date') IS NULL ALTER TABLE dbo.medical_records ADD next_appointment_date date NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'referred_to') IS NULL ALTER TABLE dbo.medical_records ADD referred_to nvarchar(255) NULL;
 IF COL_LENGTH(N'dbo.medical_records',N'status') IS NULL ALTER TABLE dbo.medical_records ADD status varchar(30) NOT NULL CONSTRAINT DF_medical_records_status DEFAULT 'final';
 IF COL_LENGTH(N'dbo.invoice_items',N'amount') IS NULL ALTER TABLE dbo.invoice_items ADD amount AS (CONVERT(decimal(18,2),ISNULL(subtotal,ISNULL(quantity,0)*ISNULL(unit_price,0))));
 PRINT N'[merge] staging script.sql source rows';SELECT TOP (0) * INTO #Srcroles FROM (SELECT * FROM dbo.roles) AS x;
SELECT TOP (0) * INTO #Srcpermissions FROM (SELECT * FROM dbo.permissions) AS x;
SELECT TOP (0) * INTO #Srcrole_permissions FROM (SELECT * FROM dbo.role_permissions) AS x;
SELECT TOP (0) * INTO #Srcusers FROM (SELECT * FROM dbo.users) AS x;
SELECT TOP (0) * INTO #Srcpatients FROM (SELECT * FROM dbo.patients) AS x;
SELECT TOP (0) * INTO #Srcdoctors FROM (SELECT * FROM dbo.doctors) AS x;
SELECT TOP (0) * INTO #Srcsonographers FROM (SELECT * FROM dbo.sonographers) AS x;
SELECT TOP (0) * INTO #Srcservices FROM (SELECT * FROM dbo.services) AS x;
SELECT TOP (0) * INTO #Srcdoctor_schedules FROM (SELECT * FROM dbo.doctor_schedules) AS x;
SELECT TOP (0) * INTO #Srctime_slots FROM (SELECT * FROM dbo.time_slots) AS x;
SELECT TOP (0) * INTO #Srcappointments FROM (SELECT * FROM dbo.appointments) AS x;
SELECT TOP (0) * INTO #Srcinvoices FROM (SELECT * FROM dbo.invoices) AS x;
SELECT TOP (0) * INTO #Srcaudit_logs FROM (SELECT * FROM dbo.audit_logs) AS x;
SET IDENTITY_INSERT #Srcroles ON;
INSERT #Srcroles ([id], [role_name], [description]) VALUES (1, N'Admin', N'Quản trị viên hệ thống — có toàn quyền truy cập và quản lý tất cả chức năng.')
INSERT #Srcroles ([id], [role_name], [description]) VALUES (2, N'Doctor', N'Bác sĩ — khám bệnh, xem và cập nhật bệnh án, kê đơn thuốc, xem kết quả siêu âm.')
INSERT #Srcroles ([id], [role_name], [description]) VALUES (3, N'Manager', N'Quản lý phòng khám — giám sát hoạt động, xem báo cáo, quản lý thanh toán.')
SET IDENTITY_INSERT #Srcroles OFF;
SET IDENTITY_INSERT #Srcpermissions ON;
INSERT #Srcpermissions ([id], [permission_key], [permission_name], [module], [description], [created_at]) VALUES (1, N'user.view', N'Xem danh sách người dùng', N'users', N'Xem danh sách và thông tin chi tiết người dùng', CAST(N'2026-06-01T22:50:52.3133333' AS DateTime2))
INSERT #Srcpermissions ([id], [permission_key], [permission_name], [module], [description], [created_at]) VALUES (2, N'user.create', N'Tạo người dùng mới', N'users', N'Tạo tài khoản người dùng mới trong hệ thống', CAST(N'2026-06-01T22:50:52.3166667' AS DateTime2))
INSERT #Srcpermissions ([id], [permission_key], [permission_name], [module], [description], [created_at]) VALUES (3, N'user.edit', N'Chỉnh sửa thông tin người dùng', N'users', N'Cập nhật thông tin cá nhân và vai trò của người dùng', CAST(N'2026-06-01T22:50:52.3166667' AS DateTime2))
SET IDENTITY_INSERT #Srcpermissions OFF;
INSERT #Srcrole_permissions ([role_id], [permission_id], [created_at]) VALUES (1, 1, CAST(N'2026-06-09T18:59:31.4866667' AS DateTime2))
INSERT #Srcrole_permissions ([role_id], [permission_id], [created_at]) VALUES (1, 2, CAST(N'2026-06-09T18:59:31.4866667' AS DateTime2))
INSERT #Srcrole_permissions ([role_id], [permission_id], [created_at]) VALUES (1, 3, CAST(N'2026-06-09T18:59:31.4866667' AS DateTime2))
SET IDENTITY_INSERT #Srcusers ON;
SET IDENTITY_INSERT #Srcusers OFF;
SET IDENTITY_INSERT #Srcpatients ON;
INSERT #Srcpatients ([id], [user_id], [full_name], [phone_number], [date_of_birth], [zalo_user_id]) VALUES (1, 4, N'Nguy?n Th? Lan', N'0911111111', CAST(N'1996-05-12' AS Date), N'zalo_001')
INSERT #Srcpatients ([id], [user_id], [full_name], [phone_number], [date_of_birth], [zalo_user_id]) VALUES (2, 5, N'Tr?n Th? Mai', N'0922222222', CAST(N'1994-08-21' AS Date), N'zalo_002')
INSERT #Srcpatients ([id], [user_id], [full_name], [phone_number], [date_of_birth], [zalo_user_id]) VALUES (3, 6, N'Lê Th? Hoa', N'0933333333', CAST(N'1998-11-10' AS Date), N'zalo_003')
SET IDENTITY_INSERT #Srcpatients OFF;
SET IDENTITY_INSERT #Srcdoctors ON;
INSERT #Srcdoctors ([id], [user_id], [full_name], [specialization], [phone_number]) VALUES (1, 24, N'Nguyễn Thị Mai Hương', N'Sản khoa — Trưởng khoa', N'0903-111-001')
INSERT #Srcdoctors ([id], [user_id], [full_name], [specialization], [phone_number]) VALUES (2, 25, N'Trần Văn Hoàng', N'Siêu âm thai — Chẩn đoán hình ảnh', N'0903-111-002')
INSERT #Srcdoctors ([id], [user_id], [full_name], [specialization], [phone_number]) VALUES (3, 26, N'Lê Thị Thanh Tâm', N'Sản phụ khoa tổng quát', N'0903-111-003')
SET IDENTITY_INSERT #Srcdoctors OFF;
SET IDENTITY_INSERT #Srcsonographers ON;
INSERT #Srcsonographers ([id], [user_id], [experience_years], [qualification], [room_no], [status]) VALUES (1, 21, 8, N'Obstetric ultrasound certificate', N'SA-01', N'Active')
INSERT #Srcsonographers ([id], [user_id], [experience_years], [qualification], [room_no], [status]) VALUES (2, 22, 5, N'Diagnostic ultrasound certificate', N'SA-02', N'Active')
INSERT #Srcsonographers ([id], [user_id], [experience_years], [qualification], [room_no], [status]) VALUES (3, 23, 3, N'General ultrasound certificate', N'SA-03', N'Active')
SET IDENTITY_INSERT #Srcsonographers OFF;
SET IDENTITY_INSERT #Srcservices ON;
INSERT #Srcservices ([id], [category_id], [duration_mins], [requires_fasting], [requires_full_bladder], [required_room_type], [allowed_specialties], [service_name], [price], [service_code], [description], [is_active], [created_at], [updated_at]) VALUES (2, 5, 45, 0, 0, NULL, NULL, N'Soi cổ tử cung', CAST(500000.00 AS Decimal(18, 2)), N'COLPO', N'Soi tươi cổ tử cung để phát hiện viêm nhiễm, tổn thương tiền ung thư', 1, CAST(N'2026-06-14T13:23:47.7266667' AS DateTime2), CAST(N'2026-06-14T13:23:47.7266667' AS DateTime2))
INSERT #Srcservices ([id], [category_id], [duration_mins], [requires_fasting], [requires_full_bladder], [required_room_type], [allowed_specialties], [service_name], [price], [service_code], [description], [is_active], [created_at], [updated_at]) VALUES (3, 5, 30, 0, 0, NULL, NULL, N'Đo tim thai (NST)', CAST(400000.00 AS Decimal(18, 2)), N'NST', N'Non-Stress Test — theo dõi nhịp tim thai nhi trong 20-30 phút', 1, CAST(N'2026-06-14T13:24:56.9400000' AS DateTime2), CAST(N'2026-06-14T13:24:56.9400000' AS DateTime2))
SET IDENTITY_INSERT #Srcservices OFF;
SET IDENTITY_INSERT #Srcdoctor_schedules ON;
INSERT #Srcdoctor_schedules ([id], [doctor_id], [work_date], [start_time], [end_time], [is_approved], [max_slots], [status], [rejection_reason], [approved_by], [approved_at], [created_by], [created_at], [updated_at], [notes], [cancelled_by], [cancelled_at], [cancellation_reason]) VALUES (1, 3, CAST(N'2026-06-14' AS Date), CAST(N'07:00:00' AS Time), CAST(N'12:00:00' AS Time), 1, 4, N'APPROVED', NULL, 17, CAST(N'2026-07-14T02:14:55.2966667' AS DateTime2), 3, CAST(N'2026-07-12T02:14:55.2966667' AS DateTime2), CAST(N'2026-07-14T02:14:55.2966667' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT #Srcdoctor_schedules ([id], [doctor_id], [work_date], [start_time], [end_time], [is_approved], [max_slots], [status], [rejection_reason], [approved_by], [approved_at], [created_by], [created_at], [updated_at], [notes], [cancelled_by], [cancelled_at], [cancellation_reason]) VALUES (2, 5, CAST(N'2026-06-14' AS Date), CAST(N'13:00:00' AS Time), CAST(N'17:00:00' AS Time), 1, 3, N'APPROVED', NULL, 17, CAST(N'2026-07-13T02:14:55.3000000' AS DateTime2), 5, CAST(N'2026-07-11T02:14:55.3000000' AS DateTime2), CAST(N'2026-07-13T02:14:55.3000000' AS DateTime2), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT #Srcdoctor_schedules OFF;
SET IDENTITY_INSERT #Srctime_slots ON;
INSERT #Srctime_slots ([id], [schedule_id], [doctor_id], [work_date], [start_time], [end_time], [status], [notes], [created_at], [updated_at], [booked_by], [booked_at]) VALUES (1, 1, 3, CAST(N'2026-06-14' AS Date), CAST(N'07:00:00' AS Time), CAST(N'07:20:00' AS Time), N'AVAILABLE', NULL, CAST(N'2026-07-17T02:14:56.0415328' AS DateTime2), CAST(N'2026-07-17T02:14:56.0415328' AS DateTime2), NULL, NULL)
INSERT #Srctime_slots ([id], [schedule_id], [doctor_id], [work_date], [start_time], [end_time], [status], [notes], [created_at], [updated_at], [booked_by], [booked_at]) VALUES (2, 1, 3, CAST(N'2026-06-14' AS Date), CAST(N'07:20:00' AS Time), CAST(N'07:40:00' AS Time), N'AVAILABLE', NULL, CAST(N'2026-07-17T02:14:56.0430731' AS DateTime2), CAST(N'2026-07-17T02:14:56.0430731' AS DateTime2), NULL, NULL)
INSERT #Srctime_slots ([id], [schedule_id], [doctor_id], [work_date], [start_time], [end_time], [status], [notes], [created_at], [updated_at], [booked_by], [booked_at]) VALUES (3, 1, 3, CAST(N'2026-06-14' AS Date), CAST(N'07:40:00' AS Time), CAST(N'08:00:00' AS Time), N'AVAILABLE', NULL, CAST(N'2026-07-17T02:14:56.0430731' AS DateTime2), CAST(N'2026-07-17T02:14:56.0430731' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT #Srctime_slots OFF;
SET IDENTITY_INSERT #Srcappointments ON;
INSERT #Srcappointments ([id], [patient_id], [doctor_id], [pregnancy_id], [appointment_date], [booking_source], [symptoms], [last_menstrual_period], [is_emergency], [status], [service_id], [time_slot]) VALUES (1, 11, 5, NULL, CAST(N'2026-07-16' AS Date), N'referral', N'Thai máy ít, lo lắng', NULL, 0, N'completed', 20, CAST(N'15:00:00' AS Time))
INSERT #Srcappointments ([id], [patient_id], [doctor_id], [pregnancy_id], [appointment_date], [booking_source], [symptoms], [last_menstrual_period], [is_emergency], [status], [service_id], [time_slot]) VALUES (2, 1, 1, NULL, CAST(N'2026-07-02' AS Date), N'referral', N'Đau lưng, phù chân nhẹ', CAST(N'2026-06-02' AS Date), 0, N'completed', 36, CAST(N'09:00:00' AS Time))
INSERT #Srcappointments ([id], [patient_id], [doctor_id], [pregnancy_id], [appointment_date], [booking_source], [symptoms], [last_menstrual_period], [is_emergency], [status], [service_id], [time_slot]) VALUES (3, 7, 1, NULL, CAST(N'2026-06-27' AS Date), N'referral', NULL, NULL, 0, N'confirmed', 8, CAST(N'15:00:00' AS Time))
SET IDENTITY_INSERT #Srcappointments OFF;
SET IDENTITY_INSERT #Srcinvoices ON;
INSERT #Srcinvoices ([id], [appointment_id], [total_amount], [status], [transaction_code]) VALUES (1, 1, CAST(168000.00 AS Decimal(18, 2)), N'paid', N'INV-20260716-0001')
INSERT #Srcinvoices ([id], [appointment_id], [total_amount], [status], [transaction_code]) VALUES (2, 2, CAST(282500.00 AS Decimal(18, 2)), N'paid', N'INV-20260702-0002')
INSERT #Srcinvoices ([id], [appointment_id], [total_amount], [status], [transaction_code]) VALUES (3, 3, CAST(186000.00 AS Decimal(18, 2)), N'paid', N'INV-20260627-0003')
SET IDENTITY_INSERT #Srcinvoices OFF;
SET IDENTITY_INSERT #Srcaudit_logs ON;
INSERT #Srcaudit_logs ([id], [user_id], [action], [table_name], [old_value], [new_value], [ip_address], [created_at]) VALUES (1, NULL, N'T?o m?i h? so b?nh nhân Hoàng Th? My', N'patients', N'-', N'4', N'Staff', CAST(N'2026-06-07T03:49:48.250' AS DateTime))
INSERT #Srcaudit_logs ([id], [user_id], [action], [table_name], [old_value], [new_value], [ip_address], [created_at]) VALUES (2, NULL, N'T?o l?ch h?n th? công cho s?n ph? Hoàng Th? My', N'appointments', N'-', N'7', N'Staff', CAST(N'2026-06-07T03:49:48.727' AS DateTime))
INSERT #Srcaudit_logs ([id], [user_id], [action], [table_name], [old_value], [new_value], [ip_address], [created_at]) VALUES (3, 16, N'Đăng nhập thành công', N'users', NULL, N'roleId=1', N'0:0:0:0:0:0:0:1', CAST(N'2026-07-17T02:15:35.517' AS DateTime))
 /* Roles/permissions/services map strictly by business key. */
 CREATE TABLE #RoleMap(source_old_id int PRIMARY KEY,final_new_id int,business_key nvarchar(600),merge_action varchar(30),conflict_reason nvarchar(1000));
 INSERT #RoleMap SELECT s.id,r.id,r.role_name,'DEDUPLICATED',NULL FROM #Srcroles s JOIN dbo.roles r ON r.role_name=s.role_name;
 INSERT dbo.roles(role_name,description) SELECT s.role_name,s.description FROM #Srcroles s WHERE NOT EXISTS(SELECT 1 FROM dbo.roles r WHERE r.role_name=s.role_name);
 INSERT #RoleMap SELECT s.id,r.id,r.role_name,'INSERTED',NULL FROM #Srcroles s JOIN dbo.roles r ON r.role_name=s.role_name WHERE NOT EXISTS(SELECT 1 FROM #RoleMap m WHERE m.source_old_id=s.id);
 CREATE TABLE #UserMap(source_old_id int PRIMARY KEY,final_new_id int,business_key nvarchar(600),merge_action varchar(30),conflict_reason nvarchar(1000));
 INSERT #UserMap SELECT s.id,u.id,COALESCE(s.username,CONVERT(nvarchar(600),s.email,1)),'DEDUPLICATED',NULL FROM #Srcusers s JOIN dbo.users u ON (s.username IS NOT NULL AND u.username=s.username) OR (s.username IS NULL AND u.email=s.email);
 INSERT dbo.users(full_name,email,password_hash,phone,role_id,status,verification_token,is_verified,google_id,auth_provider,username,is_deleted,created_at,updated_at)
 SELECT s.full_name,s.email,s.password_hash,s.phone,rm.final_new_id,s.status,s.verification_token,s.is_verified,s.google_id,s.auth_provider,s.username,s.is_deleted,s.created_at,s.updated_at FROM #Srcusers s JOIN #RoleMap rm ON rm.source_old_id=s.role_id WHERE NOT EXISTS(SELECT 1 FROM #UserMap m WHERE m.source_old_id=s.id);
 INSERT #UserMap SELECT s.id,u.id,COALESCE(s.username,CONVERT(nvarchar(600),s.email,1)),'INSERTED',NULL FROM #Srcusers s JOIN dbo.users u ON (s.username IS NOT NULL AND u.username=s.username) OR (s.username IS NULL AND u.email=s.email) WHERE NOT EXISTS(SELECT 1 FROM #UserMap m WHERE m.source_old_id=s.id);
 CREATE TABLE #PatientMap(source_old_id int PRIMARY KEY,final_new_id int,business_key nvarchar(600),merge_action varchar(30),conflict_reason nvarchar(1000));
 INSERT #PatientMap SELECT s.id,p.id,CONCAT(um.final_new_id,N'|',s.full_name,N'|',CONVERT(nvarchar(10),s.date_of_birth,23)),'DEDUPLICATED',NULL FROM #Srcpatients s LEFT JOIN #UserMap um ON um.source_old_id=s.user_id JOIN dbo.patients p ON ISNULL(p.user_id,-1)=ISNULL(um.final_new_id,-1) AND p.full_name=s.full_name AND ISNULL(p.date_of_birth,'19000101')=ISNULL(s.date_of_birth,'19000101');
 INSERT #PatientMap SELECT s.id,p.id,CONCAT(um.final_new_id,N'|',s.full_name), 'DEDUPLICATED_CONFLICT', N'Existing OCDB patient has the same mapped user_id; source profile was retained through appointment remap without overwrite.' FROM #Srcpatients s JOIN #UserMap um ON um.source_old_id=s.user_id JOIN dbo.patients p ON p.user_id=um.final_new_id WHERE NOT EXISTS(SELECT 1 FROM #PatientMap m WHERE m.source_old_id=s.id);
 INSERT #PatientMap SELECT s.id,p.id,CONCAT(N'zalo|',ISNULL(s.zalo_user_id,s.phone_number)), 'DEDUPLICATED', N'Matched existing OCDB patient by Zalo ID or phone/date of birth.' FROM #Srcpatients s JOIN dbo.patients p ON s.user_id IS NULL AND ((s.zalo_user_id IS NOT NULL AND p.zalo_user_id=s.zalo_user_id) OR (s.zalo_user_id IS NULL AND p.phone_number=s.phone_number AND ISNULL(p.date_of_birth,'19000101')=ISNULL(s.date_of_birth,'19000101'))) WHERE NOT EXISTS(SELECT 1 FROM #PatientMap m WHERE m.source_old_id=s.id);
 INSERT dbo.patients(user_id,full_name,phone_number,date_of_birth,zalo_user_id) SELECT um.final_new_id,s.full_name,s.phone_number,s.date_of_birth,s.zalo_user_id FROM #Srcpatients s LEFT JOIN #UserMap um ON um.source_old_id=s.user_id WHERE NOT EXISTS(SELECT 1 FROM #PatientMap m WHERE m.source_old_id=s.id);
 INSERT #PatientMap SELECT s.id,p.id,CONCAT(ISNULL(p.user_id,-1),N'|',p.full_name,N'|',CONVERT(nvarchar(10),p.date_of_birth,23)),'INSERTED',NULL FROM #Srcpatients s LEFT JOIN #UserMap um ON um.source_old_id=s.user_id JOIN dbo.patients p ON ISNULL(p.user_id,-1)=ISNULL(um.final_new_id,-1) AND p.full_name=s.full_name AND ISNULL(p.date_of_birth,'19000101')=ISNULL(s.date_of_birth,'19000101') WHERE NOT EXISTS(SELECT 1 FROM #PatientMap m WHERE m.source_old_id=s.id);
 CREATE TABLE #DoctorMap(source_old_id int PRIMARY KEY,final_new_id int,business_key nvarchar(600),merge_action varchar(30),conflict_reason nvarchar(1000));
 INSERT #DoctorMap SELECT s.id,d.id,s.full_name,'DEDUPLICATED',NULL FROM #Srcdoctors s JOIN #UserMap um ON um.source_old_id=s.user_id JOIN dbo.doctors d ON d.user_id=um.final_new_id OR d.full_name=s.full_name;
 INSERT dbo.doctors(user_id,full_name,specialization,phone_number) SELECT um.final_new_id,s.full_name,s.specialization,s.phone_number FROM #Srcdoctors s JOIN #UserMap um ON um.source_old_id=s.user_id WHERE NOT EXISTS(SELECT 1 FROM #DoctorMap m WHERE m.source_old_id=s.id);
 INSERT #DoctorMap SELECT s.id,d.id,d.full_name,'INSERTED',NULL FROM #Srcdoctors s JOIN #UserMap um ON um.source_old_id=s.user_id JOIN dbo.doctors d ON d.user_id=um.final_new_id WHERE NOT EXISTS(SELECT 1 FROM #DoctorMap m WHERE m.source_old_id=s.id);
 CREATE TABLE #SonographerMap(source_old_id int PRIMARY KEY,final_new_id int,business_key nvarchar(600),merge_action varchar(30),conflict_reason nvarchar(1000));
 INSERT #SonographerMap SELECT s.id,x.id,CONVERT(nvarchar(20),um.final_new_id),'DEDUPLICATED',NULL FROM #Srcsonographers s JOIN #UserMap um ON um.source_old_id=s.user_id JOIN dbo.sonographers x ON x.user_id=um.final_new_id;
 INSERT dbo.sonographers(user_id,experience_years,qualification,room_no,status) SELECT um.final_new_id,s.experience_years,s.qualification,s.room_no,s.status FROM #Srcsonographers s JOIN #UserMap um ON um.source_old_id=s.user_id WHERE NOT EXISTS(SELECT 1 FROM #SonographerMap m WHERE m.source_old_id=s.id);
 INSERT #SonographerMap SELECT s.id,x.id,CONVERT(nvarchar(20),x.user_id),'INSERTED',NULL FROM #Srcsonographers s JOIN #UserMap um ON um.source_old_id=s.user_id JOIN dbo.sonographers x ON x.user_id=um.final_new_id WHERE NOT EXISTS(SELECT 1 FROM #SonographerMap m WHERE m.source_old_id=s.id);
 CREATE TABLE #ServiceMap(source_old_id int PRIMARY KEY,final_new_id int,business_key nvarchar(600),merge_action varchar(30),conflict_reason nvarchar(1000));
 INSERT #ServiceMap SELECT s.id,f.id,f.service_code,'DEDUPLICATED',NULL FROM #Srcservices s JOIN dbo.services f ON f.service_code=s.service_code;
 CREATE TABLE #AppointmentMap(source_old_id int PRIMARY KEY,final_new_id int,business_key nvarchar(600),merge_action varchar(30),conflict_reason nvarchar(1000));
 INSERT dbo.appointments(patient_id,doctor_id,pregnancy_id,appointment_date,booking_source,symptoms,last_menstrual_period,is_emergency,status,service_id,time_slot,queue_number,slot_id)
 SELECT pm.final_new_id,dm.final_new_id,s.pregnancy_id,s.appointment_date,s.booking_source,s.symptoms,s.last_menstrual_period,s.is_emergency,s.status,sm.final_new_id,s.time_slot,s.queue_number,s.slot_id FROM #Srcappointments s JOIN #PatientMap pm ON pm.source_old_id=s.patient_id JOIN #DoctorMap dm ON dm.source_old_id=s.doctor_id LEFT JOIN #ServiceMap sm ON sm.source_old_id=s.service_id WHERE NOT EXISTS(SELECT 1 FROM dbo.appointments a WHERE a.patient_id=pm.final_new_id AND a.doctor_id=dm.final_new_id AND a.appointment_date=s.appointment_date AND ISNULL(a.time_slot,'00:00')=ISNULL(s.time_slot,'00:00') AND ISNULL(a.service_id,-1)=ISNULL(sm.final_new_id,-1));
 INSERT #AppointmentMap SELECT s.id,a.id,CONCAT(pm.final_new_id,N'|',dm.final_new_id,N'|',CONVERT(nvarchar(10),s.appointment_date,23),N'|',CONVERT(nvarchar(16),s.time_slot)),'INSERTED_OR_DEDUP',NULL FROM #Srcappointments s JOIN #PatientMap pm ON pm.source_old_id=s.patient_id JOIN #DoctorMap dm ON dm.source_old_id=s.doctor_id LEFT JOIN #ServiceMap sm ON sm.source_old_id=s.service_id JOIN dbo.appointments a ON a.patient_id=pm.final_new_id AND a.doctor_id=dm.final_new_id AND a.appointment_date=s.appointment_date AND ISNULL(a.time_slot,'00:00')=ISNULL(s.time_slot,'00:00') AND ISNULL(a.service_id,-1)=ISNULL(sm.final_new_id,-1);
 INSERT dbo.invoices(appointment_id,total_amount,status,transaction_code) SELECT am.final_new_id,s.total_amount,s.status,s.transaction_code FROM #Srcinvoices s JOIN #AppointmentMap am ON am.source_old_id=s.appointment_id WHERE NOT EXISTS(SELECT 1 FROM dbo.invoices i WHERE (s.transaction_code IS NOT NULL AND i.transaction_code=s.transaction_code) OR (s.transaction_code IS NULL AND i.appointment_id=am.final_new_id AND i.total_amount=s.total_amount));
 INSERT dbo.ocdb_merge_id_map(source_name,table_name,source_old_id,final_new_id,business_key,merge_action,conflict_reason) SELECT N'script.sql',N'users',source_old_id,final_new_id,business_key,merge_action,conflict_reason FROM #UserMap m WHERE NOT EXISTS(SELECT 1 FROM dbo.ocdb_merge_id_map x WHERE x.source_name=N'script.sql' AND x.table_name=N'users' AND x.source_old_id=m.source_old_id);
 INSERT dbo.ocdb_merge_id_map(source_name,table_name,source_old_id,final_new_id,business_key,merge_action,conflict_reason) SELECT N'script.sql',N'patients',source_old_id,final_new_id,business_key,merge_action,conflict_reason FROM #PatientMap m WHERE NOT EXISTS(SELECT 1 FROM dbo.ocdb_merge_id_map x WHERE x.source_name=N'script.sql' AND x.table_name=N'patients' AND x.source_old_id=m.source_old_id);
 INSERT dbo.ocdb_merge_id_map(source_name,table_name,source_old_id,final_new_id,business_key,merge_action,conflict_reason) SELECT N'script.sql',N'doctors',source_old_id,final_new_id,business_key,merge_action,conflict_reason FROM #DoctorMap m WHERE NOT EXISTS(SELECT 1 FROM dbo.ocdb_merge_id_map x WHERE x.source_name=N'script.sql' AND x.table_name=N'doctors' AND x.source_old_id=m.source_old_id);
 INSERT dbo.ocdb_merge_id_map(source_name,table_name,source_old_id,final_new_id,business_key,merge_action,conflict_reason) SELECT N'script.sql',N'appointments',source_old_id,final_new_id,business_key,merge_action,conflict_reason FROM #AppointmentMap m WHERE NOT EXISTS(SELECT 1 FROM dbo.ocdb_merge_id_map x WHERE x.source_name=N'script.sql' AND x.table_name=N'appointments' AND x.source_old_id=m.source_old_id);
 INSERT dbo.ocdb_merge_unresolved(source_name,table_name,source_old_id,business_key,missing_relation,candidate_mappings) SELECT N'script.sql',N'appointments',s.id,CONCAT(s.patient_id,N'|',s.doctor_id),N'Patient, doctor, or service business-key map not found',NULL FROM #Srcappointments s LEFT JOIN #AppointmentMap m ON m.source_old_id=s.id WHERE m.source_old_id IS NULL AND NOT EXISTS(SELECT 1 FROM dbo.ocdb_merge_unresolved u WHERE u.source_name=N'script.sql' AND u.table_name=N'appointments' AND u.source_old_id=s.id);
 /* Application RBAC baseline: Manager schedule approval and time-slot management. */
 IF NOT EXISTS (SELECT 1 FROM dbo.permissions WHERE permission_key=N'schedule.view')
     INSERT dbo.permissions(permission_key,permission_name,module,description,created_at)
     VALUES (N'schedule.view',N'View and manage doctor schedules',N'schedules',N'Approve doctor schedules and manage examination time slots.',SYSUTCDATETIME());
 IF NOT EXISTS (
     SELECT 1 FROM dbo.role_permissions rp
     JOIN dbo.roles r ON r.id=rp.role_id
     JOIN dbo.permissions p ON p.id=rp.permission_id
     WHERE r.role_name=N'Manager' AND p.permission_key=N'schedule.view'
 )
     INSERT dbo.role_permissions(role_id,permission_id)
     SELECT r.id,p.id FROM dbo.roles r CROSS JOIN dbo.permissions p
     WHERE r.role_name=N'Manager' AND p.permission_key=N'schedule.view';
 /* Repair pre-existing OCDB role/profile inconsistency.  A user who is active
    as Doctor must have a doctors row before Doctor controllers can operate. */
 INSERT dbo.doctors(user_id,full_name,phone_number,specialization)
 SELECT u.id,u.full_name,NULL,NULL
 FROM dbo.users u
 LEFT JOIN dbo.doctors d ON d.user_id=u.id
 WHERE u.role_id=2
   AND u.status=N'Active'
   AND ISNULL(u.is_deleted,0)=0
   AND d.id IS NULL;
 INSERT dbo.sonographers(user_id,status)
 SELECT u.id,N'Active'
 FROM dbo.users u
 LEFT JOIN dbo.sonographers s ON s.user_id=u.id
 WHERE u.role_id=6
   AND u.status=N'Active'
   AND ISNULL(u.is_deleted,0)=0
   AND s.id IS NULL;
 COMMIT TRANSACTION; PRINT N'[merge] completed staged remap';
END TRY
BEGIN CATCH
 IF XACT_STATE()<>0 ROLLBACK TRANSACTION; THROW;
END CATCH;
GO
SET IDENTITY_INSERT #Srcaudit_logs OFF;

/* Retire the laboratory feature after merge completion. */

SET NOCOUNT ON;
SET XACT_ABORT ON;

BEGIN TRY
    BEGIN TRANSACTION;

    DECLARE @LabServices TABLE (id INT NOT NULL PRIMARY KEY);
    INSERT INTO @LabServices (id)
    SELECT s.id
    FROM dbo.services AS s
    INNER JOIN dbo.service_categories AS c ON c.id = s.category_id
    WHERE c.category_name = N'Xét nghiệm'
       OR s.service_code LIKE N'SVC-XN-%';

    DECLARE @LabAppointments TABLE (id INT NOT NULL PRIMARY KEY);
    INSERT INTO @LabAppointments (id)
    SELECT a.id
    FROM dbo.appointments AS a
    INNER JOIN @LabServices AS s ON s.id = a.service_id;

    DECLARE @LabInvoices TABLE (id INT NOT NULL PRIMARY KEY);
    INSERT INTO @LabInvoices (id)
    SELECT i.id
    FROM dbo.invoices AS i
    INNER JOIN @LabAppointments AS a ON a.id = i.appointment_id;

    DECLARE @LabOrders TABLE (id INT NOT NULL PRIMARY KEY);
    INSERT INTO @LabOrders (id)
    SELECT t.id
    FROM dbo.test_orders AS t
    INNER JOIN @LabServices AS s ON s.id = t.service_id;

    /* Delete dependent records before their parent appointment/order/service. */
    DELETE ii
    FROM dbo.invoice_items AS ii
    INNER JOIN @LabInvoices AS i ON i.id = ii.invoice_id;

    DELETE i
    FROM dbo.invoices AS i
    INNER JOIN @LabInvoices AS li ON li.id = i.id;

    DELETE r
    FROM dbo.reviews AS r
    INNER JOIN @LabAppointments AS a ON a.id = r.appointment_id;

    DELETE air
    FROM dbo.ai_analysis_results AS air
    INNER JOIN @LabOrders AS o ON o.id = air.test_order_id;

    DELETE ui
    FROM dbo.ultrasound_images AS ui
    INNER JOIN @LabOrders AS o ON o.id = ui.test_order_id;

    IF OBJECT_ID(N'dbo.lab_results', N'U') IS NOT NULL
    BEGIN
        DELETE lr
        FROM dbo.lab_results AS lr
        INNER JOIN @LabOrders AS o ON o.id = lr.test_order_id;
    END;

    DELETE t
    FROM dbo.test_orders AS t
    INNER JOIN @LabOrders AS o ON o.id = t.id;

    DELETE ph
    FROM dbo.price_history AS ph
    INNER JOIN @LabServices AS s ON s.id = ph.service_id;

    DELETE a
    FROM dbo.appointments AS a
    INNER JOIN @LabAppointments AS la ON la.id = a.id;

    DELETE n
    FROM dbo.notifications AS n
    WHERE n.title LIKE N'%Xét nghiệm%'
       OR n.content LIKE N'%Xét nghiệm%';

    DELETE al
    FROM dbo.audit_logs AS al
    WHERE al.table_name = N'lab_results'
       OR al.old_value LIKE N'%Lab Technician%'
       OR al.new_value LIKE N'%Lab Technician%'
       OR al.old_value LIKE N'%Xét nghiệm%'
       OR al.new_value LIKE N'%Xét nghiệm%';

    DELETE s
    FROM dbo.services AS s
    INNER JOIN @LabServices AS ls ON ls.id = s.id;

    DELETE FROM dbo.service_categories
    WHERE category_name = N'Xét nghiệm'
      AND NOT EXISTS (
          SELECT 1 FROM dbo.services AS s
          WHERE s.category_id = dbo.service_categories.id
      );

    DELETE rp
    FROM dbo.role_permissions AS rp
    INNER JOIN dbo.roles AS r ON r.id = rp.role_id
    WHERE r.role_name = N'Lab Technician';

    IF EXISTS (
        SELECT 1
        FROM dbo.users AS u
        INNER JOIN dbo.roles AS r ON r.id = u.role_id
        WHERE r.role_name = N'Lab Technician'
    )
    BEGIN
        THROW 51000, 'Lab Technician users still exist. Move or remove those users explicitly before removing the role.', 1;
    END;

    DELETE FROM dbo.roles WHERE role_name = N'Lab Technician';

    IF OBJECT_ID(N'dbo.lab_results', N'U') IS NOT NULL
        DROP TABLE dbo.lab_results;

    IF EXISTS (SELECT 1 FROM dbo.roles WHERE role_name = N'Lab Technician')
        THROW 51001, 'Lab Technician role cleanup failed.', 1;

    IF EXISTS (SELECT 1 FROM dbo.services WHERE service_code LIKE N'SVC-XN-%')
        THROW 51002, 'Laboratory service cleanup failed.', 1;

    IF EXISTS (SELECT 1 FROM dbo.service_categories WHERE category_name = N'Xét nghiệm')
        THROW 51003, 'Laboratory category cleanup failed.', 1;

    COMMIT TRANSACTION;

    SELECT
        (SELECT COUNT(*) FROM dbo.roles WHERE role_name = N'Lab Technician') AS remaining_lab_roles,
        (SELECT COUNT(*) FROM dbo.services WHERE service_code LIKE N'SVC-XN-%') AS remaining_lab_services,
        (SELECT COUNT(*) FROM dbo.service_categories WHERE category_name = N'Xét nghiệm') AS remaining_lab_categories,
        (SELECT COUNT(*) FROM dbo.appointments) AS final_appointments,
        (SELECT COUNT(*) FROM dbo.invoices) AS final_invoices;
END TRY
BEGIN CATCH
    IF XACT_STATE() <> 0 ROLLBACK TRANSACTION;
    THROW;
END CATCH;
GO

/* The OCDB baseline assigns the retired laboratory category ID 3. */
IF EXISTS (SELECT 1 FROM dbo.services WHERE category_id = 3)
    THROW 51004, 'Retired category ID 3 still has services; cleanup stopped.', 1;
DELETE FROM dbo.service_categories WHERE id = 3;
IF EXISTS (SELECT 1 FROM dbo.service_categories WHERE id = 3)
    THROW 51005, 'Retired laboratory category ID 3 cleanup failed.', 1;
GO
